<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{selectedLocation.DENOMINAZIONE|titlecase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- GALLERY IMAGES -->
  <ion-card class="ion-no-margin ion-no-padding backcolorcard">
    <ion-slides>
      <ion-slide *ngFor="let img of selectedLocation.LOCATIONIMAGE">
        <img [src]="img.IMAGEURL" tappable (click)="openPreview(img)">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- BUTTON CARD PRENOTAZIONE E CORSI -->
  <ion-list class="backcolorcard ion-list-margin-bottom ion-no-margin ion-no-padding">
    <div class="ion-no-margin ion-no-padding" *ngFor="let btn of listButtonCard">
      <app-button-card [smallVersion]="false" [myButtonCard]="btn" (clickElement)="onClickButtonCard($event)"></app-button-card>
    </div>

    <!-- <ion-card *ngFor="let btn of listButtonCard">
      <ion-item button="true" (click)="onClickButtonCard(btn)" lines="none">
        <ion-icon [slot]="btn.sloticon" [name]="btn.nameicon" [color]="btn.color"></ion-icon>
        <ion-label>
          <h1 class="ion-text-wrap">
            {{ btn.title }}
          </h1>
          <h3 class="ion-text-wrap">
            {{ btn.subtitle }}
          </h3>
        </ion-label>
      </ion-item>
    </ion-card> -->

  </ion-list>


  <ion-list class="ion-list-margin-bottom">
    <!-- INFO CENTRO-->
    <ion-item-group>

        <ion-item-divider color="light">
          <ion-label>
            <h2>Info Centro</h2>
          </ion-label>
        </ion-item-divider>

  
        <!-- DESCRIZIONE MOB -->
        <ion-item *ngIf="selectedLocation.DESCRIZIONEMOB">
          <ion-icon 
              name="information-circle-outline" 
              slot="start" 
              color="primary">
          </ion-icon>
  
          <ion-label class="ion-text-wrap">
            <p>{{selectedLocation.DESCRIZIONEMOB}}</p>
          </ion-label>
  
        </ion-item>
  
        <!-- NUMERO CAMPI -->
        <ion-item *ngIf="selectedLocation.getNumCampi() !== 0" button
          (click)="onClickOpenCampi()">
          <ion-icon 
              name="medical" 
              slot="start" 
              color="primary">
          </ion-icon>
  
          <ion-label>{{ selectedLocation.getNumCampi() > 1 ? 'Campi disponibili':'Campo disponibile' }}</ion-label>
          <ion-badge color="primary">{{selectedLocation.getNumCampi()}}</ion-badge>
  
        </ion-item>
  
        <!-- COMUNE -->
        <ion-item *ngIf="selectedLocation.COMUNE">
          <ion-icon 
              name="home" 
              slot="start" 
              color="primary"></ion-icon>
          <ion-label>{{selectedLocation.COMUNE}}</ion-label>
        </ion-item>
  
        <!-- INDIRIZZO -->
        <ion-item *ngIf="selectedLocation.INDIRIZZO">
          <ion-icon 
            name="navigate" 
            slot="start" 
            color="primary">
          </ion-icon>
  
          <ion-label>
            {{selectedLocation.INDIRIZZO}}
          </ion-label>
  
        </ion-item>
  
  
      <!-- </div> -->

    </ion-item-group>

    <!-- CONTATTI TEL E EMAIL -->
    <ion-item-group *ngIf="selectedLocation.TELEFONO || selectedLocation.EMAIL">
      <ion-item-divider color="light">
        
        <ion-label><h2>Contatti</h2></ion-label>
        
      </ion-item-divider>

      <ion-item *ngIf="selectedLocation.TELEFONO">
        <ion-icon 
          name="call" 
          slot="start" 
          color="primary"></ion-icon>
        <ion-label>{{selectedLocation.TELEFONO}}</ion-label>
      </ion-item>
  
      <ion-item *ngIf="selectedLocation.EMAIL">
        <ion-icon 
          name="mail" 
          slot="start" 
          color="primary">
        </ion-icon>
        
        <ion-label>{{selectedLocation.EMAIL}}</ion-label>
      </ion-item>

    </ion-item-group>


        <!-- ORARI CENTRO -->
        <ion-item-group id="loc-orari" *ngIf="selectedLocation.APERTURALOCATION.length !== 0">

          <ion-item-divider color="light">
            
            <ion-label><h2>Orari Centro</h2></ion-label>
          </ion-item-divider>

          <app-aperture 
                *ngFor="let apertura of selectedLocation.APERTURALOCATION" 
                [myApertura]="apertura">
          </app-aperture>

        </ion-item-group>

  </ion-list>
  
</ion-content>

