.btn
{
    height: 60px;
}

ion-slides {

    img {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 30vh;
        object-fit: cover;
    }

    @media screen and (max-width: 600px){
        img{
            width: 100%;
        }
    }

}

.ion-list-margin-bottom {
    margin-bottom: 2vmax;
}

.backcolorcard {
    background-color: var(--ion-color-light-tint);
}


