<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Scheda Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">

    
    <!-- PORZIONE AVATAR E NOMINATIVO -->
    <ion-grid>
      <ion-row class="picture">
        <ion-col class="ion-text-center">
          <ion-button
            size="large"
            color="danger"
            (click)="onClickAvatar()"
            *ngIf="!avatarExist()">

            <ion-icon name="camera"></ion-icon>

          </ion-button>

          <ion-button
            size="large"
            color="light"
            (click)="onClickAvatar()"
            *ngIf="avatarExist()">

            <ion-avatar slot="start" class="Avatar" (click)="onClickAvatar()">
              <img [src]="sourceAvatar">
            </ion-avatar>

          </ion-button>
        </ion-col>
      </ion-row>


      <!-- NOMINATIVO -->
      <ion-row class="name">
        <ion-col>

          <ion-label 
            color="primary"
            class="ion-text-wrap ion-text-center">
            <h1>{{ docUtente?.NOMINATIVO }}</h1>
            <p>{{ docUtente.EMAIL }}</p>
          </ion-label>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  
  <ion-list class="ion-margin-vertical">

    <ion-item button="true" routerLink="edit-account" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="person-circle"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Qualcosa su di te</h2>
        <p>Data e luogo di nascita, residenza, ecc..</p>
      </ion-label>
    </ion-item>

    



    <ion-item button="true" routerLink="sportlevels" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="stats-chart"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Livelli Attività</h2>
        <p>Visualizza i tuoi livelli</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" routerLink="documents" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="copy"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Documenti</h2>
        <p>Visualizza e scarica i tuoi documenti</p>
      </ion-label>
    </ion-item>

    

    <ion-item button="true" routerLink="invoices" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="logo-euro"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Ricevute Acquisti</h2>
        <p>Scarica le ricevute dei tuoi acquisti</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item button="true" routerLink="settings" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="settings"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Opzioni</h2>
        <p>Quello che ci sarà nelle opzioni, ecc..</p>
      </ion-label>
    </ion-item> -->

    <ion-item button="true" (click)="openChangePassword()">  
      <ion-icon 
        slot="start" 
        name="key"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Security Access</h2>
        <p>Cambia Password di accesso</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" (click)="requestLogout()">
      <ion-icon 
        slot="start" 
        name="log-out"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Esci</h2>
        <p>Esegui il logout</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
