<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Scheda Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 1vh"></div>
  <ion-item lines="none" color="light">
    <ion-avatar slot="start" class="Avatar" (click)="onClickAvatar()">
      <img [src]="sourceAvatar">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <h1>{{ docUtente?.NOMINATIVO }}</h1>
      <p>{{ docUtente.EMAIL }}</p>
    </ion-label>
  </ion-item>
  
  <ion-list>

    <ion-item button="true" routerLink="edit-account" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="person-circle"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Qualcosa su di te</h2>
        <p>Data e luogo di nascita, residenza, ecc..</p>
      </ion-label>
    </ion-item>

    



    <ion-item button="true" routerLink="sportlevels" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="stats-chart"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Livelli Sportivi</h2>
        <p>Visualizza i tuoi livelli sportivi</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" routerLink="documents" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="copy"
        color="primary"></ion-icon>
      <ion-label>
        <h2>I tuoi documenti</h2>
        <p>Visualizza e scarica i tuoi documenti</p>
      </ion-label>
    </ion-item>

    

    <ion-item button="true" routerLink="invoices" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="logo-euro"
        color="primary"></ion-icon>
      <ion-label>
        <h2>le tue ricevute</h2>
        <p>Visualizza e scarica le ricevute dei servizi che hai acquistato</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item button="true" routerLink="settings" routerDirection="forward">
      <ion-icon 
        slot="start" 
        name="settings"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Opzioni</h2>
        <p>Quello che ci sarà nelle opzioni, ecc..</p>
      </ion-label>
    </ion-item> -->

    <ion-item button="true" (click)="openChangePassword()">  
      <ion-icon 
        slot="start" 
        name="key"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Security Access</h2>
        <p>Cambia Password di accesso</p>
      </ion-label>
    </ion-item>

    <ion-item button="true" (click)="requestLogout()">
      <ion-icon 
        slot="start" 
        name="log-out"
        color="primary"></ion-icon>
      <ion-label>
        <h2>Esci</h2>
        <p>Esegui il logout</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
