.top {
    // background-color: #FECE00;
    background-color: var(--ion-color-warning);
    height: 20vh;
    min-height: 20vh;
    
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    ion-row {
        &.picture {

           ion-button {
               --border-radius: 50%;
               height: 80px;
               width: 80px;
           }

           >ion-col {
                display: flex;
                justify-content: center;

                ion-avatar {
                    height: 80px;
                    width: 80px;
                }
           }
        }
    }

    .name {
        ion-label
            h1 {
                font-weight: bold;
            }

    }
}
