 <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Storico</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="contentExpand" *ngIf="selectedView=='corsi'">
      <!-- IN ATTESA DATI  -->
      <!-- DATI  NON RICEVUTI -->
      <div *ngIf="!receivedCorsi" id="crs-spinner">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </div>

      <!-- NESSUN CORSO-->
      <div class="nofind-cnt" *ngIf="receivedCorsi && listUtentePrenotazione!.length === 0">
        <ion-label>Nessuna Iscrizione Corso</ion-label>
        <ion-label>trovata</ion-label>
      </div>

        <!-- PARTE CORSI -->
        <ion-list *ngIf="receivedCorsi && listUtentePrenotazione!.length !== 0">
          <ion-item button *ngFor="let corso of listUtenteCorsi" (click)="onClickCorso(corso)" >
            <ion-buttons slot="start">
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding ion-text-center">
                    <ion-icon name="school" class="icon-school" [color]="corso.DATAFINECORSO<today? 'primary': 'light'"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding ion-text-center">
                    <p class="icon-text ion-no-margin">{{corso.DATAFINECORSO<today? 'Fino al':'Dal'}}</p>
                    <p class="icon-text">{{corso.DATAFINECORSO<today? (corso.DATAINIZIOCORSO | date: 'dd/LL/yy'): (corso.DATAFINECORSO|date: 'dd/LL/yy')}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-buttons>
            <ion-label>
              <h2>{{corso.DENOMINAZIONECORSO}} - {{corso.DENOMINAZIONESPORT}}</h2>
              <p *ngFor="let giorno of corso.GIORNIPREVISTI">{{giorno|giorniPrevisti}} </p>
              <h3>Milano, Via Lorenteggio 238</h3> <!--Quando abbiamo la decodifica inseriamo anche questo-->
            </ion-label>
            <ion-chip color="primary">
              {{corso.DATAINIZIOCORSO | date: 'HH:mm'}}
            </ion-chip>
          </ion-item>
        </ion-list>
  </div>

  <!-- PARTE PRENOTAZIONI -->
  <div class="contentExpand" *ngIf="selectedView=='prenotazioni'">
      <!-- IN ATTESA DATI  -->
      <!-- DATI  NON RICEVUTI -->
      <div *ngIf="!receivedPrenotazioni" id="crs-spinner">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </div>

      <!-- NESSUNA PRENOTAZIONE-->
      <div class="nofind-cnt" *ngIf="receivedPrenotazioni && listUtentePrenotazione!.length === 0">
        <ion-label>Nessuna Prenotazione Campi</ion-label>
        <ion-label>trovata</ion-label>
      </div>

      <!-- Lista prenotazioni -->
      <ion-list *ngIf="receivedPrenotazioni && listUtentePrenotazione!.length !== 0">
        <ion-item button 
                *ngFor="let prenotazione of listUtentePrenotazione" 
                (click)="onClickPrenotazione(prenotazione)">

          <ion-icon 
              name="calendar" 
              slot="start" 
              [color]="prenotazione.DATAORAFINE<today? 'light': 'primary'">

          </ion-icon>
          

          <ion-label>
            <h2>{{prenotazione.DATAORAINIZIO | date : 'EEE dd/MM/yyyy - HH:mm' | titlecase}}</h2>
            <p>{{prenotazione.INDIRIZZOLOCATION}}</p> <!--anche qui manca decodifica centro sportivo-->
          </ion-label>
          <ion-chip color="primary">{{prenotazione.DURATAORE}} {{prenotazione.DURATAORE==1? 'Ora' : 'Ore'}}</ion-chip>
        </ion-item>
      </ion-list>

  </div>
</ion-content>

<ion-footer>
  <ion-segment value="prenotazioni" (ionChange)="onChangeSegment($event)">
    <ion-segment-button class="ion-no-padding" value="prenotazioni" layout="icon-start">
      <ion-icon name="calendar"></ion-icon>
      Prenotazioni
    </ion-segment-button>
    <ion-segment-button value="corsi" layout="icon-start">
      <ion-icon name="school"></ion-icon>
      corsi
    </ion-segment-button>
  </ion-segment>
</ion-footer>