ion-segment-button>ion-icon
{
    margin:5px;
}

h1
{
    font-size: 19px;
    font-weight: 700;
}

h3
{
    font-size: 12px;
    font-weight: 500;
}

.icon-school
{
    min-width: 40px;
    min-height: 40px;
}

h2
{
    font-size: 18px;
    font-weight: 600;
}

.icon-text
{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 500;
}

.contentExpand {
    height: 100%;
}