 <ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title *ngIf="selectedView=='corsi'">I miei corsi</ion-title>
    <ion-title *ngIf="selectedView=='prenotazioni'">Le mie prenotazioni</ion-title> -->

    <ion-title>Attivit&agrave;</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="onClickSettings()">
        <ion-icon name="person-circle-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>

  <ion-toolbar *ngIf="showTabs" mode="md">

    <ion-segment 
          
          [(ngModel)]="selectedView" 
          value="prenotazioni"
          (ionChange)="onChangeSegment($event)" >

      <ion-segment-button  
                value="prenotazioni">

        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Prenotazioni</ion-label>
      </ion-segment-button>

      <ion-segment-button 
            value="corsi">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Corsi</ion-label>
        
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content id="content" scrollEvents (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <!-- PARTE CORSI -->
  <div class="contentExpand" *ngIf="selectedView=='corsi'">

      <!-- NESSUN CORSO-->
      <div class="nofind-cnt" *ngIf="listUtenteCorsi!.length === 0">
        <ion-label>Nessuna Iscrizione Corso</ion-label>
        <ion-label>trovata</ion-label>
      </div>

      <!-- LISTA CORSI -->
        <ion-list *ngIf="listUtenteCorsi!.length !== 0">
          <ion-item button 
                *ngFor="let corso of listUtenteCorsi" 
                (click)="onClickCorso(corso)" >

          <!-- ICONA CORSO -->
          <ion-icon 
              name="school" 
              class="icon-school"
              slot="start"
              [color]="corso.DATAFINE > today && corso.DATAINIZIO < today ? 'success': 'danger'">
          </ion-icon>

          <ion-label class="ion-text-wrap">
            <p>{{corso.DATAINIZIO | date : 'EEEE dd/MM/yyyy' | titlecase}}
              <br/>
              {{corso.DATAFINE | date : 'EEEE dd/MM/yyyy' | titlecase}}
            </p>
            <h1>{{corso.DENOMINAZIONESPORT}} in {{corso.DENOMINAZIONELOCATION}}</h1>
            <h3>{{corso.GIORNIPREVISTI|giorniPrevisti: lingua|titlecase}} </h3>

          </ion-label>   
          
          <!-- ORA INIZIO -->
          <ion-chip 
              [color]="corso.DATAFINE > today && corso.DATAINIZIO < today ? 'success': 'danger'">
            {{corso.ORAINIZIO | date: 'HH:mm'}}
            <ion-icon name="time-outline"></ion-icon>
          </ion-chip>
          </ion-item>         
        </ion-list>     
  </div>




  <!-- PARTE PRENOTAZIONI -->
  <div class="contentExpand" *ngIf="selectedView=='prenotazioni'">

      <!-- NESSUNA PRENOTAZIONE-->
      <div class="nofind-cnt" *ngIf="listUtentePrenotazione!.length === 0">
        <ion-label>Nessuna Prenotazione Campi</ion-label>
        <ion-label>trovata</ion-label>
      </div>

      <!-- Lista prenotazioni -->
      <ion-list *ngIf="listUtentePrenotazione!.length !== 0">
        <ion-item button 
                *ngFor="let prenotazione of listUtentePrenotazione" 
                (click)="onClickPrenotazione(prenotazione)">

          <ion-icon 
              class="icon-prenotazioni"
              name="calendar" 
              slot="start" 
              [color]="prenotazione.DATAORAFINE < today ? 'danger': 'success'">

          </ion-icon>
          

          <ion-label>
            <p>{{prenotazione.DATAORAINIZIO | date : 'dd/MM/yyyy'}}</p>
            <h1>{{prenotazione.DATAORAINIZIO | date: 'EEEE'|titlecase}} ore {{prenotazione.DATAORAINIZIO | date: 'HH:mm'}}</h1>
            <h3>{{prenotazione.COMUNELOCATION|titlecase}} 
              <span>{{( (prenotazione.COMUNELOCATION && prenotazione.INDIRIZZOLOCATION) ? ', ':'')}}</span> 
              <span>{{prenotazione.INDIRIZZOLOCATION|titlecase}}</span>
            </h3> <!--anche qui manca decodifica centro sportivo-->

          </ion-label>
          <ion-chip [color]="prenotazione.DATAORAFINE < today ? 'danger': 'success'">
            {{prenotazione.DURATAORE > 1 ? prenotazione.DURATAORE : prenotazione.DURATAORE*60}} {{prenotazione.DURATAORE>1? 'Ore' : 'Min.'}}
          </ion-chip>
        </ion-item>
      </ion-list>

  </div>
</ion-content>
<ion-footer>
  <ion-button 
  color="tertiary"
  expand="block" 
  size="large"
  (click)="onClickSettings()">
    <ion-icon 
      slot="start" 
      name="person-circle-outline"
      color="primary"></ion-icon>
    Visualizza profilo
  </ion-button>
</ion-footer>