 <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Storico</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista corsi -->
  <ion-list *ngIf="selectedView=='corsi'">
    <ion-item button *ngFor="let corso of listCorsi" (click)="onClickCorso(corso)" >
      <ion-buttons slot="start">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-text-center">
              <ion-icon name="school" class="icon-school" [color]="corso.DATAFINE<today? 'primary': 'light'"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-text-center">
              <p class="icon-text ion-no-margin">{{corso.DATAFINE<today? 'Fino al':'Dal'}}</p>
              <p class="icon-text">{{corso.DATAFINE<today? (corso.DATAINIZIO | date: 'dd/LL/yy'): (corso.DATAFINE|date: 'dd/LL/yy')}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-buttons>
      <ion-label>
        <h2>{{corso._DESCRLIVELLOENTRATA}} - {{corso._DESCRSPORT}}</h2>
        <p *ngFor="let giorno of corso._SETTIMANA">{{giorno}} </p>
        <h3>Milano, Via Lorenteggio 238</h3> <!--Quando abbiamo la decodifica inseriamo anche questo-->
      </ion-label>
      <ion-chip color="primary">
        {{corso.ORAINIZIO | date: 'HH:mm'}}
      </ion-chip>
    </ion-item>
  </ion-list>
  <!-- Lista prenotazioni -->
  <ion-list *ngIf="selectedView=='prenotazioni'">
    <ion-item button *ngFor="let prenotazione of listUtentePrenotazione" (click)="onClickPrenotazione(prenotazione)">
      <ion-icon name="calendar" slot="start"[color]="prenotazione.DATAORAFINE<today? 'light': 'primary'"></ion-icon>
      <ion-label>
        <h2>{{prenotazione.DATAORAINIZIO | date : 'dd/MM/yyyy - HH:mm'}}</h2>
        <p>Milano, Via Lorenteggio 238</p> <!--anche qui manca decodifica centro sportivo-->
      </ion-label>
      <ion-chip color="primary">{{prenotazione.DURATAORE}} {{prenotazione.DURATAORE==1? 'Ora' : 'Ore'}}</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-segment value="prenotazioni" (ionChange)="onChangeSegment($event)">
    <ion-segment-button class="ion-no-padding" value="prenotazioni" layout="icon-start">
      <ion-icon name="calendar"></ion-icon>
      Prenotazioni
    </ion-segment-button>
    <ion-segment-button value="corsi" layout="icon-start">
      <ion-icon name="school"></ion-icon>
      corsi
    </ion-segment-button>
  </ion-segment>
</ion-footer>