<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="actualStatePage==pageState.VERIFY">

      <ion-button fill="clear" (click)="backStepRegistration()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title *ngIf="actualStatePage!=pageState.REGISTRATION">Verifica informazioni</ion-title>
    <ion-title *ngIf="actualStatePage==pageState.REGISTRATION">Aggiorna i tuoi dati</ion-title>




    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<!-- CONTENT PAGES -->
<ion-content class="ion-padding">


  <!-- PARTE CONTATTI -->
  <div *ngIf="actualStatePage==pageState.CONTACT" class="ion-padding-horizontal">
    <form [formGroup]="formContact">
      <ion-list>

          <ion-item lines="none">

              <ion-label 
                  class="ion-text-wrap ion-text-center">
                  <i>{{labelHeaderRegistrazione}}</i>
              </ion-label>
          </ion-item>

          <ion-item *ngIf="this.emailVerifyNeeded">
              <ion-icon name="at-outline" slot="start" color="primary"></ion-icon>
              <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
          </ion-item>

          <ion-item *ngIf="this.smsVerifyNeeded">
              <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
              <ion-input type="tel" inputmode="tel" placeholder="+39 Cellulare" formControlName="telephone">
              </ion-input>
          </ion-item>

          <ion-item *ngIf="isPolicyLink()" detail="true" button="true" (click)="openPolicyLink()"
              class="ion-text-end" lines="none">
              <ion-label class="ion-text-wrap">
                  condizioni di registrazione
              </ion-label>
          </ion-item>

          <!-- AVVISO SU COSA SUCCEDE -->
          <ion-item lines="none">
              <ion-label class="ion-text-wrap ion-text-center">
                  <i>{{labelFooterRegistrazione}}</i>
              </ion-label>
          </ion-item>


      </ion-list>

  </form>

  </div>



  <!-- PARTE VERIFICA CONTATTI -->
  <div *ngIf="actualStatePage==pageState.VERIFY" class="step-verifica">

        <!-- IMMAGINE DI TESTATA PER LA VERIFICA CODICI -->
        <ion-grid>
          <ion-row class="row-img">
              <ion-col sizeXs="8" offsetXs="2">
                  <img class="height-viewport" src="assets/img/otpverif.png" alt="" />
              </ion-col>
          </ion-row>
      </ion-grid>

      <!-- VERIFICA EMAIL -->
      <ion-list *ngIf="this.emailVerifyNeeded">
          <ion-item lines="none">
              <ion-label class="ion-text-wrap ion-text-center">
                  <i>abbiamo inviato una mail a {{formContact.value.email}}</i>
              </ion-label>
          </ion-item>

          <ion-item>
              <ion-input [(ngModel)]="codeVerificationMail" placeholder="inserisci codice mail"
                  [maxlength]="codeLength" [minlength]="codeLength" class="code-input" type="tel" inputmode="numeric">
              </ion-input>
          </ion-item>

          <ion-item detail="true" button="true" (click)="onClickReinviaCodice(enumTipoVerifica.verificaemail)"
              class="ion-text-end" lines="none">
              <ion-label class="ion-text-wrap">
                  <i>reinvia mail</i>
              </ion-label>
          </ion-item>
      </ion-list>

      <!-- VERIFICA SMS -->
      <ion-list *ngIf="this.smsVerifyNeeded">
          <ion-item lines="none">
              <ion-label class="ion-text-wrap ion-text-center">
                  <i>abbiamo inviato un SMS a {{formContact.value.telephone}}</i>
              </ion-label>
          </ion-item>

          <ion-item>
              <ion-input [(ngModel)]="codeVerificationSms" placeholder="inserisci codice sms" [maxlength]="codeLength"
                  [minlength]="codeLength" class="code-input" type="tel" inputmode="numeric"></ion-input>
          </ion-item>

          <ion-item detail="true" button="true" (click)="onClickReinviaCodice(enumTipoVerifica.verificasms)"
              class="ion-text-end" lines="none">
              <ion-label class="ion-text-wrap">
                  <i>reinvia sms</i>
              </ion-label>
          </ion-item>

      </ion-list>


    <!-- <div class="ion-no-padding div-message" *ngIf="this.emailVerifyNeeded">


      <ion-item lines="none">
        <ion-button slot="start" fill="clear" color="danger" (click)="onClickReinviaCodice(enumTipoVerifica.verificaemail)">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>

        <ion-label color="default">Inserisci il pincode ricevuto tramite email</ion-label>
      </ion-item>

      <form [formGroup]="formVerifyMail">
        <div [ngClass]="this.isDesktop?'form-verifica desktop':'form-verifica'">
          <ion-segment>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c1" #c1 (ionInput)="changeFocus($event)" id="1"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c2" #c2 (ionInput)="changeFocus($event)" id="2"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c3" #c3 (ionInput)="changeFocus($event)" id="3"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c4" #c4 (ionInput)="changeFocus($event)" id="4"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c5" #c5 (ionInput)="changeFocus($event)" id="5"></ion-input>
          </ion-segment>
        </div>
      </form>

    </div>

    <div class="ion-no-padding div-message" *ngIf="this.smsVerifyNeeded">

      <ion-item lines="none">
        <ion-button slot="start" fill="clear" color="danger" (click)="onClickReinviaCodice(enumTipoVerifica.verificasms)">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-label color="default">
          Inserisci il pincode ricevuto tramite SMS</ion-label>
      </ion-item>

      <form [formGroup]="formVerifyTel">
        <div [ngClass]="this.isDesktop?'form-verifica desktop':'form-verifica'">
          <ion-segment>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c6" #c6 (ionInput)="changeFocus($event)" id="6"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c7" #c7 (ionInput)="changeFocus($event)" id="7"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c8" #c8 (ionInput)="changeFocus($event)" id="8"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c9" #c9 (ionInput)="changeFocus($event)" id="9"></ion-input>
            <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center"
              minlength="1" maxlength="1" formControlName="c10" #c10 (ionInput)="changeFocus($event)" id="10">
            </ion-input>
          </ion-segment>
        </div>
      </form>

    </div> -->

  </div>


  <!-- PARTE AGGIORNAMENTO ANAGRAFICA -->
  <div *ngIf="actualStatePage==pageState.REGISTRATION">

    <form [formGroup]="formRegister">
      <ion-list>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap ion-text-center">
            <i>per poter proseguire ti chiediamo di completare le informazioni mancanti</i>
          </ion-label>
        </ion-item>

        <!-- DATI ANAGRAFICI -->
        <ion-item-group>
          <ion-item-divider sticky="true" color="light">

            <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
            <ion-label>Qualche tua info</ion-label>
          </ion-item-divider>

          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Nome</ion-label> -->
            <ion-icon slot="start" name="id-card-outline" color="primary"></ion-icon>
            <ion-input type="text" placeholder="nome"  formControlName="nome"></ion-input>
          </ion-item>

          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Cognome</ion-label> -->
            <ion-icon slot="start" name="id-card-outline" color="primary"></ion-icon>
            <ion-input type="text" placeholder="cognome" formControlName="cognome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label slot="start" position="fixed">Sesso</ion-label>
            <ion-select formControlName="sesso" interface="popover">
              <ion-select-option *ngFor="let sesso of listSesso" [value]="sesso.value">
                {{ sesso.description }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Cod. fiscale</ion-label> -->
            <ion-icon slot="start" name="card-outline" color="primary"></ion-icon>
            <ion-input type="text" placeholder="codice fiscale" formControlName="cf" (ionBlur)="onCfChange()"></ion-input>
          </ion-item>
        </ion-item-group>

        <!-- DATI INDIRIZZO -->
        <ion-item-group>
          <ion-item-divider sticky="true" color="light">
            <ion-icon name="home-outline" slot="end" color="primary"></ion-icon>
            <ion-label>Dove vivi ?</ion-label>
          </ion-item-divider>

          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Indirizzo</ion-label> -->
            <ion-input placeholder="indirizzo" type="text" formControlName="indResidenza"></ion-input>
          </ion-item>

          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Comune</ion-label> -->
            <ion-input placeholder="comune" type="text" formControlName="comResidenza"></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Cap</ion-label> -->
            <ion-input placeholder="c.a.p." type="tel" inputmode="tel" maxlength="5" formControlName="capResidenza"></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Provincia</ion-label> -->
            <ion-input placeholder="provincia" type="text" formControlName="provResidenza"></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label slot="start" position="fixed">Stato</ion-label> -->
            <ion-input placeholder="stato" type="text" formControlName="statoResidenza"></ion-input>
          </ion-item>
        </ion-item-group>

        <!-- DATI NASCITA -->
        <ion-item-group>
          <ion-item-divider sticky="true" color="light">
            <ion-icon name="logo-reddit" slot="end" color="primary"></ion-icon>
            <ion-label>Quando sei nato ?</ion-label>
          </ion-item-divider>

          <app-dtinput title="Data di nascita" label="Nato il" [(actualDate)]="this.docUtente.NATOIL">
          </app-dtinput>


          <ion-item>
            <ion-label slot="start" position="fixed">Comune</ion-label>
            <ion-input formControlName="comNascita"></ion-input>
          </ion-item>
          <ion-item *ngIf="showInputCapNascita">
            <ion-label slot="start" position="fixed">Cap</ion-label>
            <ion-input formControlName="capNascita"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="start" position="fixed">Provincia</ion-label>
            <ion-input formControlName="provNascita"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label slot="start" position="fixed">Stato</ion-label>
            <ion-input formControlName="statoNascita"></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </form>

  </div>


</ion-content>

<!-- FOOTER PAGES-->
<ion-footer>
  <div>
    <ion-button 
        color="primary" 
        class="btn-confirm" 
        expand="block" 
      (click)="onClickFooterAvanti()">
      {{labelButtonFooter}}
    </ion-button>
  </div>
</ion-footer>