<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button 
                  (click)="onCancel()"
                  fill="clear">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Modifica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row 
        class="ion-align-items-top"
        >
        <!-- colonna sinistra -->
      <ion-col
          sizeXs="12"
          sizeSm="12"
          sizeMd="12"
          sizeLg="6"
          sizeXl="6"
          >
          <div class="title-image">
            <img [src]="srcImage" alt="logig-image"/>
          </div>

      </ion-col>

            <!-- colonna destra -->
            <ion-col
            sizeXs="12"
            sizeSm="12"
            sizeMd="12"
            sizeLg="6"
            sizeXl="6"
            >
            
            <ion-grid
                class="ion-no-padding ion-no-margin">
                <ion-row
                    class="ion-no-padding ion-no-margin">
                  <ion-col>
                    <!-- TESTO INFORMATIVO -->
                    <ion-list>
                      <ion-list-header mode="ios">
                          {{actualUser.NOMINATIVO}}
                      </ion-list-header>

                      <ion-item 
                          lines="none">
                        <ion-label 
                              class="ion-text-wrap">
                            <p [innerHTML]="informationText | safeHtml">                            
                          </p>
                        </ion-label>
                      </ion-item>
                    </ion-list>

                  </ion-col>
                </ion-row>
                <!-- FORM INSERIMENTO -->
                <ion-row
                    class="ion-no-padding ion-no-margin">
                    <ion-col>
                      <form [formGroup]="formPagePrimary" class="ion-margin-horizontal">
                        
                        <ion-list lines="none">
                          <!-- VECCHIA PASSWORD -->
                          <ion-item
                              color="light"> 

                            <ion-input 
                                type="password" 
                                inputmode="password" 
                                label="Password Attuale"
                                labelPlacement="stacked"
                                helperText="inserisci la password attuale"
                                [clearInput]="false"                                
                                formControlName="oldPsw"
                                id="oldpsw"
                                #oldpsw>
                            </ion-input>
                    
                            <ion-button 
                                  size="small"
                                  color="success"
                                  slot="end" 
                                  fill="clear" 
                                  (click)="showHideInput('oldpsw',oldpsw)">
                              <ion-icon 
                                  [name]="showActual ? 'eye-off-outline':'eye-outline'" 
                                  slot="icon-only">
                              </ion-icon>
                            </ion-button>
                    
                          </ion-item>
                        
                          <!-- NUOVA PASSWORD -->
                          <ion-item color="light">
                              
                              <ion-input 
                                type="password" 
                                inputmode="password" 
                                formControlName="newPsw1" 
                                label="Nuova Password"
                                labelPlacement="stacked"
                                helperText="inserisci la nuova password da utilizzare"
                                [clearInput]="false"
                                id="newpsw1"
                                #newpsw1 ></ion-input>
                    
                            <ion-button 
                                size="small"
                                color="success"
                                slot="end" 
                                fill="clear" 
                                (click)="showHideInput('newpsw1',newpsw1)">
                              <ion-icon 
                                  [name]="showNew ? 'eye-off-outline':'eye-outline'" 
                                  slot="icon-only">
                              </ion-icon>
                            </ion-button>
                    
                          </ion-item>
                        
                          <ion-item color="light">
                   
                            <ion-input 
                                type="password" 
                                inputmode="password" 
                                formControlName="newPsw2" 
                                label="Ripeti Password"
                                labelPlacement="stacked"
                                helperText="ripeti la nuova password"
                                [clearInput]="false"
                                id="newpsw2"
                                #newpsw2></ion-input>
                    
                            <ion-button 
                                  size="small"
                                  color="success"
                                  slot="end" 
                                  fill="clear" 
                                  (click)="showHideInput('newpsw2',newpsw2)">
                              <ion-icon 
                                  [name]="showNewRetype ? 'eye-off-outline':'eye-outline'" 
                                  slot="icon-only">
                              </ion-icon>
                            </ion-button>
                    
                    
                            </ion-item>
                          
                          <!-- ERROR MESSAGE -->
                          <ion-item 
                              lines="none" 
                              *ngIf="!formPagePrimary.valid">
                              <ion-label color="danger">{{ invalidMessage() }}</ion-label>
                          </ion-item>
                        </ion-list>
                      </form>


                    </ion-col>
                </ion-row>
                <!-- BOTTONE -->
                <ion-row>
                  <ion-col>
                    <ion-button
                      (click)="onSubmit()"
                      color="tertiary"
                      expand="full"
                      fill="solid">
                      AGGIORNA
                    </ion-button> 
                  </ion-col>
                </ion-row>
            </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

