ion-content {
    background-color: var(--ion-color-primary-tint);
}

.titleicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 5px 0px 0px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    height: 100px;
    text-align:center;

    img {
        max-width: 300px;
        max-height: 100px;
    }
  }