<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modifica Credenziali</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list  >
      <ion-item lines="none"> 
        <ion-label position="floating">Vecchia Password</ion-label>
        <ion-input type="password" inputmode="password" formControlName="oldPsw"></ion-input>
      </ion-item>
      <ion-item-divider color="light" lines="none"></ion-item-divider>
      <ion-item >
        <ion-label position="floating" >Nuova Password</ion-label>
        <ion-input type="password" inputmode="password" formControlName="newPsw1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Conferma Password</ion-label>
        <ion-input type="password" inputmode="password" formControlName="newPsw2"></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="showPswMessage()"><ion-label><p>Attenzione, le password non coincidono</p></ion-label></ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button color="primary" expand="block" (click)="onSubmit()" [disabled]="!form.valid">Conferma</ion-button>
</ion-footer>
