ion-button{
    min-width:  120px;
}
ion-item, ion-slides{
    background-color: var(--ion-back-booking);

}

div.item-sports{
    //background-color: var(--ion-back-booking);
    border-bottom-color: #c8d2d6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background-color: var(--ion-back-booking);

}
