
<div>
  <ion-item lines="none" *ngIf="_flagAvailableSports==false">
    <ion-label>
      Nessuna attività prevista
    </ion-label>
    <ion-icon slot="start" name="ban" color="danger"></ion-icon>
  </ion-item>

  <swiper-container
      (afterInit)="swiperReady()"
      slides-per-view="1"
      *ngIf="_flagAvailableSports"
      #sliderSport>
        <swiper-slide *ngFor="let sport of _listAvailableSports">
          <ion-card 
              mode="md"
              class="card-sport" 
              [color]="getColor(sport)" 
              button 
              (click)="onChangeSport(sport)">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="4">
                  <i class="icon-sport"><span [innerHTML]="sport.htmlIconHex"></span></i>
                </ion-col>
                <ion-col>
                  <ion-label><h3 class="text-sport">{{sport.DENOMINAZIONE}}</h3></ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>      
        </swiper-slide>
  </swiper-container>

</div>







