.num-lezioni {
    font-size: small;
    font-weight: bolder;
    color: var(--ion-color-dark);
    padding-right: 15px;
    font-style: oblique;
}

.icon-sport{
    font-size: 25px;
}

//card titolo
ion-card.title{
    --background: var(--ion-color-light);
    margin-bottom: 0px;

    //descrizione corso
    ion-card-content span{
        font-style: italic;
    }
}

ion-card.special{
    --background: var(--ion-color-success);
    margin-bottom: 0px;

    //descrizione corso
    ion-card-content span{
        font-style: italic;
    }
}

.links{
    ion-button{
        font-weight: 700;
    }
}


