<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="myNews.LINKIMAGE" *ngIf="myNews.LINKIMAGE"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{ myNews.TITLE }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ myNews.SUBTITLE }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        {{ myNews.SHORTTEXT }}
      </ion-text>
    </ion-card-content>
  </ion-card> 
  
</ion-content>
<ion-footer *ngIf="myNews.LINKNEWS">
  <ion-button 
      color="primary" 
      expand="full"
      (click)="onClickReadNews(myNews.LINKNEWS)">
    Leggi articolo
  </ion-button>
</ion-footer>