<ion-header #headBook>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Prenota</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

      <ion-grid 
            class="ion-no-margin ion-no-padding"
            *ngIf = "flagDatiRicevuti"
            #gridcontainer>
        <ion-row>
          <!-- COLONNA A SINISTRA -->
          <ion-col
              
              sizeXs="12" 
              sizeSm="12" 
              sizeMd="4" 
              sizeLg="4" 
              sizeXl="4">
              <ion-grid 
                  class="ion-no-margin ion-no-padding">
                <!-- RIGA COMPLESSA CON GLI SPORT-->
                <ion-row>
                  <ion-col>
                    <app-sport-scroll 
                        [selectedSport]="selectedSport" 
                        [sportList]="listLocationSport" 
                        [direction]="directionSliderSportCampi"
                        (sportChanged)="onChangeSport($event)" >
                    </app-sport-scroll>
                  </ion-col>                  
                </ion-row>

                <!-- RIGA CON I CAMPI-->
                <ion-row>
                    <ion-col>
                      <app-campi-scroll 
                            [selectedCampo]="selectedCampo" 
                            [campiList]="availableFields" 
                            [direction]="directionSliderSportCampi"
                            [canChoose]="flagDatiRicevuti && flagPrenotazioneDisponibile"
                            [selectedLocation]="selectedLocation"
                            (campoChanged)="onChangeCampo($event)">
                      </app-campi-scroll>
                    </ion-col>
                </ion-row>
              </ion-grid>

          </ion-col>

          <!-- COLONNA A DESTRA -->
          <ion-col
              sizeXs="12" 
              sizeSm="12" 
              sizeMd="8" 
              sizeLg="8" 
              sizeXl="8">

              <!-- ITEM DEL CALENDARIO  -->
              <ion-grid 
                      class="ion-no-margin ion-no-padding">

                <!-- RIGA 1 CALENDAR SCROLL -->
                <ion-row class="ion-margin-top ion-margin-bottom">
                  <ion-col>
                    <app-calendarscroll 
                      [activeDay]="actualBookDay"
                      (onChangeActiveDay)="onChangeBookDay($event)"></app-calendarscroll>
                  </ion-col>
                </ion-row>

                <!-- RIGA 2 SLOT DISPONIBILITA (PRENOTAZIONI ABILITATE)-->
                <ion-row  *ngIf="flagDatiRicevuti && flagPrenotazioneDisponibile && actualSlotDay.APERTOCHIUSO"
                    class="ion-no-margin"
                    >
                  <ion-col>                  
                      <!-- VISUALIZZO GLI SLOT TIME SE E' APERTO-->
                        <ion-grid 
                              class="ion-no-margin ion-no-padding">
                          <ion-row>
                            <ion-col>
                                <ion-item 
                                    color="success">
                                    <ion-label class="ion-no-padding ion-text-bold">
                                          {{descriptionScelta}}
                                    </ion-label>
                                    <ion-spinner slot="end" name="circular" color="primary" *ngIf="actualSlotDay._TEMPLATELOCK"></ion-spinner>
                                </ion-item>

                            </ion-col>
                          </ion-row>
                        <ion-row>
                          <ion-col
                              class="ion-no-margin ion-no-padding" 
                              *ngFor="let slot of actualSlotDay.SLOTTIMES"
                              size="6"
                              sizeXl="6"
                              sizeLg="6"
                              sizeMd="6"
                              sizeSm="12"
                              sizeXs="12">
                            <app-slottime  
                              [mySlot]="slot" 
                              [readOnly]="actualSlotDay._TEMPLATELOCK" 
                              (clickSlot)="myClickSlot($event)"></app-slottime>
                          </ion-col>
                        </ion-row>
                      </ion-grid>    
                  </ion-col>
                </ion-row>
                <!-- RIGA 2 CARD AVVISO (PRENOTAZIONI DISABILITATE PER GIORNATA CHIUSA)-->
                <ion-row *ngIf="flagDatiRicevuti && flagPrenotazioneDisponibile && !actualSlotDay.APERTOCHIUSO">
                  <ion-col>
                    <app-card-image
                    src="assets/boysplaying_small.png"
                    title="Spiacenti"
                    subtitle="Prenotazione non effettuabile"
                    [text]="'Le prenotazioni non risultano disponibili presso ' + selectedLocation?.DENOMINAZIONE + ', con i parametri inseriti.  ' + 'Modificare Data/Centro per ricercare slot liberi'"
                    ></app-card-image>
                  </ion-col>
                </ion-row>

                <!-- RIGA 2 CARD AVVISO (PRENOTAZIONI DISABILITATE)-->
                <ion-row  *ngIf="!flagPrenotazioneDisponibile"
                    class="ion-no-margin">
                    <ion-col>
                      <app-card-image
                        src="assets/boysplaying_small.png"
                        title="Spiacenti"
                        subtitle="Prenotazione non disponibile"
                        [text]="'Le prenotazioni non risultano abilitate presso ' + selectedLocation?.DENOMINAZIONE + '.  ' + 'Modificare Data/Centro per ricercare slot liberi'"
                        ></app-card-image>
                    </ion-col>
                </ion-row>                
                
              </ion-grid>

          </ion-col>
        </ion-row>
      </ion-grid>



</ion-content>
<!-- PRENOTAZIONE SELEZIONATA -->
<ion-footer *ngIf="visibleFooter()">
  <app-footbooked 
    [myPrenotaPianifica]="actualPlanning" 
    (clickPrenota)="myClickPrenota($event)"></app-footbooked>
</ion-footer>
