.close-fake {
    --background: trasparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 40px;
}

ion-content {
    --background: rgba(44,39,45,0.84);
}


div.custom-div{
    position: absolute !important;
    top: 0px !important;
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;

}