<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      News ed Eventi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-refresher slot="fixed" s (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <!-- NEWS PRESENTI -->
    <ion-grid *ngIf="listNews.length != 0 ">
      <ion-row>
        <ion-col *ngFor="let news of listNews">
          <app-news-eventi [myNews]="news" (clickNews)="onClickNews(news,$event)"></app-news-eventi>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <!-- NEWS NON PRESENTI -->
    <div class="nofind-cnt ion-padding" *ngIf="listNews.length === 0 ">
      <ion-label class="ion-padding-horizontal">Nessun evento in programma</ion-label>
      <ion-label class="ion-padding-horizontal">Torna a trovarci per scoprire i prossimi eventi</ion-label>
    </div>


</ion-content>
