<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      News ed Eventi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="sfondo">
    <!-- NEWS PRESENTI -->
    <ion-list *ngIf="listNews.length !== 0">
      <div *ngFor="let news of listNews">
        <app-news-eventi [myNews]="news" (clickNews)="onClickNews(news,$event)"></app-news-eventi>
      </div>
    </ion-list>
  
    <!-- NEWS NON PRESENTI -->
    <ion-list *ngIf="listNews.length === 0 ">
        <app-news-eventi [myNews]="noNewsCard" ></app-news-eventi>
    </ion-list>

  </div>

</ion-content>
