<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Tesseramenti</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="12" 
               sizeLg="8" offsetLg="2"
               sizeXl="6" offsetXl="3">

      <div class="info" >
        <ion-item color="light" lines="none">
          <ion-label>
            <p class="ion-text-wrap">
              <ion-icon name="information-circle-outline" color="primary"></ion-icon>
              qui trovi l'elenco delle tessere associative disponibili al centro; puoi verificarne la scadenza ed eventualmente scaricare i modelli per la richiesta iscrizione
          </ion-label>
        </ion-item>
      </div>  

      
      <ion-accordion-group 
            #accordiontessere
            class="ion-padding-horizontal" 
            [multiple]="true">
          <!-- ELENCO TIPOLOGIE TESSERE PREVISTE-->  
        <ion-accordion *ngFor="let itemTipo of listTipoTessere" [value]="itemTipo.ID">
          <ion-item slot="header" color="warning">
            <ion-label>{{itemTipo.DENOMINAZIONE}}</ion-label>
            <ion-icon slot="start" [name]="itemTipo.FLAGCLUB ? 'home-outline':'planet-outline'"></ion-icon>
          </ion-item>
          <!--CONTENT ACCORDION -->
          <div class="ion-padding" slot="content">

            <ion-grid>
              <ion-row>
                <ion-col size="12" sizeXs="12" size-sm="12" sizeMd="12" sizeXl="12" sizeXl="12">
                    <!-- Nessuna tessera presente-->
                    <ion-item *ngIf="existListTessereUtente(itemTipo.ID)==false" lines="none">
                      <ion-label class="ion-text-wrap">
                        Non sono presenti tessere di questa tipologia
                      </ion-label>
                      <ion-icon slot="start" name="id-card-outline"></ion-icon>
                    </ion-item>

                      <!-- ELENCO DELLE TESSERE COLLEGATE ALL'UTENTE -->
                      <div
                        *ngFor="let itemTessera of listTessereUtente" >
                        <ion-card 
                            *ngIf="itemTessera.IDTIPOTESSERA == itemTipo.ID"
                            [color]="itemTessera.isValid() ? 'success':'danger'">
                          <ion-card-header>
                            <ion-card-title>{{itemTessera.isValid()?'Tessera Valida':'Tessera Scaduta'}}</ion-card-title>
                            <ion-card-subtitle>{{itemTessera.CODICE}}</ion-card-subtitle>
                          </ion-card-header>
                        
                          <ion-card-content>
                            <!-- QRCODE PRESENTE -->
                            <div *ngIf="flagShowQRCode(itemTessera)">
                              <ion-grid>
                                <ion-row>

                                    <ion-col size = "6" size-xs="12" size-sm="12">
                                      <ion-label>
                                        Scadenza
                                      </ion-label>
        
                                      <ion-badge>
                                        {{itemTessera.DATASCADENZA | date : 'dd/LL/yyyy'}}
                                      </ion-badge>
        
                                    </ion-col>
                                    <ion-col size = "6" size-xs="12" size-sm="12">
                                      <qrcode [qrdata]="itemTessera.CODICE" [colorLight]="itemTessera.isValid() ? '#9fd18b':'#df413a'"></qrcode>
                                    </ion-col>                            
                                    
                                    
                                  </ion-row>
                                </ion-grid>
                            </div>

                            <!-- QRCODE NON PRESENTE -->
                            <div *ngIf="flagShowQRCode(itemTessera)==false">
                              <ion-item  [color]="itemTessera.isValid() ? 'success':'danger'" lines="none">
                                <ion-label>
                                  Scadenza
                                </ion-label>
                                <ion-badge slot="end">
                                  {{itemTessera.DATASCADENZA | date : 'dd/LL/yyyy'}}
                                </ion-badge>
                              </ion-item>
                            </div>                        

                          </ion-card-content>
                        </ion-card>
                      </div>
                </ion-col>


                <!-- MODULI RICHIESTE-->
                <ion-col size="12" size-xs="12" size-sm="12" size-md="6" size-lg="8" size-xl="8">
                  <ion-list *ngIf="itemTipo.TIPITESSERETEMPLATE.length != 0">
                    <ion-list-header>Moduli richieste</ion-list-header>
                    <ion-item 
                        (click)="onDownloadTemplate(itemTemplate)"
                        *ngFor="let itemTemplate of itemTipo.TIPITESSERETEMPLATE">
                      <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                      <ion-label class="ion-text-wrap">
                          {{itemTemplate.DESCRIZIONE}}
                      </ion-label>
                      <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
                    </ion-item>
                  </ion-list>

                </ion-col>
              </ion-row>
            </ion-grid>







          </div>
        </ion-accordion>
      </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
