<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Attivit&agrave;</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="showTabs" mode="md">
    <ion-segment 
          mode="md"
          [(ngModel)]="selectedView" 
          value="prenotazioni"
          (ionChange)="onChangeSegment($event)" >

      <ion-segment-button  
                value="prenotazioni">

        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Prenotazioni</ion-label>
      </ion-segment-button>

      <ion-segment-button 
            value="corsi">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Corsi</ion-label>
        
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content id="content" scrollEvents (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="12" 
               sizeLg="8" offsetLg="2"
               sizeXl="6" offsetXl="3">
 
              <!-- PARTE CORSI -->
              <div class="contentExpand" *ngIf="selectedView=='corsi'">

                  <!-- CORSI CARICATI E NON IN ERRORE-->
                  <div *ngIf="loadingCorsiComplete && !loadingCorsiError">
                    <!-- NESSUN CORSO-->
                    <app-card-image
                        *ngIf="listUtenteCorsi!.length === 0"
                        src="assets/boysplaying_small.png"
                        title="Che peccato !!!"
                        subtitle="Non ho trovato nessuna iscrizione ai nostri corsi"
                    ></app-card-image>                  
  
                    <!-- LISTA CORSI -->
                      <ion-list *ngIf="listUtenteCorsi!.length !== 0">
                        <ion-item button 
                              *ngFor="let corso of listUtenteCorsi" 
                              (click)="onClickCorso(corso)" >
  
                        <!-- ICONA CORSO -->
                        <ion-icon 
                            name="school-outline" 
                            class="icon-school"
                            slot="start"
                            [color]="corso.DATAFINE > today && corso.DATAINIZIO < today ? 'success': 'danger'">
                        </ion-icon>
  
                        <ion-label 
                              class="ion-text-wrap">
                          <p class="ion-text-color-label">{{corso.DATAINIZIO | date : 'EEEE dd/MM/yyyy' | titlecase}}
                            <br/>
                            {{corso.DATAFINE | date : 'EEEE dd/MM/yyyy' | titlecase}}
                          </p>
                          <h1>{{corso.DENOMINAZIONESPORT}} in {{corso.DENOMINAZIONELOCATION}}</h1>
                          <h3>{{corso.GIORNIPREVISTI|giorniPrevisti: lingua|titlecase}} </h3>
  
                        </ion-label>   
                        
                        <!-- ORA INIZIO -->
                        <ion-chip 
                            [color]="corso.DATAFINE > today && corso.DATAINIZIO < today ? 'success': 'danger'">
                          {{corso.ORAINIZIO | date: 'HH:mm'}}
                          <ion-icon name="time-outline"></ion-icon>
                        </ion-chip>
                        </ion-item>         
                      </ion-list>     
                  </div>
                  <!-- CORSI CARICATI E IN ERRORE-->
                  <div *ngIf="loadingCorsiComplete && loadingCorsiError">
                    <app-card-image
                        src="assets/boysplaying_small.png"
                        title="Ops, spiacente"
                        subtitle="Si &egrave; verificato un errore nel recupero"
                    ></app-card-image>       
                  </div>
              </div>

              <!-- PARTE PRENOTAZIONI -->
              <div class="contentExpand" *ngIf="selectedView=='prenotazioni'">

                  <!-- PRENOTAZIONI CARICATI E NON IN ERRORE-->
                  <div *ngIf="loadingPrenotazioniComplete && !loadingPrenotazioniError">                
                      <!-- NESSUNA PRENOTAZIONE-->
                      <app-card-image
                          *ngIf="listUtentePrenotazione!.length === 0"
                          src="assets/boysplaying_small.png"
                          title="Che peccato !!!"
                          subtitle="Non ho trovato nessuna prenotazione presso la nostra struttura"
                      ></app-card-image> 


                      <!-- Lista prenotazioni -->
                      <ion-list *ngIf="listUtentePrenotazione!.length !== 0">
                        <ion-item button 
                                *ngFor="let prenotazione of listUtentePrenotazione" 
                                (click)="onClickPrenotazione(prenotazione)">

                          <ion-icon 
                              class="icon-prenotazioni"
                              name="calendar-outline" 
                              slot="start" 
                              [color]="prenotazione.DATAORAFINE < today ? 'danger': 'success'">

                          </ion-icon>
                          

                          <ion-label class="ion-text-wrap">
                            <p class="ion-text-color-label">{{prenotazione.DATAORAINIZIO | date : 'EEEE dd/MM/yyyy' | titlecase}}</p>
                            <h1>Ore {{prenotazione.DATAORAINIZIO | date: 'HH:mm'}}</h1>
                            <h3>{{prenotazione.COMUNELOCATION|titlecase}} 
                              <span>{{( (prenotazione.COMUNELOCATION && prenotazione.INDIRIZZOLOCATION) ? ', ':'')}}</span> 
                              <span>{{prenotazione.INDIRIZZOLOCATION|titlecase}}</span>
                            </h3> <!--anche qui manca decodifica centro sportivo-->

                          </ion-label>
                          <ion-chip [color]="prenotazione.DATAORAFINE < today ? 'danger': 'success'">
                            {{prenotazione.DURATAORE > 1 ? prenotazione.DURATAORE : prenotazione.DURATAORE*60}} {{prenotazione.DURATAORE>1? 'Ore' : 'Min.'}}
                          </ion-chip>
                        </ion-item>
                      </ion-list>
                </div>

                <!-- PRENOTAZIONI CARICATI E IN ERRORE-->
                <div *ngIf="loadingPrenotazioniComplete && loadingPrenotazioniError">                
                  <app-card-image
                  src="assets/boysplaying_small.png"
                  title="Ops, spiacente"
                  subtitle="Si &egrave; verificato un errore nel recupero"
                  ></app-card-image>  
                </div>                

              </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
