<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Corsi</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="goToFilter()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar 
        mode="md" 
        *ngIf="showTabs && userLogged">

    <!-- BOTTONI SEGMENTATI -->
    <ion-segment 
      mode="md"
      (ionChange)="onChangeSegmentCorsi($event)"
      color="primary"
      [(ngModel)]="statoPagina"
      id="crs:button">
      
    <ion-segment-button [value]="PageState.MIEI">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Mio Livello</ion-label>
    </ion-segment-button>

      <ion-segment-button [value]="PageState.TUTTI">
        <ion-icon name="school-outline"></ion-icon>
          <ion-label>Tutti</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>

</ion-header>
 

<ion-content id="content" scrollEvents (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row
            *ngIf="(statoPagina==PageState.TUTTI && listCorsi.length !== 0) || (statoPagina==PageState.MIEI && listCorsiMioLivello.length !== 0)" 
            class="ion-padding-horizontal">
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="8" offsetMd="2"
               sizeLg="8" offsetLg="2"
               sizeXl="8" offsetXl="2">
      <ion-item
          (click)="onChangeVersionList()" 
          button="true"
          detail="false"
          lines="none">
        <ion-label>
          Cambia visualizzazione in
        </ion-label>
        <ion-badge color="success">{{listVersion == 2 ? 'Elenco' : 'Card'}}</ion-badge>
      </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="8" offsetMd="2"
               sizeLg="8" offsetLg="2"
               sizeXl="8" offsetXl="2">
               <!-- VISUALIZZAZIONE TUTTI -->
               <div *ngIf="statoPagina==PageState.TUTTI">
                <!-- DATI PRESENTI -->
                 <ion-grid *ngIf="listCorsi.length !== 0">
                   <ion-row >
                     <ion-col *ngFor="let itemCorso of listCorsi" 
                               sizeXs="12" 
                               sizeSm="12"  
                               sizeMd="12"
                               [sizeLg]="listVersion==2 ? 6: 12"
                               [sizeXl]="listVersion==2 ? 6: 12"
                               >
               
                           <app-card-course 
                             [version]="listVersion"
                             [myCorso]="itemCorso" 
                             [useIscrizioniColor]="enableIscrizioni"
                             (clickDetail)="onClickCardDetail($event)"
                             (clickIscrizione)="onClickIscrizione($event)">
                           </app-card-course>
               
                     </ion-col>
                   </ion-row>
                 </ion-grid>
                 <!-- DATI NON PRESENTI -->
                  <app-card-image
                      *ngIf="listCorsi.length === 0"
                      src="assets/boysplaying_small.png"
                      title="Guardando in archivio"
                      subtitle="Non ho trovato nessun corso con i criteri impostati"
                      >
                  </app-card-image> 
               </div>
               <div *ngIf="statoPagina==PageState.MIEI">
                <!-- DATI PRESENTI -->
                <ion-grid *ngIf="listCorsiMioLivello.length !== 0">
                  <ion-row >
                    <ion-col *ngFor="let corso of listCorsiMioLivello" 
                          sizeXs="12" 
                          sizeSm="12"  
                          sizeMd="12"
                          [sizeLg]="listVersion==2 ? 6: 12"
                          [sizeXl]="listVersion==2 ? 6: 12"
                              >
                          <app-card-course 
                              [version]="listVersion"
                              [myCorso]="corso" 
                              [useIscrizioniColor]="enableIscrizioni"
                              (clickDetail)="onClickCardDetail($event)"
                              (clickIscrizione)="onClickIscrizione($event)">
                          </app-card-course>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                 <!-- DATI NON PRESENTI -->
                 <app-card-image
                    *ngIf="listCorsiMioLivello.length === 0"
                    src="assets/boysplaying_small.png"
                    title="Guardando in archivio"
                    subtitle="Non ho trovato nessun corso disponibile"
                  >
                  </app-card-image>                 
               </div>
      </ion-col>
    </ion-row>
    <!-- SPAZIO FINALE -->
    <ion-row style="min-height: 200px;height: 200px;">
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="8" offsetMd="2"
               sizeLg="8" offsetLg="2"
               sizeXl="8" offsetXl="2">
      </ion-col>
    </ion-row>    
  </ion-grid>

</ion-content>
