<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Corsi</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="goToFilter()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar 
        mode="md" 
        *ngIf="showTabs && userLogged">

    <!-- BOTTONI SEGMENTATI -->
    <ion-segment 
      mode="md"
      (ionChange)="onChangeSegmentCorsi($event)"
      color="primary"
      [(ngModel)]="statoPagina"
      id="crs:button">
      
    <ion-segment-button [value]="PageState.MIEI">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Mio Livello</ion-label>
    </ion-segment-button>

      <ion-segment-button [value]="PageState.TUTTI">
        <ion-icon name="school-outline"></ion-icon>
          <ion-label>Tutti</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>

</ion-header>
 

<ion-content id="content" scrollEvents (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <!-- VISUALIZZAZIONE TUTTI -->
  <div *ngIf="listCorsi.length !== 0 && statoPagina==PageState.TUTTI" id="crs-lista">
    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let corso of listCorsi" 
                  sizeXs="12" 

                  sizeSm="8"  
                  offsetSm="2" 
                  
                  sizeMd="6"
                  offsetMd="0"
                  
                  sizeLg="5"
                  offsetLg="0.5"

                  sizeXl = "4"
                  offsetXl = "0"
                  >

              <app-card-course 
                [myCorso]="corso" 
                [useIscrizioniColor]="enableIscrizioni"
                (clickDetail)="onClickCardDetail($event)"
                (clickIscrizione)="onClickIscrizione($event)">
              </app-card-course>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>




  <!-- VISUALIZZAZIONE MIEI -->
  <div *ngIf="listCorsiMioLivello.length !== 0 && statoPagina==PageState.MIEI" id="crs-lista">
    <ion-grid>
      <ion-row >
        <ion-col *ngFor="let corso of listCorsiMioLivello" 
                  sizeXs="12" 

                  sizeSm="8"  
                  offsetSm="2" 
                  
                  sizeMd="6"
                  offsetMd="0"
                  
                  sizeLg="5"
                  offsetLg="0.5"

                  sizeXl = "4"
                  offsetXl = "0"
                  >

              <app-card-course 
                  [myCorso]="corso" 
                  [useIscrizioniColor]="enableIscrizioni"
                  (clickDetail)="onClickCardDetail($event)"
                  (clickIscrizione)="onClickIscrizione($event)">
              </app-card-course>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>

  <!-- SE SONO SU TUTTI, MA NON CI SONO -->
  <div *ngIf="listCorsi.length === 0&&statoPagina==PageState.TUTTI" class="nofind-cnt">
    <ion-label>Nessun corso disponibile</ion-label>
    <ion-label>Modifica i parametri</ion-label>
    <ion-label>di Ricerca</ion-label>
  </div>

  <!-- SE SONO SU MIEI, MA NON CI SONO -->
  <div *ngIf="listCorsiMioLivello.length === 0&&statoPagina==PageState.MIEI" class="nofind-cnt">
    <ion-label>Nessun corso disponibile</ion-label>
    <ion-label>Modifica i parametri</ion-label>
    <ion-label>di Ricerca</ion-label>
  </div>


</ion-content>

<ion-footer>
  

</ion-footer>