<ion-header class="ion-no-border">

  <ion-toolbar color="primary">
  
    <ion-title>Ricerca corsi</ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="closeFilter()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      Imposta nelle caselle sottostanti le caratteristiche corsi desiderate e quindi premi il pulsante Cerca Corsi 
    </ion-label>
  </ion-item>

  <!-- TARGET SESSO-->
  <ion-item lines="full">

    <ion-label
        slot="start" 
        position="fixed">Target
    </ion-label>

    <ion-select 
        [compareWith]="compareWithSelect" 
        [(ngModel)]="myFilter.TARGETSESSO"
        [interface]="typeSelectInterface"
        placeHolder="tutti">
          <ion-select-option 
            *ngFor="let itemTarget of listTargetSesso"
            [value]="itemTarget.value">
            {{itemTarget.description}}
          </ion-select-option>
    </ion-select>

  </ion-item>  

  <!-- CATEGORIA ETA -->
  <ion-item>
    <ion-label 
        slot="start" 
        position="fixed">Età</ion-label>
    <ion-select [compareWith]="compareWithSelect" 
                [(ngModel)]="myFilter.IDCATEGORIEETA"
                [interface]="typeSelectInterface"
                placeHolder="tutte">
      <ion-select-option 
        *ngFor="let catEta of listCatEta"
        [value]="catEta.ID"
        >
        {{catEta.DESCTOOLTIP}}
      </ion-select-option>
    </ion-select>
  </ion-item>

    <!-- SPORT --> 
    <ion-item>
      <ion-label 
          slot="start" 
          position="fixed">Attività</ion-label>

      <ion-select [compareWith]="compareWithSelect" 
                  [(ngModel)]="myFilter.IDSPORT"
                  [interface]="typeSelectInterface"
                  placeHolder="tutte">
        <ion-select-option 
            *ngFor="let itemSport of listSport"
            [value]="itemSport.ID">
          {{itemSport.DENOMINAZIONE}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- TIPOLOGIA --> 
    <ion-item>
      <ion-label 
            slot="start" 
            position="fixed">Tipologia</ion-label>
      <ion-select [compareWith]="compareWithSelect" 
                  [(ngModel)]="myFilter.TIPO"
                  [interface]="typeSelectInterface"
                  placeHolder="tutti">
        <ion-select-option 
            *ngFor="let itemTipo of listTipoCorso"
            [value]="itemTipo.value">
          {{itemTipo.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- DATA CORSO --> 
    <app-dtinput
      [(actualDate)]="dataFine"
      calendarMode="date"
      label="dal"
      title="Dalla data">
    </app-dtinput>

    <ion-item
          detail="false"
          button="true"
          (click)="emptyFilter()"
          class="ion-text-end"
          lines="none">
      <ion-label 
        class="ion-text-wrap">
        reimposta i filtri
      </ion-label>
      <ion-icon slot="end" name="trash-outline"></ion-icon>
    </ion-item>

</ion-content>

<ion-footer>
      <ion-button 
          color="secondary" 
          fill="solid" 
          expand="block"
          (click)="applyFilter()">
        Cerca Corsi
      </ion-button>  
</ion-footer>
