ion-tabs{
    ion-tab-bar {
        background-color: var(--ion-tab-background);
        box-shadow: 0px 0px 6px 2px var(--ion-tab-shadow);
        border-style: none;
        --my-border-radius: calc(var(--base-border-radius) + 15pt);
        border-radius: var(--my-border-radius) var(--my-border-radius) 0 0;

        //Safe Area Bottom
        //Versione Web
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;

        &.md {
            //Versione Android (Era 5px ma poco)
            padding-bottom: var(--ion-safe-area-bottom) !important;
        }
        &.ios {
            //Versione IOS
            padding-bottom: var(--ion-safe-area-bottom) !important;
        }


        ion-tab-button {
            margin-top: 5px;
            --background: var(--ion-tab-background);
            --background-focused: var(--ion-tab-selected-background);
            --color: var(--ion-tab-color);
            --color-selected: var(--ion-tab-selected-color);
            --color-focused: var(--ion-tab-selected-color);
            
            background-color: var(--ion-accent-shade);
            color: white;

            &.tab-selected {
                --background: var(--ion-tab-selected-background);
                background-color: var(--ion-tab-selected-background);
                --color: var(--ion-tab-selected-color);
                color: var(--ion-tab-selected-color);  
                border-radius: var(--ion-tab-selected-radius);              
            }
        }

        ion-tab-button::part(native) {
            &:focus, &:hover {
                background-color: var(--ion-tab-selected-background);
                color: var(--ion-tab-selected-color);  
                border-radius: var(--ion-tab-selected-radius);
            }
        }
    }
  
  }

/* Tabs Custom Con spostamento a Sinistra */
@media screen and (min-aspect-ratio: 5/4) {

	ion-tabs { 
		flex-direction: column; 
		.ion-page { left: 56px; } 
	}

    :host ::ng-deep .tabs-inner {
        left: 110px;
        top: 5px;
        width: calc(100% - 115px);
    }


	ion-tab-bar { 
		position: absolute; 
		justify-content: start; 
		width: 90px; 
        top: 5px;
        left: 5px;
		height: 100rem; 
		flex-direction: column;

		ion-tab-button { 
			max-height: 56px; 
            width: calc(100% - 10px);
		} 

		.tabs-ios .tab-button { 
			width: 100%; 
			font-size: 10px; 
			padding: 0; 
		} 

		.has-icon .tab-badge { 
			right: calc(50% - 22px); 
		} 

		.tab-badge { 
			top: 33%; 
		} 
	}
}