<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="tab-shop">
      <ion-icon name="basket-outline"></ion-icon>
      Shop
    </ion-tab-button>
    <ion-tab-button tab="tab-eventi">
      <ion-icon name="sparkles-outline"></ion-icon>
      Eventi
    </ion-tab-button>
    <ion-tab-button tab="tab-profile">      
      <ion-icon name="person-circle-outline"></ion-icon>
      Profilo
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
