.cnt{
    background: var(--ion-color-light);
    min-height: 100%;
}

ion-content{
    color: var(--ion-color-light);

}



ion-card.card-sport{
    
    ion-card-header{
        padding:5px;
        width: 110px;
    }

    ion-card-content{
        padding: 5px;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

i{
    font-size: 40px;
}

ion-card.card-campo{

    ion-card-header{
        padding-top: 5px;
        padding-bottom: 5px;
    }
   margin:5px;
}

