<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{myLocation.DENOMINAZIONE|titlecase}}</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- CAMPI PRESENTI -->
  <div class="cnt" *ngIf="myLocation.CAMPO.length>0">
    <ion-grid>
      <ion-row>
        <ion-col
          sizeXs="10"
          offsetXs="1"
          sizeMd="6"
          offsetMd="0"
         *ngFor="let campo of myLocation.CAMPO">
          <ion-card class="card-campo " mode="ios">
            <ion-slides [options]="getSliderOpts(campo)">
              <ion-slide  *ngFor="let sport of campo.CAMPOSPORT">
                <ion-card class="card-sport">
                  <ion-card-content >
                    <i slot="start" class="icon-sport"><span [innerHTML]="getIconSport(sport)"></span></i>
                  </ion-card-content>
                  <ion-card-header >
                    {{sport._DESCRSPORT}}
                  </ion-card-header>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <ion-card-header color="primary">
              <ion-card-title>
                {{campo.DENOMINAZIONE}}
              </ion-card-title>
              <ion-card-subtitle>
                {{campo.TIPOLOGIA | tipoCampo}} {{ campo.STRUTTURA | strutturaCampo }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- CAMPI NON PRESENTI -->
  <div 
    class="nofind-cnt"
    *ngIf="myLocation.CAMPO.length === 0" 
    id="cam-nofind-cnt">

    <ion-label>Caratteristiche Struttura</ion-label>
    <ion-label>non disponibili</ion-label>
    
  </div>

</ion-content>
