        <ion-card>
          <ion-card-header color="primary" class="SmallPadding">
            <ion-item color="transparent" lines="none">
              
            <ion-title>{{myCorso.DENOMINAZIONE}}</ion-title>
            </ion-item>
          </ion-card-header>


            <ion-grid>
              <ion-row>
                <ion-col text-center>
                  <ion-chip class="Chip" >
                    <ion-icon class="Icon" name="time"></ion-icon>
                  <ion-label color="dark">{{myCorso.ORAINIZIO}}</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col text-center>
                  <ion-chip class="Chip">
                    <ion-icon class="Icon" name="infinite"></ion-icon>
                  <ion-label>{{myCorso.ORELEZIONE}} Ore</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col text-center>
                  <ion-chip class="Chip">
                  <ion-label>{{myCorso.NUMEROLEZIONI}} {{myCorso.NUMEROLEZIONI > 1 ?'Lezioni':'Lezione'}}</ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          


          <!-- GIORNATE -->
          <div id="giornate" class="ion-padding-top ion-padding-bottom">
            <table style="width: 100%;">
              <tr>
                <td *ngFor="let giorno of myCorso._SETTIMANA">
                  <ion-button color="secondary" size="small" [fill]="giorno.selected ?'solid':'outline'">
                    {{giorno.xsLabel | uppercase}}
                  </ion-button>
                </td>
              </tr>
            </table>
          </div>
          

          <ion-card-content class="TabPadding">

            <ion-list lines="none" class="SmallPadding">
              <ion-item>
                <ion-icon name="stats"></ion-icon>
                <ion-label class="SmallMargin">Livello:</ion-label>
                <ion-badge color="secondary">Intermedio 1</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="bookmark"></ion-icon>
                <ion-label class="SmallMargin">Età:</ion-label>
                <ion-badge color="secondary">Intermedio 1</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="transgender"></ion-icon>
                <ion-label class="SmallMargin">Genere:</ion-label>
                <ion-badge color="secondary">Intermedio 1</ion-badge>
              </ion-item>
            </ion-list>
            <ion-segment>
                <ion-button color="secondary" fill="outline">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Inizia il: 10/11/2019</ion-label>
              </ion-button>
            </ion-segment>
          </ion-card-content>
        </ion-card>

