
.contentLezioni {
    display: flex;
    justify-content: flex-end;
    
}

.div-giornate {
    padding: 8px 8px 8px 8px;
}

ion-card {
    
    --background: var(--ion-color-light-alpha);

    ion-card-header {
        --background: var(--ion-color-light-tint);
    }    

    ion-card-header.special {
        --background: var(--ion-color-success-tint);
    } 

    ion-card-content {
        ion-grid {
            padding: 0px 5px 0px 5px;
        }
    }

    ion-footer {
        
        background-color: var(--ion-color-light-tint);

        padding: 4px 16px 4px 16px;

        ion-row {
            ion-col {
                padding: 0px 5px 0px 5px;

                ion-button, ion-label {
                    --background: var(--ion-color-success-tint); 
                    --color: var(--ion-color-dark);
                    --color-activated: var(--ion-color-dark);
                    font-weight: bold;
                }
            }
        }
        p{
            text-align: center;
            font-size: 18;
            font-weight: 600;
        }
    }

    
    
}



i.icon-sport
{
    font-size: 30px;
    font-weight: 600;
}

ion-card-title{
    font-size:18px;
    
}