<ion-card  class="ion-no-margin ion-margin-horizontal" button (click)="goToDetail()">
  <!-- SPORT E NOME CORSO-->
  <ion-card-header >
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding ion-align-items-center">
        <ion-col size="2" class="ion-no-padding">
          <i class="sport-icon"><span [innerHTML]="getSportIcon(myCorso)" ></span> </i>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <ion-card-subtitle>{{myCorso._DESCRSPORT}}</ion-card-subtitle>
          <ion-card-title>{{myCorso.DENOMINAZIONE}}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <!-- ORA INIZIO E DURATA-->
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="6">
          <ion-button 
              size="small" 
              color="primary" 
              expand="block" 
              fill="outline"
              >

            <ion-icon name="time" slot="start"></ion-icon>
            {{myCorso.ORAINIZIO | date:'HH:mm'}}
          </ion-button>
        </ion-col>

        <ion-col size="6" size-sm="6">
          <ion-button 
            size="small" 
            color="primary" 
            expand="block" 
            fill="outline"
            >
            <ion-icon name="infinite" slot="start"></ion-icon>
            {{myCorso.ORELEZIONE}} {{myCorso.ORELEZIONE > 1 ?'Ore':'Ora'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>


  <!-- BOX GIORNATE -->
  <ion-card-content class="ion-no-padding">
    <div class="div-giornate ion-text-center" >
      <table style="width: 100%;">
        <tr>
          <td *ngFor="let giorno of myCorso._SETTIMANA">
            <ion-button 
                [color]="giorno.selected? 'primary': 'secondary'" 
                size="small" 
                [fill]="giorno.selected ?'solid':'outline'">
              {{giorno.xsLabel | uppercase}}
            </ion-button>
          </td>
        </tr>
      </table>
    </div>
      <!-- NUMERO LEZIONI-->
    <div 
        class="contentLezioni ion-margin-horizontal" 
        
        *ngIf="myCorso.NUMEROLEZIONI">
      <h6>
        <em>{{myCorso.NUMEROLEZIONI}} {{myCorso.NUMEROLEZIONI > 1 ?'Incontri ':'Incontro '}}</em>
      </h6>
    </div>
  </ion-card-content>

  <!-- LISTA INFORMAZIONI LIVELLO, ETA, SESSO-->
  <ion-item>
    <ion-icon 
        name="stats-chart-outline" 
        slot="start" 
        [color]="iconColor"></ion-icon>
  <ion-label>{{myCorso['_DENOMINAZIONE_Livello'] ? myCorso['_DENOMINAZIONE_Livello']:'Tutti i Livelli'}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon 
        name="bookmark-outline" 
        slot="start" 
        [color]="iconColor"></ion-icon>
    <ion-label>{{myCorso.IDCATEGORIEETA?myCorso['_DESCTOOLTIP_CategoriaEta']:'Per tutte le età'}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon 
      name="transgender-outline" 
      slot="start" 
      [color]="iconColor"></ion-icon>
    <ion-label>{{getLabelTargetSesso()}}</ion-label>
  </ion-item>

  <ion-footer>
    <ion-row>
      <ion-col 
          size="12" 
          size-sm="12">
          <p class="footer" *ngIf="myCorso.tempoCorso()=='next'">Inizia il {{myCorso.DATAINIZIO|date:'dd/MM/yyyy'}}</p>
          <p class="footer" *ngIf="myCorso.tempoCorso()=='during'">Termina il {{myCorso.DATAFINE|date:'dd/MM/yyyy'}}</p>
          <p class="footer" *ngIf="myCorso.tempoCorso()=='stop'">Concluso il {{myCorso.DATAFINE|date:'dd/MM/yyyy'}}</p>
      </ion-col>
    </ion-row>
  </ion-footer>



</ion-card>

        

