.BtnGiorno
{
    padding-left: 0px;
    padding-right: 0px;
};

.SmallPadding
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
};

.SegBtn
{
    --color-checked-disabled: #000000;
    --color-disabled: #000000;
    --color-checked: #050506;
    --color: #000000;
};

.SmallMargin
{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.TabPadding
{
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
};

.Chip
{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    --background: #0cd1e8;
     padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
};

.Icon
{
    font-size: 25px;
}