<!-- GRID MONTH PICKER -->
<ion-grid 
      class="picker-month ion-no-padding ion-no-margin">
  <ion-row class="ion-align-items-center">

    <ion-col 
        class="ion-text-left"
        size="2">
      <ion-button
          (click) ="onClickMonthButton('prev')"
          class="ion-no-padding ion-no-margin" 
          size="small"
          expand="full" 
          fill="clear" 
          color="danger">
          <ion-icon 
            slot="start" 
            name="chevron-back-outline">
          </ion-icon>
          {{_monthBeforeDay | date: 'MMM' | uppercase}}
    </ion-button>
    
    </ion-col>

    <ion-col 
        (click)="showPickerDate()" 
        size="8" 
        class="ion-text-center">

        <ion-button 
          color = "primary"
          expand="block"
          fill="clear" 
          size="medium">
                {{ _activeDay | date: "EEEE dd MMMM yyyy" | uppercase}}
        </ion-button>
    </ion-col>

    <ion-col 
          class="ion-text-right"
          size="2">

          <ion-button
            (click) ="onClickMonthButton('next')"
            class="ion-no-padding ion-no-margin" 
            size="small"
            expand="full" 
            fill="clear" 
            color="danger">
            <ion-icon 
              slot="end" 
              name="chevron-forward-outline">
            </ion-icon>
            {{_monthAfterDay | date: 'MMM' | uppercase}}
          </ion-button>

    </ion-col>
  </ion-row>
  </ion-grid> 


<!-- GRID PICKER DAY -->
<ion-grid class="picker-day ion-no-margin">
  <ion-row class="ion-no-margin ion-padding-horizontal">
      <ion-col>
        <div class="swiper_wrap">
          <div class="slider-wrapper">
            <div class="swiper-button-prev"></div>
            <swiper-container
                  navigation="true" 
                  (afterinit)="swiperReady()"
                  appSwiper [config]="sliderOpts" 
                  init="false"
                  #swiperDays>
            <swiper-slide *ngFor="let objDay of listDay">
      

      
              <ion-button 
                    *ngIf="objDay.type == 'day'" 
                    class="ion-no-padding ion-no-margin btn-day" 
                    shape="round" 
                    size="large"
                    [fill]="getFillButton(objDay)" 
                    color="secondary" 
                    (click)="onClickButton(objDay)">
                {{ objDay.numValue }}
                <br />
                 {{objDay.dateValue | date : 'EEEEE'}}
              </ion-button>
      
      
            </swiper-slide>
          </swiper-container>            
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </ion-col>

  </ion-row>
</ion-grid>