<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row class=" date-row">
    <ion-col (click)="showPickerDate()" size="" class="ion-text-center">
      <div class="custom-div">
        <h5 class="ion-no-margin custom-h5 ion-text-center">
          <span> {{ activeDay | date: "EEEE dd MMMM yyyy" | titlecase}}</span>
          <ion-icon name="chevron-down" color="primary" class=""></ion-icon>
        </h5>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-margin ion-padding-horizontal">
    <ion-slides [options]="sliderOpts" #sliderDays>
      <ion-slide *ngFor="let objDay of listDay">

        <ion-button *ngIf="objDay.type == 'prev'" class="ion-no-padding ion-no-margin btn-day" shape="round"
          size="large" fill="outline" color="secondary" (click)="onClickButton(objDay)">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>

        <ion-button *ngIf="objDay.type == 'day'" class="ion-no-padding ion-no-margin btn-day" shape="round" size="large"
          [fill]="getFillButton(objDay)" color="secondary" (click)="onClickButton(objDay)">
          {{ objDay.numValue }}
          <br />
          {{objDay.dateValue | date : 'EEEEE'}}
        </ion-button>

        <ion-button *ngIf="objDay.type == 'next'" class="ion-no-padding ion-no-margin btn-day" shape="round"
          size="large" fill="outline" color="secondary" (click)="onClickButton(objDay)">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>        



      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-grid>