<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row class=" date-row">
    <ion-col (click)="showPickerDate()" size=""  class="ion-text-center">
      <div class="custom-div">
      <h5 class="ion-no-margin custom-h5 ion-text-center">
        <span> {{ activeDay | date: "MMMM yyyy" | titlecase}}</span>
        <ion-icon name="chevron-down" color="primary" class=""></ion-icon>
      </h5>
    </div>
    </ion-col>
    <!-- <ion-col (click)="showPickerDate()" size="5" class="ion-no-padding ion-no-margin ion-text-left">
    </ion-col> -->
  </ion-row>

  <ion-row class="ion-no-margin ion-padding-horizontal">
  <ion-slides [options]="sliderOpts" #sliderDays>
    <ion-slide *ngFor="let day of listDay">


        <ion-button 
            class="ion-no-padding ion-no-margin"
            shape="round" 
            size = "large"
            [fill]="getFillButton(day)" 
            color="secondary"
            (click)="onClickButton(day)">
          {{ day }}
        </ion-button>

        
    </ion-slide>
  </ion-slides>
  </ion-row>
</ion-grid>
