@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

ion-card {
    background-color: white;
}

.left-border {
    border-left-style: solid;
    border-width: thin;
    border-color: #eff1f8;
    
}

.orario-black {
    font-family: Roboto;
    font-size: medium;
    color: black;
}

.orario-light {
    font-family: Roboto;
    font-size: medium;
    color: #9da2b3;
}
.player-buttons{
    height:50px;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
}
.add-buttons
{
    height: 50px;
    width: 50px;
}
.add-icons{
    min-width: 30px;
}
.player-icons
{
    min-width:20px;
}

.player-indicator-icon
{
    height: 50px;
    width: 50px;
}


