<div class="player-number-card">
  <div class="player-indicator">
    <div class="player-icon-wrapper">
      <ion-icon name="people"></ion-icon>
    </div>
    <div class="player-count">
      <span class="count-number">{{ numPlayer }}</span>
      <span class="count-label">{{ numPlayer > 1 ? 'Giocatori' : 'Giocatore' }}</span>
    </div>
  </div>

  <div class="player-selector">
    <div class="player-buttons-grid">
      <button 
        *ngFor="let icona of icone" 
        class="player-button"
        [class.active]="icona <= numPlayer"
        (click)="onClickPlayer(icona, $event)">
        <ion-icon name="person"></ion-icon>
      </button>
    </div>
  </div>

  <div class="add-player-section">
    <button 
      class="add-button"
      [class.active]="numPlayer > maxPlayerIcon"
      (click)="onClickPlusPlayer()">
      <ion-icon name="add"></ion-icon>
    </button>
  </div>

  <!-- MESSAGGIO INFORMATIVO -->
  <div class="info-message" (click)="showInfoMessage()">
    <ion-icon name="information-circle-outline"></ion-icon>
    <span>
      {{infoMessage}}
    </span>
  </div>
</div>