<ion-item
    (click)="onClickElement()"
    button="true">
    <!-- PORZIONE ICONA -->
    <ion-icon 
      [name]="iconName" 
      slot="start"
      [color]="iconColor">
    </ion-icon>

<ion-label 

    class="ion-text-wrap">
  <p class="ion-text-bold ion-text-primary" *ngIf="_impegnoDoc.DATAORAINIZIO">
    {{_impegnoDoc.DATAORAINIZIO| date : 'EEEE dd/MM/yyyy' | titlecase}}
    <span *ngIf="_impegnoDoc.compareEqualDate() == false"> fino a {{_impegnoDoc?.DATAORAFINE| date : 'EEEE dd/MM/yyyy' | titlecase}}</span>
  </p>

  <h3>{{_impegnoDoc.DENOMINAZIONE}}</h3>
  <h4>{{_impegnoDoc['_DENOMINAZIONE_Location']}} </h4>

</ion-label> 

<ion-chip 
  [color]="iconColor">
  <span class="ion-text-bold">{{_impegnoDoc.DATAORAINIZIO | date: 'HH:mm'}}</span>
  <ion-icon name="time-outline"></ion-icon>
</ion-chip>

</ion-item>