<ion-card class="ActivityCard scroll-item">
  <ion-card-content class="ActivityLabel">
    <ion-item lines="none">
      <ion-button slot="start" size="large" color="primary" fill="outline">
        <ion-icon [name]="iconName"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>{{ impegno.DATAORAINIZIO.getHours() }}:{{ impegno.DATAORAINIZIO.getMinutes() }}</h2>
        <h3>{{ impegno.DATAORAINIZIO| date: 'EEEE'}}</h3>
        <p>{{ impegno.DESCRIZIONE }}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>