.ActivityCard
{
    
    margin-top: 3vh;
    margin-bottom: 3vh;
    --border-radius: 5px;

};

.ActivityLabel
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

