<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onClickGoBack()" fill="clear" >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Presenze</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickRefreshData()" fill="clear" >
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents (ionScroll)="onScroll($event)">
  <div style="height: 1vh" ></div>
  <ion-grid *ngIf="loadingComplete">
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="12" 
               sizeLg="8" offsetLg="4"
               sizeXl="6" offsetXl="3">

        <!-- ERRORI DI CARICAMENTO DATI -->
        <ion-card *ngIf="loadingError">
          <ion-card-header>
            <ion-card-title>Spiacenti</ion-card-title>
            <ion-card-subtitle>{{messageError}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Non &egrave; possibile operare con le presenze</p>
          </ion-card-content>
        </ion-card> 

    <!-- CARD INFORMATIVA CORSO -->
    <div
        *ngIf="!loadingError"
        class="ion-no-padding div-header" >

      <ion-item lines="none" color="light">
        <ion-icon slot="start" name="school-outline" color="primary">
        </ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>{{pianificazioneDoc.DATAORAINIZIO | date: 'EEEE dd/MM/yyyy '}}</h2>
          <h2>dalle {{pianificazioneDoc.DATAORAINIZIO | date: 'H.mm'}} alle {{pianificazioneDoc.DATAORAFINE | date: 'H.mm'}}</h2>
          <p>per {{pianificazioneDoc.getMinutiLezione()}} minuti</p>
          <h1>{{pianificazioneDoc['_DENOMINAZIONE_Corso']}}</h1>
          <p>{{(pianificazioneDoc['_DENOMINAZIONE_Location'] | titlecase) + ' - ' + (pianificazioneDoc['_DENOMINAZIONE_Campo'] | titlecase)}}</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item lines="none" color="light">
        <p class="text-small">
          <ion-icon name="information-circle-outline" color="primary"></ion-icon> 
          {{pianificazioneDoc.msgCanUpdatePresenze(gapAggiornamentoPresenze)}}
        </p>
      </ion-item> -->

      <ion-item *ngIf="!canUpdate" color="danger">
        <ion-label>Scheda Presenze Bloccata</ion-label>
      </ion-item>

      <ion-button 
          *ngIf="canUpdate"
          color="success" 
          fill="outline"
          expand="block" 
          (click)="onClickSubmit()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Invia dati aggiornati
      </ion-button>      
    </div>

    <!-- SEGMENT CON LE DUE AREE (NOTE e PRESENZE)-->
    <ion-segment 
        mode="md"
        [(ngModel)]="selectedView" 
        >
  
      <ion-segment-button [value]="1">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Presenze</ion-label>
      </ion-segment-button>
  
      <ion-segment-button [value]="2">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Note</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-grid>

    <!-- BUTTON AZIONE TUTTI PRESENTI /ASSENTI-->
     <ion-item
        (click)="onAskForSetPresenze()"
        *ngIf="canUpdate && selectedView == 1 && (listPresenzeConfermate.length != 0 || listPresenzeInProva.length != 0)" 
        detail="true">
        <ion-icon name="hand-left-outline" color="danger" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap ion-text-small">Se vuoi impostare tutti i partecipanti come presenti o assenti premi qui</ion-label>
     </ion-item>

      <!-- ELENCO DEI PARTECIPANTI AL CORSO (PRESENZE)-->
      <ion-row *ngIf="selectedView == 1">

        <ion-col>

          <!-- Iscritti confermati -->
          <ion-list>
            <ion-list-header mode="ios">
              Partecipanti
            </ion-list-header>
            <ion-item 
                *ngIf="listPresenzeConfermate.length == 0">
              Nessun iscritto al corso
            </ion-item>       
            <ion-item 
                *ngIf="listPresenzeConfermate.length != 0"
                lines="none" color="light">
                <p
                  *ngIf="pianificazioneDoc" 
                  class="text-small">
                  <ion-icon name="information-circle-outline" color="primary"></ion-icon> 
                  {{pianificazioneDoc.msgCanUpdatePresenze(gapAggiornamentoPresenze)}}
                </p>
            </ion-item>                 
          </ion-list>

          <!-- GRIGLIA PRIMARIA CON 1 COLONNA E DENTRO I PARTECIPANTI-->
          <ion-grid
              class="ion-margin-bottom ion-no-padding">
            <ion-row>
              <ion-col size="12"
                *ngFor="let presenzaDoc of listPresenzeConfermate; index as i">
                <app-item-presenza 
                  [totMinutiPacchetto]="findMinutiPacchettiFor(presenzaDoc.IDUTENTE)"
                  [modoIscrizione]="corsoDoc?.MODALITAISCRIZIONE"
                  [canUpdate]="canUpdate"
                  [itemPresenza]="presenzaDoc"
                  [rowNumber]="i"
                  (click)="onClickElement(presenzaDoc)"
                  ></app-item-presenza>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Fine Iscritti confermati -->          
      

          <!-- Iscritti in prova -->
          <ion-list
              *ngIf="listPresenzeInProva.length > 0">
            <ion-list-header 
                  mode="ios">
              In prova
            </ion-list-header>          
          </ion-list>

          <!-- GRIGLIA PRIMARIA CON 1 COLONNA E DENTRO I PARTECIPANTI-->
          <ion-grid
              class="ion-margin-bottom ion-no-padding">
            <ion-row>
              <ion-col size="12"
                *ngFor="let presenzaProvaDoc of listPresenzeInProva; index as i">
                <app-item-presenza
                  [totMinutiPacchetto]="findMinutiPacchettiFor(presenzaProvaDoc.IDUTENTE)"
                  [modoIscrizione]="corsoDoc?.MODALITAISCRIZIONE"
                  [canUpdate]="canUpdate"
                  [itemPresenza]="presenzaProvaDoc"
                  [rowNumber]="i"
                  (click)="onClickElement(presenzaProvaDoc)"
                  ></app-item-presenza>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- Fine Iscritti in prova -->      
        </ion-col>
      </ion-row>

    

      <!-- SEGMENT ANNOTAZIONI (Istruttore)-->
      <ion-row *ngIf="selectedView == 2">
        <ion-col>
          <!-- Note istruttore -->
          <ion-list>
            <ion-list-header mode="ios">
              Alla segreteria
            </ion-list-header>

            <!-- Non posso aggiornare e non ho note-->
            <ion-item 
                *ngIf="!canUpdate && !containNoteTrainer">
                <ion-label class="ion-text-wrap">
                  Non è possibile aggiornare le note 
                </ion-label>
            </ion-item>

            <!-- CI SONO DELLE NOTE -->
            <ion-item>
              <ion-label 
                  *ngIf="!canUpdate && containNoteTrainer"
                  class="ion-text-wrap">
                {{pianificazioneDoc.NOTETRAINER}}
              </ion-label>

              <ion-textarea
                  *ngIf="canUpdate"
                  lines="10" 
                  placeholder="Inserisci una nota"  
                  [(ngModel)]="pianificazioneDoc.NOTETRAINER" maxlength="200">
              </ion-textarea>      
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!-- SEGMENT ANNOTAZIONI (Segreteria)-->
      <ion-row *ngIf="showNoteFromBackoffice && selectedView == 2">
        <ion-col>
          <ion-list>
            <ion-list-header mode="ios">
              Ricevute dalla segreteria
            </ion-list-header>  
            <ion-item>
              <ion-icon slot="start" name="pencil-outline"></ion-icon>
              <ion-label class="ion-text-wrap">
                <p>
                  {{pianificazioneDoc.NOTEADMIN}}
                </p>
              </ion-label>
            </ion-item>               
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>    

  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>

</ion-footer>
