<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Le tue ricevute</ion-title>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  
  <app-dtinput
        textAlignmentRight="true"
        [(actualDate)]="yearSelected"
        (actualDateChange)="requestRicevute()"
        calendarMode="year"
        iconColor="primary"
        iconName="calendar-outline" 
        itemLines="none"
        label="Periodo"
        title="Seleziona un Anno"
        >
  
  </app-dtinput>

  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="requestRicevute($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- NESSUN DOCUMENTO PRESENTE -->
  <div *ngIf="listRicevute.length === 0" class="nofind-cnt">
    <ion-label>Nessuna ricevuta</ion-label>
    <ion-label>disponibile</ion-label>
  </div>

  <!-- DOCUMENTI PRESENTI  -->
  <div *ngIf="listRicevute.length > 0">
    <ion-list>
      <ion-item *ngFor="let ricevuta of listRicevute" button (click)="onClickElement(ricevuta)">
        <ion-icon slot="start" class="icon-left" color ="" name="document-text-outline"></ion-icon>
        <ion-label>
          <h3>{{ricevuta.TIPOLOGIA | tipomasterdocumento}} num. {{ricevuta.NUMEROSTAMPA}}</h3>
          <p>Emessa il: {{ricevuta.DATADOCUMENTO | date : 'dd/LL/yyyy' }}</p>
          <p *ngIf="ricevuta.NOTESSTAMPA && ricevuta.NOTESSTAMPA.length !== 0">{{ricevuta.NOTESSTAMPA}}</p>
        </ion-label>
        <ion-chip color="primary" slot="end">{{ricevuta.TOTDOCUMENTO | currency: 'EUR'}}</ion-chip>
        <!-- <ion-badge color="light" slot="end">{{ricevuta.TOTDOCUMENTO | currency: 'EUR'}}</ion-badge> -->
        
      </ion-item>
    </ion-list>
  </div>


</ion-content>
