<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda Impegni</ion-title>
  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment 
          
          [(ngModel)]="selectedView" 
          (ionChange)="onChangeSegment($event)" >

      <ion-segment-button  
                [value]="PageView.impegni">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>Impegni</ion-label>
      </ion-segment-button>

      <ion-segment-button 
      [value]="PageView.corsi">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Valutazioni</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents (ionScroll)="onScroll($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- PORZIONE IMPEGNI -->
  <div class="contentExpand" *ngIf="selectedView==PageView.impegni">

    <!-- PORZIONE FILTRI -->
    <ion-list class="ion-no-padding">
      <ion-item-group >
        <ion-item-divider 
              class="ion-padding-horizontal"
              color="light"
              (click)="onChangeCollapseFilterPianificazioni()">

          
          <ion-icon slot="start" name="filter-circle-outline"></ion-icon>
          <ion-icon slot="end" [name]="collapsedFilterPianificazioni ? 'arrow-down-circle-outline':'arrow-up-circle-outline'"></ion-icon>
          
          <ion-label>
            <h2>{{getLabelFilterImpegni()}}</h2>
          </ion-label>
        </ion-item-divider>

        <ion-item 
              *ngIf = "!collapsedFilterPianificazioni"
              lines="none" 
              color="" >
          <ion-label class="ion-text-wrap">
            <h6>E' possibile ottenere l'elenco degli impegni giornalieri, settimanali o mensili</h6>
          </ion-label>
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        </ion-item>

        <ion-item
            class="mb-8"
            *ngIf = "!collapsedFilterPianificazioni"
            lines="none" 
            color="warning"
            detail="true">
          <ion-icon slot="start" name="search-circle-outline"></ion-icon>
          <ion-label>Ricerca Impegni</ion-label>

          <ion-select
                mode="ios" 
                (ionChange)="onChangePageRangeSearch($event)"
                [(ngModel)]="rangeSearchPianificazioni"
                interface = "action-sheet" 
                okText="Conferma" 
                cancelText="Annulla">
            <ion-select-option [value]="PageRangeSearch.giorno">Giornalieri</ion-select-option>
            <ion-select-option [value]="PageRangeSearch.settimana">Settimanali</ion-select-option>
            <ion-select-option [value]="PageRangeSearch.mese">Mensili</ion-select-option>
          </ion-select>

        </ion-item>

        <ion-item lines="none" color="warning" >
          <ion-icon slot="start" name="calendar-outline" color="primary"></ion-icon>
          <ion-datetime 
            displayFormat="DDDD - DD/MM/YYYY" 
            cancelText="Annulla"
            doneText = "Conferma"
            [dayNames]="settimana" 
            [(ngModel)]="selectedIsoDate" 
            (ngModelChange)="onChangeFilterDateImpegni()"
          >
        </ion-datetime>
        <ion-icon name="chevron-down-outline" color="primary" slot="end"></ion-icon>
        </ion-item>

        
      </ion-item-group>          
    </ion-list>

    <!-- PIANIFICAZIONI PRESENTI -->
    <div 
          *ngIf="myListPianificazioni && myListPianificazioni.length != 0" 
          class="ion-no-padding">
      <ion-list           
          class="ion-no-padding">

          <app-item-agenda-trainer 
                *ngFor="let itemPianificazione of myListPianificazioni"
                [myDocument] = "itemPianificazione"
                (click)="onClickImpegno(itemPianificazione)">
          </app-item-agenda-trainer>
      </ion-list>
    </div>
  
    <!-- NESSUNA PIANIFICAZIONE  -->
    <div class="nofind-cnt" *ngIf="!myListPianificazioni || myListPianificazioni.length == 0">
      <ion-label>Nessun corso trovato</ion-label>
    </div>
  </div>


  <!-- PORZIONI VALUTAZIONI -->
  <div class="contentExpand" *ngIf="selectedView==PageView.corsi">
    <!-- AREA FILTRO RICERCA -->
    <ion-list class="ion-no-padding">
      <ion-item-group >
        <ion-item-divider 
              class="ion-padding-horizontal"
              color="light"
              (click)="onChangeCollapseFilterCorsi()">
              <ion-icon slot="start" name="filter-circle-outline"></ion-icon>
              <ion-icon slot="end" [name]="collapsedFilterCorsi ? 'arrow-down-circle-outline':'arrow-up-circle-outline'"></ion-icon>              
          <ion-label>
            <h2>Corsi che risultano</h2>
          </ion-label>
        </ion-item-divider>

        <ion-item 
              *ngIf = "!collapsedFilterCorsi"
              lines="none" 
              color="" >
          <ion-label class="ion-text-wrap">
            <h6>Elenco dei corsi svolti, in esecuzione o da eseguire prossimamente come trainer o assistente. 
              Al termine del corso potrai dare una valutazione finale dei partecipanti, assegnando eventualmente un nuovo livello raggiunto</h6>
          </ion-label>
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        </ion-item>        

        <ion-item lines="none" color="warning" >
          <ion-icon slot="start" name="hourglass-outline" color="primary"></ion-icon>
          <ion-select 
              mode="ios" 
              (ionChange)="onChangeTimeState($event)"
              [(ngModel)]="selectedTimeState"
              interface="action-sheet">

              <ion-select-option [value]="TimeStateCourse.passati">
                Conclusi
              </ion-select-option>  

              <ion-select-option [value]="TimeStateCourse.attivi">
                In Esecuzione
              </ion-select-option>

              <ion-select-option [value]="TimeStateCourse.futuri">
                Futuri
              </ion-select-option> 

          </ion-select>
        
        <ion-icon name="chevron-down-outline" color="primary" slot="end"></ion-icon>
        </ion-item>

        
      </ion-item-group>  
    </ion-list>

    <!-- CORSI TROVATI -->
    <div class="ion-no-padding" *ngIf="myListCorsi && myListCorsi.length != 0">
      <ion-list           
          class="ion-no-padding">

          <app-item-agenda-trainer 
                *ngFor="let itemCorso of myListCorsi"
                [myDocument] = "itemCorso"
                (click)="onClickCorso(itemCorso)">
          </app-item-agenda-trainer>

      </ion-list>
    </div>
  

    <!-- NESSUN CORSO TROVATO  -->
    <div class="nofind-cnt" *ngIf="!myListCorsi || myListCorsi.length == 0">
      <ion-label>Nessun corso trovato</ion-label>
    </div>
  </div>    

  
  
</ion-content>
