<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>I tuoi corsi</ion-title>
  </ion-toolbar>
    <ion-item lines="none" color="primary" >
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-datetime 
        displayFormat="DDDD - DD/MM/YYYY" 
        [dayNames]="settimana" 
        [(ngModel)]="selectedIsoDate" 
        (ngModelChange)="onChangeFilter()"
      >
      </ion-datetime>
    </ion-item>
</ion-header>

<ion-content>

  <ion-list>
    <app-item-calendario 
      *ngFor="let pianificazione of myListPianificazioni" 
      [params]="getItemParamsFromPianificazione(pianificazione)"
      (click)="onClickCorso(pianificazione)"
    >
    </app-item-calendario>
  </ion-list>
  <!-- <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pianificazione of myListPianificazioni">
        <ion-card button (click)="onClickCorso(pianificazione)">
          <ion-card-content>
            <ion-card-title>
              {{pianificazione['_DENOMINAZIONE_Corso']}}
            </ion-card-title>
          </ion-card-content>
          <ion-card-header>

          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
