<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agenda Impegni</ion-title>
  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment 
          
          [(ngModel)]="selectedView" 
          (ionChange)="onChangeSegment($event)" >

      <ion-segment-button  
                [value]="PageView.impegni">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>Impegni</ion-label>
      </ion-segment-button>

      <ion-segment-button 
      [value]="PageView.corsi">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Valutazioni</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content scrollEvents (ionScroll)="onScroll($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- PORZIONE IMPEGNI -->
  <div class="contentExpand" *ngIf="selectedView==PageView.impegni">

    <ion-segment 
        mode="ios"
        (ngModelChange)="requestImpegni()"
        [(ngModel)]="impegniSelectedMode" 
        scrollable="true">
      <ion-segment-button [value]="mode" *ngFor="let mode of impegniModes">
        <ion-label>{{mode.title}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <app-dtinput
      [title]="titleModalImpegniDate"
      [label]="labelModalImpegniDate"
      itemColor="light"
      itemLines="full"
      iconName="calendar-outline"
      iconColor="primary"
      maskFormat="dddd dd/MM/yyyy"
      [calendarMode]="calendarModeImpegniDate"
      [(actualDate)]="selectedDate"
      (actualDateChange)="requestImpegni()"
    >
    </app-dtinput>    

    <!-- PIANIFICAZIONI PRESENTI -->
    <div 
          *ngIf="myListPianificazioni && myListPianificazioni.length != 0" 
          class="ion-no-padding">
      <ion-list           
          class="ion-no-padding">

          <app-item-agenda-trainer 
                *ngFor="let itemPianificazione of myListPianificazioni"
                [myDocument] = "itemPianificazione"
                (click)="onClickImpegno(itemPianificazione)">
          </app-item-agenda-trainer>
      </ion-list>
    </div>
  
    <!-- NESSUNA PIANIFICAZIONE  -->
    <div class="nofind-cnt" *ngIf="!myListPianificazioni || myListPianificazioni.length == 0">
      <ion-label>Nessun corso trovato</ion-label>
    </div>
  </div>


  <!-- PORZIONI VALUTAZIONI -->
  <div class="contentExpand" *ngIf="selectedView==PageView.corsi">

    <ion-segment 
      mode="ios"
      (ngModelChange)="requestTimeCorsi()"
      [(ngModel)]="valutazioniSelectedMode" 
      scrollable="true">
      <ion-segment-button [value]="mode" *ngFor="let mode of valutazioniModes">
        <ion-label>{{mode.title}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- CORSI TROVATI -->
    <div class="ion-no-padding" *ngIf="myListCorsi && myListCorsi.length != 0">
      <ion-list           
          class="ion-no-padding">

          <app-item-agenda-trainer 
                *ngFor="let itemCorso of myListCorsi"
                [myDocument] = "itemCorso"
                (click)="onClickCorso(itemCorso)">
          </app-item-agenda-trainer>

      </ion-list>
    </div>
  

    <!-- NESSUN CORSO TROVATO  -->
    <div class="nofind-cnt" *ngIf="!myListCorsi || myListCorsi.length == 0">
      <ion-label>Nessun corso trovato</ion-label>
    </div>
  </div>    

  
  
</ion-content>
