#cam-nofind-cnt  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    background-color: var(--ion-color-light);
    color: var(--ion-color-warning);
}

.text-primary {
    // color: var(--ion-color-primary);
    // font-size: 16;
     font-weight: 500;
}



.sfondo{
    background-color: var(--ion-color-light);
    height: 100%;
}

.transparent{
    background-color: transparent;
}

.icon-sport{
    font-family: "sports";
    font-size: 18px;
    padding-left: 20px;
    color: var(--ion-color-primary);
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h4{
    font-size: 16px;
    font-weight: 300;
    color: #8d8d8d;
}