<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{myLocation.DENOMINAZIONE|titlecase}}</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- CAMPI PRESENTI -->
  <div *ngIf="myLocation.CAMPO.length !== 0" >
    <ion-list-header color="light">
      <h1 class="text-primary">I nostri campi:</h1>
    </ion-list-header>

    <ion-list class="ion-no-padding" lines="full" *ngFor="let campo of myLocation.CAMPO">
      <ion-item button (click)="switchExpansion(campo)">
        <ion-icon 
          color="primary"
          name="send"
          slot="start"></ion-icon>

        <ion-label>
          <h2>
            {{ campo.DENOMINAZIONE }}
          </h2>
          <h4>
            {{campo.TIPOLOGIA | tipoCampo}} {{ campo.STRUTTURA | strutturaCampo }}
          </h4>

        </ion-label>

        <ion-icon [name]="!campo.selected ? 'chevron-down': 'chevron-up'" 
                  *ngIf="campo.CAMPOSPORT.length !== 0"></ion-icon>

      </ion-item>
    
        <div *ngIf="campo.CAMPOSPORT.length !== 0 && campo.selected">
            <ion-item  
              *ngFor="let camposport of campo.CAMPOSPORT" 
              color="light" 
              class="ion-no-margin"
              lines="full">
                  <i slot="start" class="icon-sport"><span [innerHTML]="getIconSport(camposport)"></span></i>
                <ion-label>
                   <h3>{{ camposport._DESCRSPORT }}</h3>
                </ion-label>
            </ion-item>
        </div>
    
    </ion-list>

  </div>

  <div 
    *ngIf="myLocation.CAMPO.length === 0" 
    id="cam-nofind-cnt">

    <ion-label>Caratteristiche Struttura</ion-label>
    <ion-label>non disponibili</ion-label>
    
  </div>

</ion-content>
