<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Iscrizione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div 
      *ngIf="loadingComplete"
      style="background-color:#EFF1F8">
        <!-- GRID CON LE INFORMAZIONI CORSO-->
      <ion-grid>
        <ion-row>
          <!-- COLONNA RELATIVA ALLE INFORMAZIONI DI ISCRIZIONE CORSO POSTI DISPONIBILI -->
          <ion-col size="12" size-xl= "6" size-sm="12">
            
            <ion-grid id="info-corso">

              <ion-row
                    class="ion-no-padding ion-no-margin"
                      >
                <ion-col>
                  <ion-button 
                      [color]="flagPostiDisponibili ? 'success':'danger'" 
                      expand="block" 
                      class="full-buttons"
                      (click)="onClickButtonHeader()">
                      <ion-icon 
                        slot="end" 
                        [name]="flagPostiDisponibili ? 'thumbs-up-outline':'ban-outline'">
                      </ion-icon>
                      <h6 class="ion-text-wrap">
                        {{txtPostiDisponibili}}
                      </h6>
                  </ion-button>
                </ion-col>
              </ion-row>
        
              <!-- CARD INFORMAZIONI CORSO -->
              <ion-row 
                    class="ion-no-padding ion-no-margin"
                    id="row-info-corso">
                <ion-col>
                  <ion-card
                      class="ion-no-padding ion-no-margin"
                      >
                    <ion-card-content class="ion-no-padding">
        
                      <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
        
                          <ion-text>Il corso</ion-text>
                          <ion-text class="ion-text-bold">&nbsp;{{corsoDoc.DENOMINAZIONE}}&nbsp;</ion-text>
                          <ion-text>&nbsp;({{ corsoDoc['_DENOMINAZIONE_Sport'] }})&nbsp;</ion-text>
                          <ion-text>inizia&nbsp;</ion-text>
                          <br/>
                          <ion-text style="font-weight: bold;">{{corsoDoc.DATAINIZIO | date: 'EEEE' | titlecase }}&nbsp;</ion-text>
                          <ion-text style="font-weight: bold;">{{corsoDoc.DATAINIZIO | date: 'dd/MM/yyyy' }}</ion-text>
                          <br/>
                          <ion-text>&nbsp;alle ore&nbsp;</ion-text>
                          <ion-text style="font-weight: bold;">{{corsoDoc.ORAINIZIO | date:'HH:mm'}}</ion-text>
                          <br/>
                          <ion-text>&nbsp;e si conclude&nbsp;</ion-text>
                          <br/>
                          <ion-text style="font-weight: bold;">{{corsoDoc.DATAFINE | date: 'EEEE' | titlecase }}&nbsp;</ion-text>
                          <ion-text style="font-weight: bold;">{{corsoDoc.DATAFINE | date: 'dd/MM/yyyy' }}</ion-text>
                          <br/>
                          <ion-text *ngIf="corsoDoc.NUMEROLEZIONI">
                            per un totale di&nbsp;{{corsoDoc.NUMEROLEZIONI}}&nbsp;{{corsoDoc.NUMEROLEZIONI > 1 ?'Incontri':'Incontro '}}
                            <br/>della durata di&nbsp;{{corsoDoc.ORELEZIONE}} {{corsoDoc.ORELEZIONE > 1 ?'Ore':'Ora'}}
                          </ion-text>
        
                        </ion-label>
                      </ion-item>

                      <!-- INFORMAZIONI SULLE GIORNATE DI CORSO-->
                      <ion-accordion-group *ngIf="onlyDaysCorso?.length != 0">
                        <ion-accordion>
                          <ion-item slot="header" color="light">
                            <ion-label class="ion-text-wrap"> 
                              Lezioni Settimanali
                            </ion-label>
                            <ion-badge
                                class="big-badge"
                                color="success"
                                slot="start">
                              &nbsp;{{onlyDaysCorso?.length}}&nbsp;
                            </ion-badge>
                          </ion-item>  
                          <!-- Elenco Giornate -->
                          <div class="ion-padding" slot="content">

                            <ion-list 
                                *ngFor="let recGiorno of onlyDaysCorso">
                              <ion-item color="success">
                                <ion-label>{{recGiorno.label |uppercase}}</ion-label>
                              </ion-item>                              
                            </ion-list>

                            <ion-item>
                              <ion-label 
                                  class="ion-text-wrap">
                                controllare il calendario dettagliato per orari e giornate di corso
                              </ion-label>
                            </ion-item>

                          </div>
                        </ion-accordion>
                      </ion-accordion-group>

                      <!-- INFORMAZIONI A CHI E' RIVOLTO-->
                      <ion-accordion-group>
                        <ion-accordion value="notes">
                          <ion-item slot="header" color="warning">
                            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                            <ion-label class="ion-text-wrap">a chi è rivolto</ion-label>
                          </ion-item>     
                          <div class="ion-padding-horizontal" slot="content">
                             <ion-list lines="none">
       
                               <ion-item class="ion-no-padding">
                                 <ion-icon name="stats-chart-outline" slot="start" [color]="iconColor"></ion-icon>
                                 <ion-label>{{corsoDoc['_DENOMINAZIONE_Livello']?corsoDoc['_DENOMINAZIONE_Livello']:'Tutti i Livelli'}}
                                 </ion-label>
                               </ion-item>
                 
                               <ion-item class="ion-no-padding">
                                 <ion-icon name="bookmark-outline" slot="start" [color]="iconColor"></ion-icon>
                                 <ion-label>{{corsoDoc['_DESCTOOLTIP_CategoriaEta']?corsoDoc['_DESCTOOLTIP_CategoriaEta']:'Per tutte le età'}}</ion-label>
                               </ion-item>
                 
                               <ion-item 
                                     class="ion-no-padding"
                                     *ngIf="corsoDoc.TARGETSESSO">
                                 <ion-icon name="transgender-outline" slot="start" [color]="iconColor"></ion-icon>
                                 <ion-label>{{corsoDoc.TARGETSESSO | targetSesso}}</ion-label>
                               </ion-item>
       
                             </ion-list>
                          </div>
                          </ion-accordion>           
                      </ion-accordion-group>

                     <!-- INFO LOCATION -->
                     <ion-accordion-group *ngIf="locationDoc">
                      <ion-accordion value="notes">
                        <ion-item slot="header" color="warning">
                          <ion-icon slot="start" name="location-outline"></ion-icon>                          
                          <ion-label class="ion-text-wrap">dove si svolge</ion-label>
                        </ion-item>     
                        <div class="ion-padding-horizontal" slot="content">
                          <ion-list lines="none">
                              <!-- COMUNE -->
                              <ion-item 
                                    class="ion-no-padding"
                                    *ngIf="locationDoc?.COMUNE">
                                <ion-icon name="home-outline" slot="start" [color]="iconColor"></ion-icon>
                                <ion-label>{{locationDoc?.COMUNE}}</ion-label>
                              </ion-item>
                
                              <!-- INDIRIZZO -->
                              <ion-item 
                                  class="ion-no-padding"
                                  *ngIf="locationDoc?.INDIRIZZO">
                                <ion-icon name="navigate-outline" slot="start" [color]="iconColor">
                                </ion-icon>
                
                                <ion-label>
                                  {{locationDoc?.INDIRIZZO}}
                                </ion-label>
                
                              </ion-item>
                
                              <ion-item 
                                  class="ion-no-padding"
                                  *ngIf="locationDoc?.TELEFONO">
                                <ion-icon name="call-outline" slot="start" [color]="iconColor"></ion-icon>
                                <ion-label>{{locationDoc?.TELEFONO}}</ion-label>
                              </ion-item>                    
                          </ion-list>
                        </div>
                        </ion-accordion>           
                    </ion-accordion-group>

                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- FINE INFO CORSO-->
          </ion-col>

          <!-- PORZIONE DESTRA ISCRIZIONE (IMPORTO E MODALITA) -->
          <ion-col  size="12" size-xl= "6" size-sm="12">

            <!--GRIGLIA CON TOTALE E PAGAMENTO-->
            <ion-grid>

              <!-- RIGA CON CARD -->
              <ion-row>
                <ion-col>
                  <ion-card class="ion-no-padding ion-no-margin">
                    <!-- TESTATA CON IMPORTO -->
                    <ion-card-header>
                      <ion-grid>
                          <!-- IMPORTO PRENOTAZIONI -->
                          <ion-row class="ion-align-items-center">
                            <ion-col size="5" class="ion-text-center left-col">
                              <h6 class="ion-no-margin ion-text-bold">Quota Iscrizione</h6>
                            </ion-col>
                            <ion-col 
                                size="7">
                              <h5 class="ion-no-margin ion-text-right ion-text-bold">{{iscrizioneDoc?.TOTALE | currency: "EUR"}}</h5>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                    </ion-card-header>

                    <ion-card-content class="ion-padding-horizontal">

                      <!-- GRIGLIA PER FORMULA DI PAGAMENTO -->
                      <ion-grid *ngIf="corsoDoc?.isAPagamento()"
                            class="ion-no-padding ion-no-margin">
                           
                        <!-- QUI VIENE SEMPRE MOSTRATO COME VERRA EFFETTUATO L'INCASSO -->
                        <!-- RATA UNICA / PIU RATE -->
                        <ion-row
                              class="ion-no-padding ion-no-margin"
                             >
                          <ion-col>
                            <ion-item
                                lines="none"
                                >
                                <ion-label class="ion-text-wrap">
                                  <p class="ion-text-bold">
                                        Il corso verr&agrave; saldato con formula
                                  </p>
                                </ion-label>
                                <ion-button 
                                      fill = "outline"
                                      color = "danger"
                                      size = "small"
                                      detail = "false"
                                      button = "false"
                                      slot = "end">
                                      {{labelInfoSelectedTipoPagamento}}
                                </ion-button>
                            </ion-item>                             
                          </ion-col>
                        </ion-row>

                        <!-- IN CASO DI RATEALE-->
                        <ion-list *ngIf="selectedTipoPagamento.isRateale() && iscrizioneDoc?.ISCRIZIONEINCASSO.length != 0"
                                  class="ion-no-padding ion-no-margin">
                          <ion-item *ngFor="let itemIncasso of iscrizioneDoc?.ISCRIZIONEINCASSO">
                            <ion-label>
                              {{itemIncasso.DATASCADENZA | date:'dd/MM/yyyy'}}
                            </ion-label>
                            <ion-button
                                slot="end"
                                size="small"
                                fill="clear"
                                >
                                {{itemIncasso.IMPORTO | currency : 'EUR'}}
                            </ion-button>
                          </ion-item>
                        </ion-list>

                        <!-- SE CI SONO ALTRE MODALITA DI PAGAMENTO  CONSENTO LA SCELTA -->
                        <ion-row *ngIf="listTipiPagamento.length > 1"
                            class="ion-padding-vertical ion-no-margin"
                            >
                          <ion-col>
                            <ion-accordion-group 
                                  >
                                  <ion-accordion value="modosaldo">
                                    <ion-item slot="header" color="light">
                                      <ion-label 
                                            class="ion-text-wrap">
                                        <p class="ion-text-small ion-text-bold">Scegli una formula differente</p>
                                      </ion-label>
                                    </ion-item>
    
                                    <!-- LISTA CON LA SCELTA -->
                                    <div class="ion-padding" slot="content">
                                      <ion-list lines="none">
    
                                        <ion-radio-group
                                            (ngModelChange)="onChangeTipoPagamento($event)"
                                            [(ngModel)]="idSelectedTipoPagamento">
                                            <ion-item
                                                *ngFor="let itemPayment of listTipiPagamento">
                                              <ion-radio [value]="itemPayment.ID">
                                                <h6>{{itemPayment.DESCR}}</h6>
                                                <p class="ion-text-danger ion-text-small">
                                                    {{itemPayment.getLabelForScadenza()}}
                                                </p>
                                              </ion-radio>
                                            </ion-item>
                                       </ion-radio-group>
          
                                      </ion-list>
                                    </div>
                                  </ion-accordion>
                            </ion-accordion-group>                            
                           
                          </ion-col>
                        </ion-row>
                        <!-- CONTATTARE LA STRUTTURA-->
                        <ion-row 
                              class="ion-no-padding ion-no-margin">
                          <ion-col>
                            <ion-label>
                              <p class="ion-text-small">
                                Per qualsiasi problematica, o per richiedere particolari condizioni di pagamento rateale 
                                contattare la struttura <strong>{{locationDoc?.TELEFONO && locationDoc?.TELEFONO.length != 0 ? 'al numero ' + locationDoc?.TELEFONO : ''}}</strong>
                              </p>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-grid>

                        <!-- ANNOTAZIONI IMPORTO TESSERAMENTI -->
                        <ion-row *ngIf="showGroupTesseramenti">
                          <ion-col>
                            <ion-accordion-group>
                              <ion-accordion value="notes">

                                <ion-item slot="header" color="light">
                                  <ion-badge color="success" slot="start" class="big-badge">&nbsp;{{collTesseramenti?.length}}&nbsp;</ion-badge>
                                  <ion-label class="ion-text-wrap">{{collTesseramenti?.length == 1 ? 'Tessera Associativa':'Tessere Associative'}}</ion-label>
                                </ion-item>

                              <div class="ion-padding" slot="content">
                                Il totale &egrave; comprensivo della emissione/rinnovo delle seguenti tessere
                                <ion-grid>
                                    <!-- TESSERA GRATUITA-->
                                    <ion-row *ngFor="let recTessera of collTesseramenti">
                                      <ion-col size="9" *ngIf="recTessera.GRATUITA">
                                        <ion-label class="ion-text-wrap">
                                          <small>{{recTessera.DESCR}}</small>
                                        </ion-label>
                                      </ion-col>
  
                                      <ion-col size="3" class="ion-text-right" *ngIf="recTessera.GRATUITA">
                                        <ion-badge color="success"><small>GRATUITA</small></ion-badge>
                                      </ion-col>
  
  
                                    <!-- TESSERA A PAGAMENTO-->
                                    <ion-col size="9" *ngIf="!recTessera.GRATUITA">
                                      <ion-label class="ion-text-wrap">
                                        <small>{{recTessera.DESCR}}</small>
                                        <p *ngIf="recTessera.ALIQUOTA != 0"><small>(prezzo escluso imposte)</small></p>
                                      </ion-label>
                                    </ion-col>
  
                                    <ion-col size="3" class="ion-text-right" *ngIf="!recTessera.GRATUITA">
                                      <ion-label class="ion-text-wrap">
                                        <small>{{recTessera.IMPONIBILE | currency: "EUR"}}</small>
                                      </ion-label>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </div>
                            </ion-accordion>
                            </ion-accordion-group>
                          </ion-col>
                        </ion-row>
          
                        <!-- SCELTA COME PAGARE -->
                        <ion-row *ngIf="corsoDoc?.isAPagamento()" 
                            class="ion-no-padding ion-no-margin">
                          <ion-col>
                            <app-payment-mode
                              [iconMode]="true"
                              [arPayment]="myListModePayment"
                              (onPaymentModeChoosed)="onPaymentModeSelected($event)">
                            </app-payment-mode>
                          </ion-col>
                        </ion-row>

                        <!-- LEGGI CONDIZIONI DI VENDITA -->
                        <ion-row 
                            class="ion-padding-top"
                            >
                            <ion-col>
                              <ion-item 
                                  (click)="onClickCondizioniVendita()"
                                  lines="none"
                                  detail="true"
                                  button="true"
                                  >
                                <ion-label class="ion-text-wrap">
                                  <p class="ion-text-bold"><small>prima di continuare &egrave; necessario leggere ed accettare le condizioni di vendita</small></p>
                                </ion-label>
                              </ion-item>
                            </ion-col>
                        </ion-row>

                        <!-- FLAG CONDIZIONI VENDITA -->
                        <ion-row class="ion-no-padding ion-no-margin">
                            <ion-col
                            sizeXs="6" offsetXs="6"
                            sizeSm="6" offsetSm="6"
                            sizeMd="6" offsetMd="6"
                            sizeLg="6" offsetLg="6"
                            sizeXl="6" offsetXl="6">
                              
                            <ion-button
                                expand="block"
                                (click)="onClickChangeFlagCondizioni()"
                                size = "small"
                                fill="outline"
                                [color]="flagCondizioni ? 'success' : 'danger'"
                                >
                                <ion-icon *ngIf="flagCondizioni" name="checkmark-outline" slot="start"></ion-icon>
                                {{flagCondizioni ? 'ACCETTO' : 'NON ACCETTO'}}
                            </ion-button>

                            </ion-col>
                          </ion-row>                   
         
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-col>



        </ion-row>
      </ion-grid>
  </div>

</ion-content>

<ion-footer>

  <!-- NUOVO FOOTER -->
  <ion-grid>
    <!-- POSTI ESAURITI -->
    <ion-row *ngIf="!flagPostiDisponibili">
      <ion-col>
        <ion-button
            (click)="onClickContattaStruttura()"
            color="danger" 
            expand="block" 
            class="full-buttons"
        >
          Contatta la struttura per l'iscrizione
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- POSTI DISPONIBILE - CORSO NON A PAGAMENTO -->
    <ion-row *ngIf="flagPostiDisponibili && corsoDoc?.isAPagamento() == false">
      <ion-col>
        <ion-button
            (click)="onClickConfirmIscrizione()"
            color="success" 
            expand="block" 
            class="full-buttons"
        >
          Iscriviti Gratuitamente
        </ion-button>
      </ion-col>
    </ion-row>    

    <!-- POSTI DISPONIBILE - CORSO NON A PAGAMENTO -->
    <ion-row *ngIf="flagPostiDisponibili && corsoDoc?.isAPagamento() == true">
      <ion-col>
        <ion-button
            (click)="onClickConfirmIscrizione()"
            color="success" 
            expand="block" 
            class="full-buttons"
        >
          Concludi Iscrizione
        </ion-button>
      </ion-col>
    </ion-row>  

  </ion-grid>

</ion-footer>