.num-lezioni {
    font-size: small;
    font-weight: bolder;
    color: var(--ion-color-dark);
    padding-right: 15px;
    font-style: oblique;
}

.icon-sport{
    font-size: 25px;
}

.title{
    --background: var(--ion-color-light);
}

ion-footer{
    ion-item>ion-label{
        font-style: oblique;
        font-size: 14px;
    }
    ion-badge{
        margin-left: 10px
    }
}

.links{
    ion-button{
        font-weight: 700;
    }
}