<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ myCorso.TIPO | tipoCorso }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card class="title">
    <ion-item color="light" button="false" lines="none">
      <i class="icon-sport" slot="start"><span [innerHTML]="getIcon(myCorso)"></span></i>
      <ion-label *ngIf="myCorso">
        <h1 class="ion-text-wrap">
          {{ myCorso.DENOMINAZIONE }}
        </h1>
        <h3 class="ion-text-wrap">
          {{ myCorso['_DENOMINAZIONE_Sport'] }}
        </h3>
      </ion-label>
      <ion-label *ngIf="!myCorso">Corso</ion-label>
    </ion-item>

  <div *ngIf="myCorso && myCorso.CORSOPROGRAMMA">
    <ion-card-content 
      *ngFor="let programma of myCorso.CORSOPROGRAMMA"
      class="ion-padding-horizontal" 
      style="display: flex;">
        <ion-icon name="information-circle-outline" color="primary"></ion-icon>
        <span [innerHTML]="programma.TESTOHTML"></span> 
    </ion-card-content>
  </div>

</ion-card>

<ion-grid class="links">
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="solid" color="light" (click)="onClickCalendar()">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Calendario
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" fill="solid" color="light" (click)="onClickAllegati()">
        <ion-icon slot="start" name="document-attach-outline"></ion-icon>
        Allegati
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-list class="ion-no-padding">
  <!-- GIORNATE -->
    <ion-item-group *ngIf="myCorso">
      <ion-item-divider color="light">
        <ion-label>
          <h2>Quando</h2>
        </ion-label>
        <ion-label slot="end" *ngIf="myCorso.NUMEROLEZIONI">
          <p class="num-lezioni">{{myCorso.NUMEROLEZIONI}} {{myCorso.NUMEROLEZIONI > 1 ?'Incontri ':'Incontro '}}</p>
        </ion-label>
      </ion-item-divider>

      <!-- ORA E DURATA -->
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm="6">
            <ion-button 
                size="small" 
                color="primary" 
                expand="block" 
                fill="outline">
  
              <ion-icon name="time" slot="start"></ion-icon>
              {{myCorso.ORAINIZIO | date:'HH:mm'}}
            </ion-button>
          </ion-col>
  
          <ion-col size="6" size-sm="6">
            <ion-button 
              size="small" 
              color="primary" 
              expand="block" 
              fill="outline">
              <ion-icon name="infinite" slot="start"></ion-icon>
              {{myCorso.ORELEZIONE}} {{myCorso.ORELEZIONE > 1 ?'Ore':'Ora'}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    
        <!-- GIORNATA SETTIMANA -->
          <table style="width: 100%;">
            <tr>
              <td class="ion-text-center" *ngFor="let giorno of myCorso._SETTIMANA">
                <ion-button 
                    [color]="giorno.selected? 'primary':'secondary'" 
                    size="small" 
                    [fill]="giorno.selected ?'solid':'outline'">
                    <span *ngIf="isDesktop">
                      {{giorno.label | uppercase}}
                    </span>
                    <span *ngIf="!isDesktop">
                      {{giorno.xsLabel | uppercase}}
                    </span>
                </ion-button>
              </td>
            </tr>
          </table>

        <ion-item button="false" lines="none">
          <ion-label>
            <p *ngIf="myCorso.tempoCorso()=='next'">dal {{myCorso.DATAINIZIO|date:'dd/MM/yyyy'}} al {{myCorso.DATAFINE|date:'dd/MM/yyyy'}}</p>
            <p *ngIf="myCorso.tempoCorso()=='during'">Termina il {{myCorso.DATAFINE|date:'dd/MM/yyyy'}}</p>
            <p *ngIf="myCorso.tempoCorso()=='stop'">Concluso il {{myCorso.DATAFINE|date:'dd/MM/yyyy'}}</p>
          </ion-label>
           
        </ion-item>

    </ion-item-group>

<!-- ADATTO A -->
<ion-item-group *ngIf="myCorso">

  <ion-item-divider color="light">
    <ion-label>
      <h2>Rivolto a</h2>
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-icon 
        name="stats-chart-outline"
        slot="start" 
        color="primary"></ion-icon>
  <ion-label>{{myCorso._DESCRLIVELLOENTRATA?myCorso._DESCRLIVELLOENTRATA:'Tutti i Livelli'}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon 
        name="bookmark-outline" 
        slot="start" 
        color="primary"></ion-icon>
    <ion-label>{{myCorso._DESCRCATEGORIEETA?myCorso._DESCRCATEGORIEETA:'Per tutte le età'}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon 
      name="transgender-outline" 
      slot="start" 
      color="primary"></ion-icon>
    <ion-label>{{myCorso.TARGETSESSO | targetSesso}}</ion-label>
  </ion-item>

  </ion-item-group>

<!-- LOCATION --> 

  <ion-item-group>

    <ion-item-divider color="light">
      <ion-label>
        <h2>Dove</h2>
      </ion-label>
    </ion-item-divider>

    <!-- COMUNE -->
    <ion-item *ngIf="myLocation?.COMUNE">
      <ion-icon 
          name="home-outline" 
          slot="start" 
          color="primary"></ion-icon>
      <ion-label>{{myLocation?.COMUNE}}</ion-label>
    </ion-item>

    <!-- INDIRIZZO -->
    <ion-item *ngIf="myLocation?.INDIRIZZO">
      <ion-icon 
        name="navigate-outline" 
        slot="start" 
        color="primary">
      </ion-icon>

      <ion-label>
        {{myLocation?.INDIRIZZO}}
      </ion-label>

    </ion-item>

    <ion-item *ngIf="myLocation?.TELEFONO">
      <ion-icon 
        name="call-outline" 
        slot="start" 
        color="primary"></ion-icon>
      <ion-label>{{myLocation?.TELEFONO}}</ion-label>
    </ion-item>

  </ion-item-group>
</ion-list>   
<!-- END LOCATION -->
</ion-content>

<!-- FOOTER CON INFO ISCRIZIONE -->

<ion-footer>
  <!-- <ion-button *ngIf="iscrizioneConfermata()" color="primary" fill="outline" expand="block" slot="icon-end">
    Iscrizione confermata dal {{myIscrizione.DATAISCRIZIONE|date:'dd/MM/yy' }}
    <ion-icon name="thumbs-up-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="iscrizioneConfermata()" color="primary" fill="outline" expand="block" slot="icon-end">
    Iscrizione in prova il {{ myIscrizione.DATAISCRIZIONE|date }}
    <ion-icon name="help-outline"></ion-icon>
  </ion-button> -->

  <!-- PARTE ISCRIZIONE -->
    <ion-item lines="full" *ngIf="iscrizioneConfermata()">
      <ion-icon slot="start" name="clipboard-outline" color="primary"></ion-icon>
      <ion-label>
        Iscrizione il {{myIscrizione.DATAISCRIZIONE|date:'dd/MM/yy' }}
      </ion-label>
      <ion-badge slot="end" color="primary">
        Confermata
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-badge>
    </ion-item>
    <ion-item lines="full" *ngIf="!iscrizioneConfermata()">
      <ion-icon slot="start" name="clipboard-outline" color="primary"></ion-icon>
      <ion-label>
        Iscrizione il {{myIscrizione.DATAISCRIZIONE|date:'dd/MM/yy' }}
      </ion-label>
      <ion-badge slot="end" color="light">
        In prova
        <ion-icon name="help"></ion-icon>
      </ion-badge>
    </ion-item>

    <!-- PARTE PAGAMENTO -->

  <ion-button  [disabled]="true" color="primary"  expand="block">
    {{myIscrizione.getCaptionStatePayment()}}
  </ion-button>

 
    

    
</ion-footer>
