<ion-item
    [color]="_itemColor"
    [lines]="_itemLines"
    [detail]="_itemDetail"
    [id]="_componentId">
  <ion-icon 
      *ngIf="withIcon" 
      [icon]="_iconName" 
      [slot]="_iconSlot" 
      [color]="_iconColor">
  </ion-icon>

  <ion-label
      class="ion-text-wrap"
      [position]="_labelPlacement"
      *ngIf="withLabel">{{_label}}
  </ion-label>

  <ion-text
      [slot]="_slotText"
    >
    <p>{{_actualDate | date: _maskFormat}}</p>
  </ion-text>
  
  <ion-modal 
    [keepContentsMounted]="true" 
    [trigger]="_componentId">
    <ng-template>

      <ion-datetime
        #mydatetime
        locale="it-IT"
        [presentation]="_calendarMode"
        [readonly] ="_readonly"
        [value]="formattedDateTimeString"          
        size="cover"
        showDefaultButtons="true"
        cancelText="Annulla"
        clearText="Elimina"
        doneText="Conferma"
        [max]="_isoMaxDate"
        (ionChange)="dateChanged(mydatetime.value)">

      </ion-datetime>
    </ng-template>    
  </ion-modal>

</ion-item>
  

