<ion-item
    [color]="_itemColor"
    [lines]="_itemLines"
    [detail]="_itemDetail"
    [id]="_componentId">
  <ion-icon 
      *ngIf="withIcon" 
      [icon]="_iconName" 
      [slot]="_iconSlot" 
      [color]="_iconColor">
  </ion-icon>

  <ion-label
      slot="start"
      position="fixed"
      *ngIf="withLabel">{{_label}}
  </ion-label>

  <ion-text
      [slot]="_slotText"
    >
    <p>{{_actualDate | date: _maskFormat}}</p>
  </ion-text>
  
  <ion-modal [trigger]="_componentId">
    <ng-template>
      <ion-content>

        <ion-toolbar
              class="datetime-title" 
              *ngIf="_showCalendarTitle"
              color="primary">
          <ion-title size="small">{{_title}}</ion-title>
        </ion-toolbar>

        <ion-datetime
          #mydatetime
          locale="it-IT"
          [presentation]="_calendarMode"
          [readonly] ="_readonly"
          [value]="formattedDateTimeString"          
          size="cover"
          showDefaultButtons="true"
          cancelText="Annulla"
          clearText="Elimina"
          doneText="Conferma"
          (ionChange)="dateChanged(mydatetime.value)">

        </ion-datetime>
      </ion-content>
    </ng-template>    
  </ion-modal>

</ion-item>
  

