<div class="quantity-controls">
  
  <!-- Quantity Selector -->
  <div class="quantity-selector">
    
    <!-- Decrease Button -->
    <button class="quantity-button decrease" 
            (click)="onClickChangeQuantity(-1)"
            [class.disabled]="valueDisplay <= 1">
      <ion-icon name="remove"></ion-icon>
    </button>

    <!-- Display Number -->
    <div class="quantity-display">
      <span class="quantity-value">{{valueDisplay}}</span>
    </div>

    <!-- Increase Button -->
    <button class="quantity-button increase" 
            (click)="onClickChangeQuantity(1)">
      <ion-icon name="add"></ion-icon>
    </button>

  </div>

  <!-- Delete Button -->
  <button class="delete-button" 
          *ngIf="buttonTrashShow"
          (click)="onClickRequestDelete()">
    <ion-icon name="trash-outline"></ion-icon>
    <span>Elimina</span>
  </button>

</div>