<!-- NO ION-HEADER per bottom sheet -->

<ion-content>
  
  <!-- HEADER CUSTOM DENTRO IL CONTENT -->
  <div class="modal-header">
    <button class="back-button" (click)="closeFilter()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <h2 class="modal-title">RICERCA CORSI</h2>
    <button class="clear-button" (click)="emptyFilter()">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
  </div>

  <!-- INFO MESSAGE -->
  <div class="info-message">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>Imposta nelle caselle sottostanti le caratteristiche corsi desiderate e quindi premi il pulsante Cerca Corsi</p>
  </div>

  <!-- FILTRI -->
  <div class="filters-container">
    <ion-accordion-group>
      
      <!-- ACCORDION SESSO -->
      <ion-accordion value="targetsesso"  toggleIconSlot="start">
        <ion-item slot="header" lines="none" class="accordion-header">
          <ion-label>Sesso</ion-label>
          <ion-badge color="success">{{_myFilter['_DESCRTARGETSESSO']}}</ion-badge>
        </ion-item>
  
        <div class="accordion-content" slot="content">
          <ion-item 
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseSesso()">
            <ion-label>Tutti</ion-label>
            <ion-icon 
                [color]="getIconItem(null, _myFilter.TARGETSESSO, 'color')"
                [name]="getIconItem(null, _myFilter.TARGETSESSO, 'name')" 
                slot="end"></ion-icon>
          </ion-item>

          <ion-item 
              *ngFor="let item of listTargetSesso"
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseSesso(item)">
            <ion-label>{{item.description}}</ion-label>
            <ion-icon 
                [color]="getIconItem(item.value, _myFilter.TARGETSESSO, 'color')"
                [name]="getIconItem(item.value, _myFilter.TARGETSESSO, 'name')" 
                slot="end"></ion-icon>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- ACCORDION RANGE ETÀ -->
      <ion-accordion value="categoriaeta" toggleIconSlot="start">
        <ion-item slot="header" lines="none" class="accordion-header">
          <ion-label>Range Età</ion-label>
          <ion-badge color="success">{{_myFilter['_DESCRCATEGORIAETA']}}</ion-badge>
        </ion-item>
  
        <div class="accordion-content" slot="content">
          <ion-item 
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseCategoriaEta()">
            <ion-label>Tutte</ion-label>
            <ion-icon 
                [color]="getIconItem(null, _myFilter.IDCATEGORIEETA, 'color')"
                [name]="getIconItem(null, _myFilter.IDCATEGORIEETA, 'name')" 
                slot="end">
              </ion-icon>
          </ion-item>

          <ion-item 
              *ngFor="let item of listCatEta"
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseCategoriaEta(item)">
            <ion-label>{{item.DESCTOOLTIP}}</ion-label>
            <ion-icon 
                [color]="getIconItem(item.ID, _myFilter.IDCATEGORIEETA, 'color')"
                [name]="getIconItem(item.ID, _myFilter.IDCATEGORIEETA, 'name')"             
                slot="end"></ion-icon>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- ACCORDION ATTIVITÀ -->
      <ion-accordion value="sport" toggleIconSlot="start">
        <ion-item slot="header" lines="none" class="accordion-header">
          <ion-label>Attività</ion-label>
          <ion-badge color="success">{{_myFilter['_DESCRSPORT']}}</ion-badge>
        </ion-item>
  
        <div class="accordion-content" slot="content">
          <ion-item 
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseSport()">
            <ion-label>Tutte</ion-label>
            <ion-icon
                [color]="getIconItem(null, _myFilter.IDSPORT, 'color')"
                [name]="getIconItem(null, _myFilter.IDSPORT, 'name')"              
                slot="end"></ion-icon>
          </ion-item>

          <ion-item 
              *ngFor="let item of listSport"
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseSport(item)">
            <ion-label>{{item.DENOMINAZIONE}}</ion-label>
            <ion-icon 
                [color]="getIconItem(item.ID, _myFilter.IDSPORT, 'color')"
                [name]="getIconItem(item.ID, _myFilter.IDSPORT, 'name')"                                          
                slot="end"></ion-icon>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- ACCORDION TIPOLOGIA -->
      <ion-accordion value="tipo" toggleIconSlot="start">
        <ion-item slot="header" lines="none" class="accordion-header">
          <ion-label>Tipologia</ion-label>
          <ion-badge color="success">{{_myFilter['_DESCRTIPO']}}</ion-badge>
        </ion-item>
  
        <div class="accordion-content" slot="content">
          <ion-item 
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseTipologia()">
            <ion-label>Tutti</ion-label>
            <ion-icon 
                [color]="getIconItem(null, _myFilter.TIPO, 'color')"
                [name]="getIconItem(null, _myFilter.TIPO, 'name')"            
                slot="end"></ion-icon>
          </ion-item>

          <ion-item 
              *ngFor="let item of listTipoCorso"
              detail="false"
              button="true"
              lines="none"
              class="filter-option"
              (click)="onClickChooseTipologia(item)">
            <ion-label>{{item.description}}</ion-label>
            <ion-icon 
                [color]="getIconItem(item.value, _myFilter.TIPO, 'color')"
                [name]="getIconItem(item.value, _myFilter.TIPO, 'name')"                
                slot="end"></ion-icon>
          </ion-item>
        </div>
      </ion-accordion>
  
      <!-- ACCORDION DATA FINE -->
      <ion-accordion value="datafine" toggleIconSlot="start">
        <ion-item slot="header" lines="none" class="accordion-header">
          <ion-label>fino a</ion-label>
          <ion-badge color="success">{{dataFine | date: "dd/MM/yyyy" }}</ion-badge>
        </ion-item>
  
        <div class="accordion-content ion-margin-horizontal" slot="content">
          <app-dtinput
              [(actualDate)]="dataFine"
              calendarMode="date"
              label="dal"
              title="Dalla data">
          </app-dtinput>
        </div>
      </ion-accordion>
  
    </ion-accordion-group>
  </div>

  <!-- FOOTER CON PULSANTE -->
  <div class="modal-footer">
    <ion-button 
        color="primary" 
        expand="block"
        size="large"
        class="search-button"
        (click)="applyFilter()">
      <ion-icon name="search" slot="start"></ion-icon>
      Cerca Corsi
    </ion-button>
  </div>

</ion-content>

