<ion-header class="ion-no-border">

  <ion-toolbar color="primary">
  
    <ion-title>Ricerca corsi</ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="closeFilter()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="emptyFilter()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      Imposta nelle caselle sottostanti le caratteristiche corsi desiderate e quindi premi il pulsante Cerca Corsi 
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-accordion-group
        >
        
        <!-- ACCORDION TARGET SESSO -->
        <ion-accordion value="targetsesso">
          <ion-item slot="header" color="light">
            <ion-label>Sesso</ion-label>
            <ion-badge color="success">{{_myFilter['_DESCRTARGETSESSO']}}</ion-badge>
          </ion-item>
    
          <div class="ion-padding" slot="content">
            <ion-list>
    
              <ion-item 
                  detail="false"
                  button="true"
                  (click)="onClickChooseSesso()">
                <ion-label>Tutti</ion-label>
                <ion-icon 
                    color="success"
                    *ngIf="!_myFilter.TARGETSESSO" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
              <ion-item 
                      (click)="onClickChooseSesso(item)"
                      *ngFor="let item of listTargetSesso">
                  <ion-label>{{item.description}}</ion-label>
                  <ion-icon 
                      color="success"
                      *ngIf="item.value == _myFilter.TARGETSESSO" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
            </ion-list>
          </div>
        </ion-accordion>
    
        <!-- ACCORDION CATEGORIA ETA -->
        <ion-accordion value="categoriaeta">
          <ion-item slot="header" color="light">
            <ion-label>Range Et&agrave;</ion-label>
            <ion-badge color="success">{{_myFilter['_DESCRCATEGORIAETA']}}</ion-badge>
          </ion-item>
    
          <div class="ion-padding" slot="content">
            <ion-list>
    
              <ion-item 
                  detail="false"
                  button="true"
                  (click)="onClickChooseCategoriaEta()">
                <ion-label>Tutte</ion-label>
                <ion-icon 
                    color="success"
                    *ngIf="!_myFilter.IDCATEGORIEETA" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
              <ion-item 
                      (click)="onClickChooseCategoriaEta(item)"
                      *ngFor="let item of listCatEta">
                  <ion-label>{{item.DESCTOOLTIP}}</ion-label>
                  <ion-icon 
                      color="success"
                      *ngIf="item.ID == _myFilter.IDCATEGORIEETA" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
            </ion-list>
          </div>
        </ion-accordion>    
    
        <!-- ACCORDION ATTIVITA' -->
        <ion-accordion value="sport">
          <ion-item slot="header" color="light">
            <ion-label>Attivit&agrave;</ion-label>
            <ion-badge color="success">{{_myFilter['_DESCRSPORT']}}</ion-badge>
          </ion-item>
    
          <div class="ion-padding" slot="content">
            <ion-list>
    
              <ion-item 
                  detail="false"
                  button="true"
                  (click)="onClickChooseSport()">
                <ion-label>Tutte</ion-label>
                <ion-icon 
                    color="success"
                    *ngIf="!_myFilter.IDSPORT" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
              <ion-item 
                      (click)="onClickChooseSport(item)"
                      *ngFor="let item of listSport">
                  <ion-label>{{item.DENOMINAZIONE}}</ion-label>
                  <ion-icon 
                      color="success"
                      *ngIf="item.ID == _myFilter.IDSPORT" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
            </ion-list>
          </div>
        </ion-accordion> 
        
        <!-- ACCORDION TIPO -->
        <ion-accordion value="tipo">
          <ion-item slot="header" color="light">
            <ion-label>Tipologia</ion-label>
            <ion-badge color="success">{{_myFilter['_DESCRTIPO']}}</ion-badge>
          </ion-item>
    
          <div class="ion-padding" slot="content">
            <ion-list>
    
              <ion-item 
                  detail="false"
                  button="true"
                  (click)="onClickChooseTipologia()">
                <ion-label>Tutti</ion-label>
                <ion-icon 
                    color="success"
                    *ngIf="!_myFilter.TIPO" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
              <ion-item 
                      (click)="onClickChooseTipologia(item)"
                      *ngFor="let item of listTipoCorso">
                  <ion-label>{{item.description}}</ion-label>
                  <ion-icon 
                      color="success"
                      *ngIf="item.value == _myFilter.TIPO" name="checkmark-outline" slot="end"></ion-icon>
              </ion-item>
    
            </ion-list>
          </div>
        </ion-accordion>   
        
        <!-- ACCORDION DATAFINE -->
        <ion-accordion value="datafine">
          <ion-item slot="header" color="light">
            <ion-label>fino a</ion-label>
            <ion-badge color="success">{{dataFine | date: "EEEE dd/MM/yyyy" }}</ion-badge>
          </ion-item>
    
          <div class="ion-padding" slot="content">        
            <!-- DATA CORSO --> 
            <app-dtinput
              [(actualDate)]="dataFine"
              calendarMode="date"
              label="dal"
              title="Dalla data">
            </app-dtinput>
          </div>
        </ion-accordion>      
    
      </ion-accordion-group> 
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
      <ion-button 
          color="secondary" 
          fill="solid" 
          expand="block"
          (click)="applyFilter()">
        Cerca Corsi
      </ion-button>  
</ion-footer>
