<button 
  class="cn-button" 
  id="cn-button"
  (click)="switchMenu()">
  <div style="display: flex; align-items: center;">
    <span>Accedi</span>
  </div>
</button>

<!-- <div class="cn-wrapper" id="cn-wrapper" [ngClass]="{'opened-nav': open}">
   <ul>
       <li>
         <a href="#">
           <ion-icon name="image"></ion-icon>
         </a>
        </li>

        <li>
          <a href="#">
            <ion-icon name="image"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#">
            <ion-icon name="image"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#">
            <ion-icon name="image"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#">
            <ion-icon name="image"></ion-icon>
          </a>
        </li>
   </ul>
</div>
<div id="cn-overlay" class="cn-overlay"></div> -->
