<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Password dimenticata</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT PAGES -->
<ion-content>

  <!-- PARTE RICHIESTA CODICE QUANDO NON HO INVIATO MAIL-->
  <div 
    *ngIf="stato==PageState.richiestaCodice && flagSentMail==false" 
    class="ion-padding-horizontal ion-text-center">

      <!-- MESSAGGIO INFORMATIVO --> 
      <ion-list-header>
        <ion-label>Ti aiutiamo a recuperare il tuo account</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text color="danger">
              <h4>Stai per recuperare l'acceso al tuo profilo</h4></ion-text>
            <p style="font-weight: 700;">
              <i *ngIf="canUseMail && canUseMobile">Indica una email o un numero cellulare utilizzato nella registrazione account, <br/> e ti invieremo un pincode di recovery password</i>
              <i *ngIf="canUseMail && !canUseMobile">Indica una email utilizzata nella registrazione account, <br/> e ti invieremo un pincode di recovery password</i>
              <i *ngIf="!canUseMail && canUseMobile">Indica un numero cellulare utilizzato nella registrazione account, <br/> e ti invieremo un pincode di recovery password</i>                    
            </p>
          </ion-label>
        </ion-item>
      </ion-list>


      <!-- INPUT MAIL -->    
      <form [formGroup]="formInputMailTel">
              <ion-item >
                <ion-icon slot="start" name="at-outline"></ion-icon>
                <ion-input type="text" [placeholder]="getPlaceHolder()" formControlName="contatto"></ion-input>
              </ion-item>
      </form>

      <!-- IMMAGINE -->
      <ion-grid>
        <ion-row class="row-img">
            <ion-col sizeXs="8" offsetXs="2">
                <img class="height-viewport" src="assets/img/otpverif.png" alt="" />
            </ion-col>
        </ion-row>
      </ion-grid>    
  </div>

  <!-- PARTE RICHIESTA CODICE QUANDO HO INVIATO MAIL-->
<div 
    *ngIf="stato==PageState.richiestaCodice && flagSentMail" 
    class="ion-padding-horizontal ion-text-center">

      <!-- MESSAGGIO INFORMATIVO --> 
      <ion-list-header>
        <ion-label>Ti abbiamo inviato una mail</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text color="danger">
              <h4>Controlla nella tua casella email</h4></ion-text>
            <p style="font-weight: 700;">
              <i>hai ricevuto una mail contenente un codice di {{codeLength}} cifre da inserire qui sotto<br>(controlla anche nella cartella spam)</i>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      
    
      <!-- FORM CON IL CODICE DA VERIFICARE -->
    <form   
        class="form-verifica"
        [formGroup]="formVerify">
      <ion-list>
        <ion-item >
          <ion-icon slot="start" name="keypad-outline"></ion-icon>
          <ion-input
            class="code-input" 
            type="tel" 
            inputmode="numeric"
            placeholder="inserisci codice ricevuto" 
            formControlName="codicemail">
          </ion-input>
        </ion-item>

        <ion-item 
            detail="false" 
            class="ion-text-end" 
            lines="none">
            <ion-button
              (click)="onClickNoMailReceived()" 
              color="danger" 
              size="small"
              fill="clear" 
              slot="end">
                <ion-icon 
                  slot="start"
                  name="mail-unread-outline">
                </ion-icon>
              non ho ricevuto la mail
            </ion-button>
          </ion-item>

      </ion-list>

    </form>

    <!-- IMMAGINE -->
    <ion-grid>
      <ion-row class="row-img">
          <ion-col>
              <img class="small-height-viewport" src="assets/img/otpverif.png" alt="" />
          </ion-col>
      </ion-row>
    </ion-grid>     

</div>


  <!-- PARTE CAMBIO PSW -->
  <div 
        *ngIf="stato==PageState.cambioPsw" 
        class="ion-padding-horizontal ion-text-center">

      <!-- MESSAGGIO INFORMATIVO --> 
      <ion-list-header>
        <ion-label>Puoi modificare la password</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text color="danger">
              <h4>Scegli una nuova password di accesso</h4></ion-text>
            <p style="font-weight: 700;">
              <i>inserisci la nuova password che vuoi utilizzare per accedere al tuo profilo {{this.descrUtente}}</i>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>       

    <form [formGroup]="formPsw">
      <ion-list>

        <ion-item>
          <ion-icon 
              slot="start" 
              name="lock-closed-outline">
          </ion-icon>
          <ion-input 
              placeholder="Nuova password" 
              type="password" 
              inputmode="password" 
              formControlName="psw"
              id="newPassword1"
              #newPassword1
              >
          </ion-input>

          <ion-button slot="end" fill="clear" (click)="showHideInput('newPassword1',newPassword1)">
            <ion-icon 
                [name]="showPassword1 ? 'eye-off-outline':'eye-outline'" 
                slot="icon-only">
            </ion-icon>
          </ion-button>

        </ion-item>

        <ion-item>
          <ion-icon 
              slot="start" 
              name="lock-closed-outline">
          </ion-icon>

          <ion-input 
              placeholder="Conferma Password" 
              type="password" 
              inputmode="password" 
              formControlName="confirmPsw"
              id="newPassword2"
              #newPassword2></ion-input>

          <ion-button slot="end" fill="clear" (click)="showHideInput('newPassword2',newPassword2)">
            <ion-icon 
                [name]="showPassword2 ? 'eye-off-outline':'eye-outline'" 
                slot="icon-only">
            </ion-icon>
          </ion-button>

        </ion-item>
      </ion-list>
    </form>

    <!-- IMMAGINE -->
    <ion-grid>
      <ion-row class="row-img">
          <ion-col class="ion-paddign-horizontal">
              <img class="small-height-viewport" src="assets/img/inppassword.png" alt="" />
          </ion-col>
      </ion-row>
    </ion-grid> 
    
    
  </div>
</ion-content>


<!-- GESTIONE BOTTONI INFERIORI -->
<ion-footer>

  <!-- PARTE RICHIESTA CODICE -->

  <!-- MAIL NON INVIATA -->
  <div *ngIf="stato==PageState.richiestaCodice && !flagSentMail">
    <ion-button
        [size]="footerButtonSize" 
        [disabled]="!this.formInputMailTel.valid" 
        color="warning" 
        expand="block" 
        (click)="onClickInviaCodice()">Invia Mail di Recupero</ion-button>
  </div>

  <!-- MAIL INVIATA - INSERIMENTO CODICE DI VERIFICA -->
  <div *ngIf="stato==PageState.richiestaCodice && flagSentMail">
    <ion-button 
        [size]="footerButtonSize" 
        [disabled]="!this.formVerify.valid" 
        color="warning" 
        expand="block" 
        (click)="onClickVerifica()">
        Verifica
      </ion-button>
  </div>

  <!-- PARTE CAMBIO PSW -->
  <div *ngIf="stato==PageState.cambioPsw">
    <ion-button
      [size]="footerButtonSize"   
      [disabled]="!this.formPsw.valid" 
      color="warning" 
      expand = "block" 
      (click)="onClickCambia()">Cambia Password</ion-button>
  </div>
</ion-footer>
