div.div-logo{
    background-color: white;

    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 3vh;

    img{
        height: 15vh;
    }
    
}

div.div-logo.desktop{
    margin-bottom: 0vh;

}

form.form-verifica{
    .code-input{
        text-align: center;
        padding: 0px;
        font-weight: 600;
        font-size: 20px;
        color: var(--ion-color-dark);
    }
}


div.ion-padding{
    margin-top:5vh;
}

div.div-psw{
    p{
        text-align: center;
    }
}