.alert-wrapper.sc-ion-alert-ios,
.alert-wrapper.sc-ion-alert-md {
    border-radius: 30px 0px;
}

.alert-message.sc-ion-alert-ios,
.alert-message.sc-ion-alert-md {
    color: var(--ion-color-primary, #000);
    font-size: 14px;
    padding-top: 21px;
}


.alert-head.sc-ion-alert-ios,
.alert-head.sc-ion-alert-md {
    background-color: var(--ion-color-primary);

    .alert-title.sc-ion-alert-ios,
    .alert-title.sc-ion-alert-md {
        color: var(--ion-color-primary-contrast);
    }
}

.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    padding-top: 20px;
}
