.ion-text-primary {
    color: var(--ion-color-primary) !important;
}

.ion-text-secondary {
    color: var(--ion-color-secondary) !important;
}

.ion-text-tertiary {
    color: var(--ion-color-tertiary) !important;
}

.ion-text-success {
    color: var(--ion-color-success) !important;
}

.ion-text-warning {
    color: var(--ion-color-warning) !important;
}

.ion-text-danger {
    color: var(--ion-color-danger) !important;
}

.ion-text-medium {
    color: var(--ion-color-medium) !important;
}

.ion-text-extralight {
    color: var(--ion-color-extralight) !important;
}


.ion-text-22 {
    font-size: 22px !important;
}


