.ion-text-strong {
    font-weight: 700;
}

.ion-text-primary {
    color: var(--ion-color-primary) !important;
}

.ion-text-secondary {
    color: var(--ion-color-secondary) !important;
}

.ion-text-tertiary {
    color: var(--ion-color-tertiary) !important;
}

.ion-text-success {
    color: var(--ion-color-success) !important;
}

.ion-text-warning {
    color: var(--ion-color-warning) !important;
}

.ion-text-danger {
    color: var(--ion-color-danger) !important;
}

.ion-text-mediumlight {
    color: var(--ion-color-mediumlight) !important;
}

.ion-text-dark {
    color: var(--ion-color-dark) !important;
}

.ion-text-extralight {
    color: var(--ion-color-extralight) !important;
}

.ion-text-color-label {
    color: var(--ion-color-label) !important;
}

.ion-text-22 {
    font-size: 22px !important;
}

.ion-text-small {
    font-size: small !important;
}

.ion-text-smaller {
    font-size: smaller !important;
}

.ion-text-x-small {
    font-size: x-small !important;
}

.ion-text-medium {
    font-size: medium !important;
}

.ion-text-large {
    font-size: large !important;
}

.ion-text-x-large {
    font-size: x-large !important;
} 

.ion-text-bold {
    font-weight: 700 !important;
}

.ion-text-right {
    text-align: right;
}
