/* Questa regola è anche su appstart-home e sposta la tab a sinistra */
/* In questo caso arrotondo la toolbar superiore */
@media screen and (min-aspect-ratio: 5/4) {
  ion-toolbar {
    border-radius: 25px 25px 0px 0px;
  }
}

img {
    &.height-viewport {
        max-height: 30vh;
    }

    &.small-height-viewport {
        max-height: 25vh;
    }
    
    &.cover {
      object-fit:cover;
    }

}

ion-title {
    padding-left: 50px;
    padding-right: 50px;
}

ion-row.row-img {
    text-align: center;
}

.ion-text-bold {
    font-weight: 700 !important;
}

.ion-text-right {
    text-align: right;
}




/* Stili Segment */

  ion-segment-button::part(indicator-background) {
    background: var(--ion-segment-color);
  }
  
  /* Material Design styles */
  ion-segment-button.md::part(native) {
    color: var(--ion-segment-contrast);
  }
  
  .segment-button-checked.md::part(native) {
    color: var(--ion-segment-color);
  }
  
  ion-segment-button.md::part(indicator-background) {
    height: 4px;
  }
  
  /* iOS styles */
  ion-segment-button.ios::part(native) {
    color: var(--ion-segment-color);;
  }
  
  .segment-button-checked.ios::part(native) {
    color: #fff;
  }
  
  ion-segment-button.ios::part(indicator-background) {
    border-radius: 20px;
  }
  /* Fine Stili Segment */
