img{
    &.height-viewport {
        max-height: 30vh;
    }

    &.small-height-viewport {
        max-height: 25vh;
    }    
}

ion-title {
    padding-left: 50px;
    padding-right: 50px;
}

ion-row.row-img {
    text-align: center;
}