// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


  //VERSIONE COLORI OPEN BEACH
  :root {

    
    --ion-color-primary: #192333;
    --ion-color-primary-rgb: 25,35,51;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #161f2d;
    --ion-color-primary-tint: #303947;
  
    --ion-color-secondary: #4d5969;
    --ion-color-secondary-rgb: 77,89,105;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #444e5c;
    --ion-color-secondary-tint: #5f6a78;
  
    --ion-color-tertiary: #fad47a;
    --ion-color-tertiary-rgb: 250,212,122;
    --ion-color-tertiary-contrast: #192333;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #dcbb6b;
    --ion-color-tertiary-tint: #fbd887;
  
    --ion-color-success: #2cb361; 
    --ion-color-success-rgb: 44,179,97;
    --ion-color-success-contrast: #f4f5f9;
    --ion-color-success-contrast-rgb: 244,245,249; 
    --ion-color-success-shade: #8cb87a;
    --ion-color-success-tint: #a9d697;
           
  
    --ion-color-warning: #f9c959;
    --ion-color-warning-rgb: 249,201,89;
    --ion-color-warning-contrast: #192333;
    --ion-color-warning-contrast-rgb: 25,35,51;
    --ion-color-warning-shade: #dbb14e;
    --ion-color-warning-tint: #face6a;
  
    --ion-color-danger: #df413a;
    --ion-color-danger-rgb: 223,65,58;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #c43933;
    --ion-color-danger-tint: #e2544e;
  
   
    --ion-color-light: #F4F5F9;
    --ion-color-light-rgb: 244,245,249;
    --ion-color-light-contrast: #192333;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8db;
    --ion-color-light-tint: #f5f6fa;

    --ion-color-mediumlight: #7a828f;
    --ion-color-mediumlight-rgb: 122,130,143;
    --ion-color-mediumlight-contrast: #ffffff;
    --ion-color-mediumlight-contrast-rgb: 0,0,0;
    --ion-color-mediumlight-shade: #6b727e;
    --ion-color-mediumlight-tint: #878f9a;

    --ion-color-extralight: #f4f5f8;
    --ion-color-extralight-rgb: 244,245,248;
    --ion-color-extralight-contrast: #000000;
    --ion-color-extralight-contrast-rgb: 0,0,0;
    --ion-color-extralight-shade: #d7d8da;
    --ion-color-extralight-tint: #f5f6f9; 
    
    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 0,0,0;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #000000e0;
    --ion-color-dark-tint: #000000e0;    

    --ion-segment-color: #54dc98;
    --ion-segment-contrast: #192333;

    --ion-accent-color: #54dc98;
    --ion-accent-contrast: #192333;
    --ion-accent-shade: #19233399;

    --ion-tab-background: #192333;
    --ion-tab-shadow: #19233399;
    --ion-tab-color: white;
    --ion-tab-selected-background: #54dc98;
    --ion-tab-selected-color: #192333;
    --ion-tab-selected-radius: 15px 15px 15px 15px;

    --ion-color-label: #070c40;


    --base-border-radius: (-6px);

    /* Controlla AppStart-home.page.css li c'e la variante per Android/Ios/Web per la safe-area*/
    --ion-safe-area-bottom: 25px;

    
  }


