<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Documentazione</ion-title>
    <ion-buttons slot="end" *ngIf="listaTipiDocumento?.length != 0">
      <ion-button (click)="onAddDocument()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <!-- NESSUN DOCUMENTO PRESENTE -->
  <div *ngIf="listDocumenti.length === 0" class="nofind-cnt">
    <ion-label>Nessun documento</ion-label>
    <ion-label>disponibile</ion-label>
  </div>

  <!-- DOCUMENTI PRESENTI  -->
  <div *ngIf="listDocumenti.length > 0">
    <ion-list>
      <ion-item *ngFor="let documento of listDocumenti" button (click)="onClickElement(documento)">
        <ion-icon slot="start" color ="primary" name="document-text-outline"></ion-icon>
        <ion-label>
          <h3>{{documento['_DENOMINAZIONE_TipoDocumentazione']}}</h3>
          <p>ultimo aggiornamento {{documento.DATAORAMODIFICA | date : 'EEEE dd/LL/yyyy'| titlecase }} alle {{documento.DATAORAMODIFICA | date : 'HH:mm' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  
</ion-content>
