<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Corsi Giornalieri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid 
        class="ion-no-margin ion-no-padding"
        #gridcontainer>

        <!-- PAGINA IN ERRORE -->
        <ion-row 
            *ngIf="loadedData && errorLoadingData">
          <ion-col 
            sizeXs="12" 
            sizeSm="12" 
            sizeMd="12"
            sizeLg="8" offsetLg="2"
            sizeXl="8" offsetXl="2">

            <!-- ERRORE CARICAMENTO -->
            <app-card-image
              src="assets/boysplaying_small.png"
              title="Spiacenti, qualcosa non va"
              [subtitle]="messageErrorPage"
            >
            </app-card-image>    
          </ion-col>
        </ion-row>

    <!-- DATI CARICATI CORRETTAMENTE -->
    <ion-row 
        *ngIf="loadedData && !errorLoadingData">
      <!-- COLONNA A SINISTRA -->
      <ion-col
          
          sizeXs="12" 
          sizeSm="12" 
          sizeMd="4" 
          sizeLg="4" 
          sizeXl="4">
          <ion-grid 
              class="ion-no-margin ion-no-padding">
            <!-- RIGA COMPLESSA CON GLI SPORT-->
            <ion-row>
              <ion-col>
                <app-sport-scroll 
                    [selectedSport]="selectedSport" 
                    [sportList]="listLocationSport" 
                    [direction]="directionSliderSportCampi"
                    (sportChanged)="onChangeSport($event)" >
                </app-sport-scroll>
              </ion-col>                  
            </ion-row>

            <!-- SCELTA LIVELLO -->
            <ion-row *ngIf="selectedSport">
              <ion-col>
                <ion-accordion-group #accordionsportlevel>
                  <ion-accordion 
                        class="ion-padding-horizontal"
                        value="sportlevel">
                    <ion-item slot="header" color="light">
                      <ion-label>{{selectedLivello ? selectedLivello.DENOMINAZIONE : 'Tutti i livelli'}}</ion-label>
                    </ion-item>
              
                    <div class="ion-no-padding" slot="content">
                      <ion-list>
                        <ion-item 
                            detail="false"
                            button="true"
                            (click)="onChangeLivello()">
                          <ion-label>Tutti i livelli</ion-label>
                          <ion-icon 
                              color="success"
                              *ngIf="!selectedLivello" name="checkmark-outline" slot="end"></ion-icon>
                        </ion-item>
              
                        <ion-item 
                                (click)="onChangeLivello(itemLevel)"
                                *ngFor="let itemLevel of selectedSport.LIVELLO">
                            <ion-label>{{itemLevel.DENOMINAZIONE}}</ion-label>
                            <ion-icon 
                                color="success"
                                *ngIf="selectedLivello && selectedLivello.ID == itemLevel.ID" 
                                name="checkmark-outline" 
                                slot="end"></ion-icon>
                        </ion-item>
              
                      </ion-list>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

          <!-- COLONNA A DESTRA -->
          <ion-col
              sizeXs="12" 
              sizeSm="12" 
              sizeMd="8" 
              sizeLg="8" 
              sizeXl="8">

              <!-- ITEM DEL CALENDARIO  -->
              <ion-grid 
                      class="ion-no-margin ion-no-padding">

                <!-- RIGA 1 CALENDAR SCROLL -->
                <ion-row class="ion-no-margin">
                  <ion-col>
                    <app-calendarscroll 
                      [activeDay]="selectedDate"
                      (onChangeActiveDay)="onChangeBookDay($event)"></app-calendarscroll>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="listCorsi">
                  <ion-col>
                    <ion-list>
                        <ion-item
                            button="true"
                            *ngFor="let itemCorso of listCorsi">
                            <ion-label>
                              <h4 class="ion-text-wrap">{{itemCorso.DENOMINAZIONE}}</h4>
                              <p 
                                class="ion-text-wrap"
                                *ngIf="itemCorso.DENOMINAZIONELIVELLO && itemCorso.DENOMINAZIONELIVELLO.length != 0">
                                {{itemCorso.DENOMINAZIONELIVELLO}}
                              </p>
                            </ion-label>
                            <ion-label slot="end">
                              <h6>{{itemCorso.DATAORAINIZIO | date : 'H.mm'}}</h6>
                              <p>{{itemCorso.ORELEZIONE | labelNumeroOre : 'short'}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-col>
    </ion-row>
  </ion-grid>
          


</ion-content>
