<div *ngIf="actaulStateApplication == stateApplication.onStarting" class="splash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
<!-- SONO IN ERRORE -->
<div *ngIf="actaulStateApplication == stateApplication.onError">
  <ion-grid>
    <ion-row>
      <ion-col 
          sizeXs="12" 
          sizeSm="12" 
          sizeMd="6" offsetMd="3"
          sizeLg="6" offsetLg="3"
          sizeXl="6" offsetXl="3"> 
        
            <ion-card 
                class="ion-text-center">
                <ion-item
                      (click)="onClickSwitchCaptionError()"
                      class="ion-padding-bottom" 
                      button="true"
                      detail="false"
                      lines="none" 
                      color="danger">
                  <ion-icon name="bug-outline" slot="start"></ion-icon>
                  <ion-label>{{captionCardError}}</ion-label>
                  <ion-badge>{{versioneApp}}</ion-badge>
                </ion-item>
                <img alt="players" src="assets/boysplaying_small.png">
                <ion-card-header>
                    <ion-card-title>Spiacenti</ion-card-title>
                    <ion-card-subtitle>Qualcosa è andato storto</ion-card-subtitle>
                </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            Non riesco a collegarmi per recuperare i dati. Verifica la rete e riprova.
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-button
                                (click)="onStartApplication()" 
                                expand="full"
                                fill="outline"
                                color="danger">
                              Riprova
                            </ion-button>
                          </ion-col>
                        </ion-row>

                        <ion-row *ngIf="switchErrorMessage">
                          <ion-col>
                            <ion-item lines="none">
                              <ion-label 
                                  class="ion-text-wrap"
                                  *ngIf="errorMessage.length != 0">{{errorMessage}}</ion-label>
                              <ion-label 
                                  class="ion-text-wrap"
                                  *ngIf="errorMessage.length == 0">non sono presenti messaggi di errore aggiuntivi</ion-label>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                    </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!-- PUO' PARTIRE L'APP -->
<ion-app *ngIf="actaulStateApplication == stateApplication.started"> 
    <ion-router-outlet></ion-router-outlet> 
</ion-app>
