
<ion-content  class="contentPrinc">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col sizeSm="8" offsetSm="2" sizeLg="4" offsetLg="4">
        <ion-card class="cardPrincipale" *ngIf="stato==pageState.REGISTRATION">
          
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
              <ion-title>
                <!-- {{startConfig?.companyName | titlecase }} -->
                Gioca con noi
              </ion-title>
            </ion-toolbar>
          </ion-header>

          
          <ion-card-content >            
            <img [src]="startConfig.urlLogoMenu">
            <form [formGroup]="formRegister">
              <ion-list>
                <ion-item>
                  <ion-icon name="contact" slot="start"></ion-icon>
                  <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="contact" slot="start"></ion-icon>
                  <ion-input type="text" placeholder="Cognome" formControlName="surname" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="at" slot="start"></ion-icon>
                  <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="key" slot="start"></ion-icon>
                  <ion-input type="password" placeholder="Password" formControlName="psw"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="call" slot="start"></ion-icon>
                  <ion-input type="tel" inputmode="tel" placeholder="Cellulare" formControlName="telephone" ></ion-input>
                </ion-item>
              </ion-list>
              <ion-button class="btnRegister"  color="primary" fill="outline" expand="block" [disabled]="!formRegister.valid" (click)="onClickProsegui()">
                prosegui
              </ion-button>
            </form>
          </ion-card-content>
            
          <ion-footer>
            <ion-row>
              <ion-col class="ion-text-center">
                Hai già un account?
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-text-center">
                <a routerLink="/auth/login" routerDirection="root">Login</a>
              </ion-col>
            </ion-row>

          </ion-footer>

        </ion-card>    
        
        
        <ion-card class="cardPrincipale" *ngIf="stato==pageState.CONFIRM">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
              <ion-title>
                Gioca con noi
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-card-content>
            <img [src]="startConfig.urlLogoMenu">
            <h2 class="ion-text-center ion-padding-vertical">Inserisci il codice che ti abbiamo inviato tramite SMS</h2>
            <form [formGroup]="formConfirm">
              <div class="activation-popup-code">            
                  <div class="code-liste">
                    <ion-segment>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c1" #c1 (ionInput)="changeFocus($event)"id="1"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c2" #c2 (ionInput)="changeFocus($event)"id="2"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c3" #c3 (ionInput)="changeFocus($event)"id="3"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c4" #c4 (ionInput)="changeFocus($event)"id="4"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c5" #c5 (ionInput)="changeFocus($event)"id="5"></ion-input>
                    </ion-segment>
                  </div>
              </div>
              <ion-button class="btnRegister"  color="primary" fill="outline" expand="block" [disabled]="!formConfirm.valid" (click)="onClickRegister()">
                registrati
              </ion-button>
            </form>
          </ion-card-content>          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>







<!-- <ion-header >
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="http://www.openbeachvolley.com/milano/wp-content/uploads/logo_grande.png"
    class="logo">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment>
    <ion-avatar class="avatar">
      <img src="/assets/img/avatar.svg">
      <ion-fab-button color="medium" class="btnAddPhoto">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-avatar>
    </ion-segment>
    <h1 class="titolo" >Benvenuto!</h1>
  <ion-button color="primary" fill="outline" expand="block" class="btnRegistrati" [disabled]="!form.valid" (click)="onClickRegister()">
    Registrati
  </ion-button>
  

</ion-content> -->


