

.cardPrincipale
{
    background-color: white;

    ion-list.ios
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.contentPrinc
{
    //Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0cd1e8+0,2989d8+50,0cd1e8+100
    //Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0cd1e8+0,2989d8+50,0cd1e8+100
--background: #0cd1e8; // Old browsers
--background: -moz-linear-gradient(-45deg,  #0cd1e8 0%, #2989d8 50%, #0cd1e8 100%); // FF3.6-15 
--background: -webkit-linear-gradient(-45deg,  #0cd1e8 0%,#2989d8 50%,#0cd1e8 100%); // Chrome10-25,Safari5.1-6 
--background: linear-gradient(135deg,  #0cd1e8 0%,#2989d8 50%,#0cd1e8 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cd1e8', endColorstr='#0cd1e8',GradientType=1 ); // IE6-9 fallback on horizontal gradient


}

.btnRegister
{
    margin-top: 5vh;
    margin-bottom: 8vh;
}



















// .avatar
// {
//     position:relative;
//     height: auto;
//     width: 180px;
    
// }



// .btnRegistrati
// {
//     margin-top: 6vh;
// }

// .titolo
// {
//    text-align: center;
// }

// .btnAddPhoto
// {
//     position: absolute;
//     left: 120px;
//     bottom: 0px;
   
// }
// .logo
// {
//     height: 6vh;
    

// }