<ion-content  class="contentPrinc">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col sizeSm="8" offsetSm="2" sizeLg="4" offsetLg="4">
        <ion-card class="cardPrincipale" *ngIf="stato==pageState.REGISTRATION">
          
          <ion-header>
            <ion-toolbar color="primary">
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
              <ion-title>
                Crea Profilo
              </ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-card-content >            
            
            <form [formGroup]="formRegister">
              <ion-list>
                <ion-item>
                  <ion-icon name="person-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="person-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="text" placeholder="Cognome" formControlName="surname" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="at-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="key-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="password" placeholder="Password" formControlName="psw"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="key-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="password" placeholder="Verifica password" formControlName="verifyPsw"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="call-outline" slot="start" [color]="iconColor"></ion-icon>
                  <ion-input type="tel" inputmode="tel" placeholder="Cellulare" formControlName="telephone" ></ion-input>
                </ion-item>


                <ion-item lines="none" class="ion-no-padding">
                  <ion-checkbox 
                      slot="end" 
                      color="danger" 
                      class="ion-no-margin"
                      formControlName="chkPrivacy"></ion-checkbox>
                  <ion-label 
                    color="medium" 
                    class="ion-no-margin ion-text-wrap"
                    style="font-size:small;">
                    Accetto Privacy Policy
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="ion-no-padding">
                  <ion-checkbox 
                    
                    slot="end" 
                    color="danger" 
                    class="ion-no-margin" 
                    formControlName="chkNewsletter"></ion-checkbox>
                  <ion-label 
                    color="medium" 
                    class="ion-no-margin ion-text-wrap"
                    style="font-size:small;">
                    Voglio ricevere newsletter
                  </ion-label>
                </ion-item>

              </ion-list>
              <ion-button class="btnRegister"  color="primary" fill="outline" expand="block" [disabled]="!formRegister.valid" (click)="onClickProsegui()">
                registrati
              </ion-button>
            </form>
          </ion-card-content>
            
          <ion-footer class="ion-padding-vertical">
            <ion-row>
              <ion-col class="ion-text-center">
                Hai già un account?
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <a routerLink="/auth/login" routerDirection="root">Accedi</a>
              </ion-col>
            </ion-row>
          </ion-footer>

        </ion-card>    
        
        <ion-card class="cardPrincipale cardConfirm" *ngIf="stato==pageState.CONFIRM">
          <ion-header>
            <ion-toolbar color="warning">
              <ion-title>
                Gioca con noi
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-card-content>
            <img [src]="startConfig.getUrlLogo()">
            <h2 class="ion-text-center ion-padding-vertical">Inserisci il codice che ti abbiamo inviato tramite SMS</h2>
            <form [formGroup]="formConfirm">
              <div class="activation-popup-code">            
                  <div class="code-liste">
                    <ion-segment>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c1" #c1 (ionInput)="changeFocus($event)"id="1"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c2" #c2 (ionInput)="changeFocus($event)"id="2"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c3" #c3 (ionInput)="changeFocus($event)"id="3"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c4" #c4 (ionInput)="changeFocus($event)"id="4"></ion-input>
                      <ion-input clearOnEdit type="tel" inputmode="numeric" class="code-input ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c5" #c5 (ionInput)="changeFocus($event)"id="5"></ion-input>
                    </ion-segment>
                  </div>
              </div>
              <ion-row>
                <ion-col class="ion-text-center" >
                  <p (click)="onClickReinvia()">Non ho ricevuto il codice</p>
                </ion-col>
              </ion-row>
              <ion-button class="btnRegister"  color="primary" fill="outline" expand="block" [disabled]="!formConfirm.valid" (click)="onClickRegister()">
                convalida
              </ion-button>
              <ion-row>
                <ion-col class="ion-text-center">
                  <p routerLink="/" routeDirection="root" >Verifica in seguito</p>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>          
        </ion-card>

        <ion-card class="cardPrincipale cardConfirm" *ngIf="stato==pageState.WELCOME">
          <ion-header>
            <ion-toolbar color="warning">
              <ion-title>
                Gioca con noi
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-card-content>
            <h1 class="ion-text-center ion-padding-vertical">Benvenuto!</h1>
            <img src="/assets/handshake.gif">
            <ion-button size="large" fill="outline" expand="block" routerLink="/" routerDirection="root">inizia</ion-button>
          </ion-card-content>          
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>




