.avatar
{
    position:relative;
    height: auto;
    width: 180px;
    
}



.btnRegistrati
{
    margin-top: 6vh;
}

.titolo
{
   text-align: center;
}

.btnAddPhoto
{
    position: absolute;
    left: 120px;
    bottom: 0px;
   
}
.logo
{
    height: 6vh;
    

}