

.cardPrincipale
{
    background-color: white;

    ion-list.ios
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
}

.cardConfirm
{
    ion-col
    {
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
    p
    {
        cursor: pointer;
        font-weight: 500;
    }

}

.contentPrinc
{
    //Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0cd1e8+0,2989d8+50,0cd1e8+100
    //Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0cd1e8+0,2989d8+50,0cd1e8+100
--background: #0cd1e8; // Old browsers
--background: -moz-linear-gradient(-45deg,  #0cd1e8 0%, #2989d8 50%, #0cd1e8 100%); // FF3.6-15 
--background: -webkit-linear-gradient(-45deg,  #0cd1e8 0%,#2989d8 50%,#0cd1e8 100%); // Chrome10-25,Safari5.1-6 
--background: linear-gradient(135deg,  #0cd1e8 0%,#2989d8 50%,#0cd1e8 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cd1e8', endColorstr='#0cd1e8',GradientType=1 ); // IE6-9 fallback on horizontal gradient


}

.btnRegister
{
    
}




.activation-popup-bg{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.activation-popup-code{
    width:90%;
    background-color:white;
    margin:auto;
    text-align:center;
}
    .activation-popup-code .popup_titre{
        width:75%;
        margin-right:auto;
        margin-left:auto;
        padding-top:5%;
        color:#353535;
        font-family:quicksandLight;
    }
    .activation-popup-code .popup_soustitre{
        color:#242424;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .activation-popup-code .code-liste{
        text-align:center;
        padding-top:5%
    }
        .activation-popup-code .code-liste .code-input{
            display:inline;
            border-radius:15px;
            margin:2px;
            border:3px solid var(--ion-color-warning);

            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;

            
        }

    .activation-popup-code .button-popup-code{
        width:90%;
        margin-bottom:10%;
        margin-top:5%;
        background-color:#707173;
        font-family:quicksandBold;
        color:white;
    }










// .avatar
// {
//     position:relative;
//     height: auto;
//     width: 180px;
    
// }



// .btnRegistrati
// {
//     margin-top: 6vh;
// }

// .titolo
// {
//    text-align: center;
// }

// .btnAddPhoto
// {
//     position: absolute;
//     left: 120px;
//     bottom: 0px;
   
// }
// .logo
// {
//     height: 6vh;
    

// }