<div 
[class]="_cssClassItem"
>
<table
  *ngIf="!_asText"
  style="width: 100%">
  <tr>
    <td 
    [ngClass]="getFlagCanShowDay(giorno) == false ? 'ion-hide ion-text-center':'ion-text-center'"
        *ngFor="let giorno of _listDays">
      <ion-button
        (onClick)="onClickDay(giorno)"
        [color]="getColorDay(giorno)"
        size="small"
        [fill]="getFillDay(giorno)">
        <span>
          {{ getLabelDay(giorno) }}
        </span>

      </ion-button>
    </td>
  </tr>
</table>
<p *ngIf="_asText">{{listText | uppercase}}</p>
</div>
