<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recupero password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT PAGES -->
<ion-content>
  <div [ngClass]="this.isDesktop?'ion-text-center div-logo desktop':'ion-text-center div-logo'">
    <img [src]="startConfig.getUrlLogo()">
  </div>

  <!-- PARTE RICHIESTA CODICE -->
  <div *ngIf="stato==PageState.richiestaCodice" 
        class="ion-padding-horizontal ion-text-center">

    <form [formGroup]="formContact">
      <ion-item >
        <ion-icon slot="start" name="at-outline"></ion-icon>
        <ion-input type="text" placeholder="E-Mail o Cellulare" formControlName="contatto"></ion-input>
      </ion-item>
    </form>
    <ion-button  [disabled]="!this.formContact.valid" color="primary" [ngClass]="this.isDesktop? 'btn-send-code desktop':'btn-send-code'" (click)="onClickInviaCodice()">
      Invia Codice
    </ion-button>

    <div  class="ion-no-padding div-message">
      <p>
      <ion-text color="primary">
          <ion-icon name="information-circle-outline"></ion-icon>
      </ion-text>
          Indica una email o un numero cellulare utilizzato nella registrazione account, e ti invieremo un pincode di recovery password
      </p>
      <p>
          <ion-text color="primary">
              <h6><i>(se non ricordi queste informazioni è necessario contattare la struttura)</i></h6>
          </ion-text>
      </p>
    </div>

    <form [formGroup]="formVerify">
      <div [ngClass]="this.isDesktop?'form-verifica desktop':'form-verifica'">
          <ion-segment>
              <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c1" #c1 (ionInput)="changeFocus($event)"id="1"></ion-input>
              <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c2" #c2 (ionInput)="changeFocus($event)"id="2"></ion-input>
              <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c3" #c3 (ionInput)="changeFocus($event)"id="3"></ion-input>
              <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c4" #c4 (ionInput)="changeFocus($event)"id="4"></ion-input>
              <ion-input clearOnEdit type="tel" inputmode="numeric" class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1" formControlName="c5" #c5 (ionInput)="changeFocus($event)"id="5"></ion-input>
          </ion-segment>
      </div>
    </form>




  </div>

  <!-- PARTE CAMBIO PSW -->
  <div *ngIf="stato==PageState.cambioPsw" class="ion-padding">

    <p>
      <ion-icon color="primary" name="information-circle-outline"></ion-icon>
      Inserisci la nuova password per l'account 
    </p>
    <p>
        <ion-text color="primary"> {{this.descrUtente}}</ion-text>
    </p>
    <form [formGroup]="formPsw">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Nuova password" type="password" inputmode="password" formControlName="psw"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Conferma Password" type="password" inputmode="password" formControlName="confirmPsw"></ion-input>
        </ion-item>
      </ion-list>
    </form>

  </div>
</ion-content>


<ion-footer>
  <!-- PARTE RICHIESTA CODICE -->
  <div *ngIf="stato==PageState.richiestaCodice">
    <ion-button [disabled]="!this.formVerify.valid" color="primary" expand="block" (click)="onClickVerifica()">Verifica</ion-button>
  </div>

  <!-- PARTE CAMBIO PSW -->
  <div *ngIf="stato==PageState.cambioPsw">
    <ion-button  [disabled]="!this.formPsw.valid" color="primary" expand = "block" (click)="onClickCambia()">Cambia Password</ion-button>
  </div>
</ion-footer>
