div.div-logo{
    background-color: white;

    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 3vh;

    img{
        height: 15vh;
    }
    
}

div.div-logo.desktop{
    margin-bottom: 0vh;

}

div.div-message {
    p {
        text-align: center;

        span {
            font-size: 12px;
        }
    }
}

div.form-verifica{
    width:320px;
    margin:auto;
    margin-bottom: 8vh;
    text-align:center;
    ion-segment{
        background:white;
        ion-input{
            display:inline;
            border-radius:15px;
            margin:2px;
            border:3px solid var(--ion-color-primary);
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--ion-color-medium);
            font-size: 40px;
        }
    }
}

div.form-verifica.desktop{
    margin-bottom: 2vh;
}

ion-button.btn-send-code{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

ion-button.btn-send-code.desktop{
    margin-top: 3vh;
    margin-bottom:1vh;
}

div.ion-padding{
    margin-top:5vh;
}

div.div-psw{
    p{
        text-align: center;
    }
}