.griglia-principale{
    ion-row{

        ion-col{
            
            padding:0px;
        }
    }

}

h6
{
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 14px;
}

h4
{
    margin-top: 4px;
    margin-bottom: 5px;
    font-weight: 600;
}


.left-col
{
    border-right-style: solid;
    border-width: thin;
    border-color: #eff1f8;
}


p {
    font-size: 13px;
}




ion-button.full-buttons{
    margin-left:10px;
    margin-right:10px;

}

#item-totale {
    ion-label {
        &.title {
            font-size: 18px;
        }
        p {
            font-size: 10px;
            font-weight: bold;
        }
    }
}


ion-chip.wide {
    width: 100%;
    
    justify-content: center;
  }

  .big-badge {
    font-size: 1.5em;
  }

  ion-radio::part(container) {
    width: 30px;
    height: 30px;
  
    border-radius: 8px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: var(--ion-color-success);
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
  }  