<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carica un documento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon-container">
    <ion-icon name="cloud-upload-outline"></ion-icon>  
  </div>
  <ion-list>
    <ion-item button (click)="showPicker()">
      <ion-icon slot="start" name="document-outline"></ion-icon>
        <ion-label *ngIf="!selectedDocType" class="myPlaceholder">Cosa vuoi caricare ?</ion-label>
        <p>{{selectedDocType? selectedDocType.DENOMINAZIONE : null}}</p>
    </ion-item>

    <!-- SE  SIAMO SU DESKTOP -->
    <ion-item  *ngIf="isDesktop" button (click)="onDesktopUpload()">
        <input accept=".pdf, image/*" hidden id="myInput" type="file" (change)="onChangedDesktopFile($event)">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        <ion-label *ngIf="!loadedDesktopFile" class="myPlaceholder">Fai clic e scegli il file</ion-label>
        <p>{{loadedDesktopFile? loadedDesktopFile.name: null}}</p>
    </ion-item>

    <!-- SE  SIAMO SU MOBILE -->
    <ion-item *ngIf="!isDesktop" button (click)="onMobileUpload()">
      <ion-icon slot="start" name="folder-open-outline"></ion-icon>
      <ion-label *ngIf="!loadedMobileFile" class="myPlaceholder">Scegli il file</ion-label>
      {{loadedMobileFile? loadedMobileFile.name : null}}
    </ion-item>


    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-textarea placeholder="Inserisci una descrizione"  [(ngModel)]="docDescription" maxlength="50"></ion-textarea>      
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-button  expand = "block" (click)="onSubmit()">
    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      Carica
  </ion-button>
</ion-footer>