<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button 
          (click)="close()">
          <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Carica documento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="icon-container">
    <ion-icon name="cloud-upload-outline"></ion-icon>  
  </div> -->

  <div class="title-image">
    <img src="assets/img/image-upload-bro.png"/>
  </div>  
  
  <ion-list>

    <!-- INFORMAZIONI -->
    <div class="info" >
      <ion-item color="light" lines="none">
        <ion-label>
          <p class="ion-text-wrap">
            <ion-icon name="information-circle-outline" color="primary"></ion-icon>
            invia il tuo documento, scegliendo la tipologia ed impostando una data di scadenza in caso di certificati medici o documenti di identità; alla ricezione del documento la segreteria effettuerà un controllo di validità.
        </ion-label>
      </ion-item>
    </div> 

    <ion-list-header>
      Documento
    </ion-list-header>     

    <!-- SE SONO SU MOBILE -->
    <ion-item-group *ngIf="!isDesktop">
  
      <ion-item-divider color="light">
        <ion-label>
          <h2>Carica da</h2>
        </ion-label>
        </ion-item-divider>

        <ion-radio-group [(ngModel)]="sorgenteFile">

          <ion-item>
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>Cartella Documenti</ion-label>
            <ion-radio slot="end" value="file"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            <ion-label>Scatta una foto</ion-label>
            <ion-radio slot="end" value="takephoto"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" name="images-outline"></ion-icon>
            <ion-label>Libreria Foto</ion-label>
            <ion-radio slot="end" value="fromgallery"></ion-radio>
          </ion-item>          

        </ion-radio-group>
    </ion-item-group>



    <ion-item-group class="ion-margin-vertical">
      <!-- <ion-item-divider color="light">
        <ion-label>
          <h2>Scegli il documento</h2>
        </ion-label>
        </ion-item-divider>  -->

        <!-- SE  SIAMO SU DESKTOP -->
        <ion-item  *ngIf="isDesktop" button (click)="onDesktopSearch()">
            <input accept=".pdf, image/*" hidden id="myInput" type="file" (change)="onChangedDesktopFile($event)">
            <ion-icon slot="start" name="folder-open-outline"></ion-icon>
            <ion-label *ngIf="!loadedDesktopFile" class="myPlaceholder">Fai clic e scegli il file</ion-label>
            <p>{{fileNameShow}}</p>
        </ion-item>
    
        <!-- SE  SIAMO SU MOBILE -->
        <ion-item *ngIf="!isDesktop" button (click)="onMobileSearch()">
          <ion-icon slot="start" name="folder-open-outline"></ion-icon>
          <ion-label *ngIf="!fileLoaded" class="myPlaceholder">Scegli il file</ion-label>
          {{fileNameShow}}
        </ion-item>


    </ion-item-group> 

    <!-- COSA STA CARICANDO -->
    <ion-list-header>
      <ion-label>
        Cosa stai caricando ?
      </ion-label>
    </ion-list-header>

    <!-- RADIO GROUP CON ELENCO -->
    <ion-radio-group
      
      [(ngModel)]="idDocTypeSelected"
      >
      <ion-item *ngFor="let myTypeDoc of docTypeList">
        <ion-label>{{myTypeDoc.DENOMINAZIONE}}</ion-label>
        <ion-radio
            mode="md" 
            [value]="myTypeDoc.ID" 
            slot="start" 
            color="danger"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <!-- DETTAGLI DOCUMENTO (OPZIONALI) DESCRIZIONE E SCADENZA-->
    <ion-list-header>
      <ion-label>Dettagli documento</ion-label>
    </ion-list-header>

    <!-- DESCRIZIONE -->
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-textarea placeholder="Inserisci una descrizione"  [(ngModel)]="docDescription" maxlength="50"></ion-textarea>      
    </ion-item>
   
    <!-- SCADENZA -->
    <ion-list>
      <ion-item (click)="flagDocScadenza=!flagDocScadenza">
          <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
          <ion-label>documento con scadenza</ion-label>
        <ion-toggle 
            color="danger"
            [(ngModel)]="flagDocScadenza">
        </ion-toggle>
      </ion-item>
    </ion-list>        

    <app-dtinput
        *ngIf="flagDocScadenza"
        title="Data Scadenza Documento"
        itemLines="full"
        itemDetail="true"
        iconName="calendar-outline"
        iconColor="primary"
        maskFormat="dddd dd/MM/yyyy"
        calendarMode="date"
        [(actualDate)]="docScadenza"
      >
      </app-dtinput>    
      

    
    <div class="spacer"></div>


  </ion-list>



</ion-content>

<ion-footer>
  <ion-button  
        color="success"
        expand = "block" (click)="onClickCarica()">
    <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      Carica
  </ion-button>
</ion-footer>