<ion-card
      [class]="_centerCard? 'center' : ''"
      mode="ios" 
      button="true"
      (click)="onClickLocation($event); $event.stopPropagation();">

  <img [src]="_urlCoverCard">

  <ion-card-header>
    <ion-card-title>
      {{_cardTitle}}
    </ion-card-title>

    <ion-card-subtitle 
        *ngIf="_cardSubtitle.length != 0">      
        {{_cardSubtitle}}      
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content
    *ngIf="_locationDoc"
    class="ion-padding-horizontal">
    <div
      class="mh-content"
      >
      <div 
        [innerHTML]="_cardContent"
        >
      </div>
    </div>
  </ion-card-content>

    

  <ion-list 
    *ngIf="_buttonVisible">
    <ion-list-header        
        color="success"><h6>Oggi ho voglia di...</h6></ion-list-header>
    
    <!-- PRENOTAZIONE -->
    <ion-item
        (click)="onClickPrenota(); $event.stopPropagation();"
        *ngIf="_prenotaButtonVisible"
        detail="true"
        button="true"
        >
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Prenotare un campo</h4>
        <p *ngIf="_showLabelButton">controlla la disponibilità nella struttura</p>
      </ion-label>
    </ion-item>

    <!-- CORSI ANNUALI -->
    <ion-item
      (click)="onClickCorsiPeriodo(); $event.stopPropagation();"
      *ngIf="_corsiPeriodoButtonVisible"
      detail="true"
      button="true"
      >
      <ion-icon slot="start" name="school-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Iscrivermi a un corso</h4>
        <p *ngIf="_showLabelButton">trova il corso a te dedicato</p>
      </ion-label>
    </ion-item>

    <!-- LEZIONI GIORNALIERE -->
    <ion-item
      (click)="onClickCorsoGiornata(); $event.stopPropagation();"
      *ngIf="_corsiGiornataButtonVisible"
      detail="true"
      button="true"
      >
      <ion-icon slot="start" name="ticket-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Lezioni orarie</h4>
        <p *ngIf="_showLabelButton">iscriviti a una lezione oraria</p>
      </ion-label>
    </ion-item>    

  </ion-list>

</ion-card>

