<ion-card 
      mode="ios" 
      button="true"
      (click)="onClickLocation($event); $event.stopPropagation();">

  <img [src]="getUrlCoverImage()">

  <ion-fab 
    horizontal="start" 
    vertical="top"
    *ngIf="location.ENABLEPRENOTAZIONI">
    <ion-button 
        color="danger" 
        (click)="onClickPrenota(); $event.stopPropagation();">
      <ion-icon 
          slot="start" 
          name="calendar-outline">
      </ion-icon>
        PRENOTA
    </ion-button>
  </ion-fab>


  <ion-card-header >
    <ion-card-title>
      <h2>
        {{location.DENOMINAZIONE}}
      </h2>
    </ion-card-title>

    <ion-card-subtitle>
      <div>
        <span>{{ getTextIndirizzo() }}</span>
      </div>
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>

