<ion-card 
      mode="ios" 
      button="true">

  <img 
    [src]="location.getUrlImage()">

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button 
        [color]="location.FAVORITE ? 'primary':'medium'" 
        (click)="onClickFavorite(); $event.stopPropagation();">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab horizontal="start" vertical="top">
    <ion-button 
        color="success" 
        size="large" 
        (click)="onClickPrenota(); $event.stopPropagation();">
      <ion-icon 
          slot="start" 
          name="calendar-outline">
      </ion-icon>
      Prenota
    </ion-button>
  </ion-fab>


  <ion-card-header >
    <ion-card-subtitle>
      <div *ngIf="location.INDIRIZZO">
        <span>{{ location.INDIRIZZO }}</span>
      </div>
      <div *ngIf="!location.INDIRIZZO">
        Centro Sportivo
      </div>
    </ion-card-subtitle>

    <ion-card-title>{{location.DENOMINAZIONE | titlecase}}</ion-card-title>
  </ion-card-header>
</ion-card>

