.ActivityCard
{
    
    margin-top: 3vh;
    margin-bottom: 3vh;
    --border-radius: 5px;

};


   .CardImage 
{
    height: 180px;
    min-width: 280px;
    width: 280px;
};

.PrenotaBtn
{
    position: absolute;
    bottom:40px;
    left: 10px;
    height: 25px;
   
}

.FavoriteCardBtn
 {
    position: absolute;
    bottom:40px;
    right: 10px;
    height: 25px;
    width: 25px;

 };