ion-card-header {
    background-color: white;
}

ion-card {
    width: max-content;
    max-width: 300px;
    min-width: 300px;

    img {
        min-width: 100%;
        height:  200px;
        object-fit: cover;

        
    }

    h2{
        margin-top: 0px;
        font-size: 18px;
    }
}

ion-fab{
    font-size: 16;
}

