<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ myCorso.TIPO | tipoCorso }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div *ngIf="!myIscrizione || !myCorso" id="crs-spinner">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</div>

  <ion-grid 
      *ngIf="myIscrizione && myCorso"
      id="container-page">
    <ion-row
        class="ion-no-margin"
        >
      <ion-col sizeXs="12" 
                sizeSm="12" 
                sizeMd="10" offsetMd="1"
                sizeLg="8" offsetLg="2"
                sizeXl="8" offsetXl="2">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" size-xl= "12" size-sm="12">
                        
                          <!-- PORZIONE INFO UTENTE-->
                          <ion-card>
                            <ion-card-header>
                              <ion-card-title>{{docUtente?.NOMINATIVO}}</ion-card-title>
                            </ion-card-header>
                          </ion-card>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12" sizeXl= "6" sizeSm="12">

                        <!-- CARD SCHEDA ISCRIZIONE -->
                        <ion-card>
                          <ion-item lines="none">
                            <ion-label class="ion-text-wrap">
                              <h2>{{myCorso.DENOMINAZIONE}}</h2>
                              <p class="ion-text-bold">{{myCorso['_DENOMINAZIONE_Sport']}}</p>
                            </ion-label>
                            <ion-chip color="primary">
                              <i class="icon-sport"><span [innerHTML]="getIcon(myCorso)"></span></i> 
                            </ion-chip>
                          </ion-item>

                          <ion-item 
                              lines="none">
                            <ion-label class="ion-text-wrap">Iscrizione effettuata il {{myIscrizione.DATAISCRIZIONE|date:'dd/MM/yy' }}</ion-label>
                            <ion-badge 
                                slot="end"
                                [color]="iscrizioneConfermata() ? 'success' : 'danger'">
                                {{iscrizioneConfermata() ? 'CONFERMATA' : 'DA CONFERMARE'}}                
                            </ion-badge>
                          </ion-item>


                          <ion-item 
                              lines="none"
                              *ngIf="myCorso.isAPagamento()">
                            <ion-label>
                              Totale
                            </ion-label>
                            <ion-label slot="end">
                              {{myIscrizione.IMPORTO | currency : 'EUR'}}
                            </ion-label>
                          </ion-item>

                          <ion-item 
                              *ngIf="myCorso.isAPagamento()==false"
                              lines="none">
                            <ion-label>
                              Totale
                            </ion-label>
                            <ion-badge slot="end" color="success">GRATUITA</ion-badge>
                          </ion-item>

                          <ion-item 
                              lines="none"
                              *ngIf="myCorso.isAPagamento()"
                              [color]="myIscrizione.amountPayment == 0 ? 'success' : 'danger'">
                            <ion-label 
                                class="ion-text-wrap ion-text-bold">
                              {{myIscrizione.getCaptionStatePayment()}}
                            </ion-label>
                            <ion-badge 
                                *ngIf="myIscrizione.amountPayment != 0"
                                slot="end" 
                                color="danger">
                                {{myIscrizione.amountPayment | currency : 'EUR'}}
                            </ion-badge>
                          </ion-item>

                          <!-- SITUAZIONE DEL PAGAMENTO-->
                          <ion-list 
                              *ngIf="myCorso.isAPagamento() && listSituazionePagamenti.length != 0">
                            <ion-list-header mode="ios">Scadenze</ion-list-header>
                            <ion-item 
                                *ngFor="let itemScadenza of listSituazionePagamenti">
                                <ion-label *ngIf="itemScadenza.requestPayment()">
                                  <h5>{{itemScadenza.DATASCADENZA | date:'dd/MM/yyyy'}}</h5>
                                  <p class="ion-text-bold ion-text-danger">da versare</p>
                                </ion-label>
                                <ion-label *ngIf="itemScadenza.requestPayment()== false">
                                  <p class="ion-text-bold ion-text-primary">effettuato il {{itemScadenza.DATAOPERAZIONE | date:'dd/MM/yyyy'}}</p>
                                </ion-label>                                

                                <ion-button 
                                    expand="full"
                                    fill="clear"
                                    [color]="itemScadenza.requestPayment() ? 'danger': 'success'"
                                    size="small"
                                    slot="end">
                                    {{itemScadenza.IMPORTO | currency: 'EUR'}}
                                </ion-button>
                            </ion-item>
                          </ion-list>
                        </ion-card>

                      </ion-col>

                      <!-- NOME CORSO E ALTRE INFO -->     
                      <ion-col 
                          size="12" sizeXl= "6" sizeSm="12">
                        <ion-list lines="none">
                          <ion-list-header mode="ios">Dettagli corso</ion-list-header>

                          <!-- PROGRAMMA DEL CORSO -->
                          <ion-item 
                              (click)="onClickExpandCorsoProgramma()"
                              *ngIf="myCorso?.existProgrammaCorso()">
                    
                            <ion-label
                                class="ion-text-wrap" 
                                [ngClass]="getClassLabelProgramma()">
                              <span style="font-size:small;" [innerHTML]="myCorso.getFullProgrammaHTML()"></span>
                            </ion-label>
                    
                          </ion-item>
                    
                            <!-- GIORNATA SETTIMANA -->
                            <app-settimana-block
                              size="sm"
                              [listDays]="myCorso._SETTIMANA">
                            </app-settimana-block>      
                    
                            <!-- DATA INIZIO -->
                          <ion-item>
                            <ion-label class="ion-text-wrap">
                              <h2>{{myCorso.DATAINIZIO| date : 'EEEE dd/LL/yyyy'|titlecase}}</h2>
                              <p>alle {{myCorso.ORAINIZIO | date : 'HH:mm'}} per {{myCorso.ORELEZIONE}} {{myCorso.ORELEZIONE > 1 ?'Ore':'Ora'}} </p>
                              <p>inizio corso</p>
                            </ion-label>
                            <ion-chip color="primary">
                              <span>{{myCorso.NUMEROLEZIONI}}&nbsp;{{myCorso.NUMEROLEZIONI > 1 ? 'Incontri ':'Incontro '}}</span>
                            </ion-chip>
                          </ion-item>
                    
                          
                          <!-- DATA FINE -->
                          <ion-item>
                            <ion-label class="ion-text-wrap">
                              <h2>{{myCorso.DATAFINE| date : 'EEEE dd/LL/yyyy'|titlecase}}</h2>
                              <p>fine corso</p>
                            </ion-label>
                          </ion-item>      
                    
                          <!-- LOCATION -->
                          <ion-item>
                            <ion-label class="ion-text-wrap">
                              <h2>{{myLocation.DENOMINAZIONE | uppercase}}</h2>
                              <p>{{myLocation?.COMUNE|titlecase}}</p>
                              <p>{{myLocation?.INDIRIZZO|titlecase}}</p>
                            </ion-label>
                            <ion-chip color="primary" *ngIf="myLocation.TELEFONO">
                              {{myLocation.TELEFONO}}
                              <ion-icon name="call-outline"></ion-icon>
                            </ion-chip>
                          </ion-item>
                        </ion-list>
                        

                        
                        <ion-list lines="none">
                          <!-- ADATTO A -->
                          <ion-item-group *ngIf="myCorso">

                          <ion-item-divider color="light">
                            <ion-label>
                              <h2>Rivolto a</h2>
                            </ion-label>
                          </ion-item-divider>

                          <ion-item>
                            <ion-icon 
                                name="stats-chart-outline"
                                slot="end" 
                                color="primary"></ion-icon>
                          <ion-label class="ion-text-wrap">{{myCorso['_DENOMINAZIONE_Livello'] ? myCorso['_DENOMINAZIONE_Livello']:'Tutti i Livelli'}}</ion-label>
                          </ion-item>

                          <ion-item>
                            <ion-icon 
                                name="bookmark-outline" 
                                slot="end" 
                                color="primary"></ion-icon>
                            <ion-label class="ion-text-wrap">{{myCorso['_DESCTOOLTIP_CategoriaEta'] ? myCorso['_DESCTOOLTIP_CategoriaEta']:'Per tutte le età'}}</ion-label>
                          </ion-item>

                          <ion-item 
                              lines="none">
                            <ion-icon 
                              name="transgender-outline" 
                              slot="end" 
                              color="primary"></ion-icon>
                            <ion-label 
                                *ngIf="myCorso.TARGETSESSO"
                                class="ion-text-wrap">{{myCorso.TARGETSESSO | targetSesso}}</ion-label>
                            <ion-label 
                                *ngIf="!myCorso.TARGETSESSO"
                                class="ion-text-wrap">Maschile/Femminile</ion-label>                                
                          </ion-item>

                          </ion-item-group>
                        </ion-list>

                      </ion-col>
                    </ion-row>
                  </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>





