

.grid-impegni {
    background-color: var(--ion-color-light-tint);
}

.card-no-events {
    width: 100%;
}

#div-content {
    background-color: var(--ion-color-light-tint);
}

.list-news{
    background: var(--ion-color-light)
}

.div-impegni{
    background: var(--ion-color-light);
}

.logo{
    max-height: 25px;
}

ion-title.title-image{
    
    >div{
        display: flex !important;
        align-items: center !important;
            >img{
                height: 30px;
                margin-right: 1vw;
            }
    }
}


.grid-agenda {
    background-color: var(--ion-color-light-tint);
}

ion-footer{
    background: var(--ion-color-light);
}


