<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title-image">
      <div>
        <img [src]="this.startConfig.getUrlLogo()">
        {{startConfig?.companyName | titlecase }}

      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/agenda-trainer">
        <ion-icon name="code-working-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <!-- IMPEGNI -->


  <ion-grid *ngIf="listButtonImpegni.length === 1" >

    <ion-slides class="ion-no-padding ion-no-margin">
    <ion-slide 
        class="ion-no-padding ion-no-margin"
        *ngFor="let btn of listButtonImpegni"> 
        
        <app-button-card 
            class="small-button-card" 
            (clickElement)="onClickButtonCardImpegni($event)" 
            [smallVersion]="true" 
            [myButtonCard]="btn">
        </app-button-card>

    </ion-slide>
  </ion-slides>
</ion-grid>

<ion-grid *ngIf="listButtonImpegni.length > 1" >

  <ion-slides class="ion-no-padding ion-no-margin" [options]="sliderOpts">
  <ion-slide 
      class="ion-no-padding ion-no-margin"
      *ngFor="let btn of listButtonImpegni"> 
      
      <app-button-card 
          class="small-button-card" 
          (clickElement)="onClickButtonCardImpegni($event)" 
          [smallVersion]="true" 
          [myButtonCard]="btn">
      </app-button-card>

  </ion-slide>
</ion-slides>
</ion-grid>


  <!-- AREA OPERATIVA -->
  <!-- TITOLO AREA -->
  <ion-item 
      type="header" 
      lines="none" 
      color="danger">

    <ion-icon 
        slot="start" 
        name="location-outline"></ion-icon>
    <ion-label class="ion-text-nowrap">
      <h2>{{ selectedArea.COMUNE | titlecase }}</h2>
    </ion-label>

    <ion-button 
        slot="end" 
        color="light" 
        fill="solid" 
        *ngIf="listAree.length>1" 
        size = "default"
        (click)='showSceltaCentro($event)'>
        <ion-icon slot="start" color="primary" name="trail-sign-outline"></ion-icon>
      Cambia
    </ion-button>  
  </ion-item>

  <!-- LOCATION -->
  <div id="div-content">

    <ion-grid *ngIf="listLocation.length===1" >
      <ion-row>
        <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">

          <app-centri 
              (clickPrenota)="onClickPrenota($event)"
              (clickLocation)="onClickLocation($event)"
              [location]="listLocation[0]">
              
          </app-centri>

        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div scrollX="true" *ngIf="listLocation.length>1">
        <app-centri 
          *ngFor="let locationItem of listLocation"
          (clickPrenota)="onClickPrenota($event)"
          (clickLocation)="onClickLocation($event)"
          [location]="locationItem">
          
        </app-centri>    
    </div>

  </div>

  <!-- AGENDA OCCUPAZIONE -->
  <!-- TITOLO -->
  <ion-item 
      type="header" 
      lines="none" 
      color="primary"
      *ngIf="showAgenda">

      <ion-icon 
          slot="start" 
          name="golf-outline"></ion-icon>
      <ion-label class="ion-text-nowrap">
        <h2>Agenda Struttura</h2>
      </ion-label>
      
      <ion-button 
          slot="end" 
          color="light" 
          fill="solid"
          size = "default"
          (click)="onClickShowAgenda()">
          <ion-icon slot="start" color="primary" name="layers-outline"></ion-icon>
        Elenco
      </ion-button>  
  </ion-item>
  <!-- FINE TITOLO -->

  <!-- AGENDA CARD -->
  <ion-grid *ngIf="agendaCards.length === 1 && showAgenda" class="grid-agenda">

    <ion-slides class="ion-no-padding ion-no-margin">
    <ion-slide 
        class="ion-no-padding ion-no-margin"
        *ngFor="let btn of agendaCards"> 
        
        <app-button-card 
            class="small-button-card" 
            [smallVersion]="false" 
            [myButtonCard]="btn">
        </app-button-card>

      </ion-slide>
    </ion-slides>
  </ion-grid>

<ion-grid *ngIf="agendaCards.length > 1 && showAgenda" class="grid-agenda">

  <ion-slides class="ion-no-padding ion-no-margin" [options]="sliderOpts">
  <ion-slide 
      class="ion-no-padding ion-no-margin"
      *ngFor="let btn of agendaCards"> 
      
      <app-button-card 
          class="small-button-card" 
          [smallVersion]="false" 
          [myButtonCard]="btn">
      </app-button-card>

  </ion-slide>
</ion-slides>
</ion-grid>
<!-- FINE AGENDA -->  

<div *ngIf="showAgenda">
  <div *ngFor="let loc of listLocation">
    <ion-list>
      <ion-list-header>
        {{loc.DENOMINAZIONE}}
      </ion-list-header>

      <!-- <ion-item>
        <ion-label>Label</ion-label>
      </ion-item> -->
    </ion-list>


  </div>
</div>


<!-- PARTE TRAINER -->
<div class="ion-no-padding" *ngIf="this.userLogged && (docUtente.isAssistenteTrainer || docUtente.isTrainer)"> 
  
  <ion-item 
  type="header" 
  lines="none" 
  color="danger"
  >
  
    <ion-icon 
        slot="start" 
        name="school-outline">
    </ion-icon>
    <ion-label class="ion-text-nowrap">
      <h2>Corsi di oggi</h2>
    </ion-label>
  
    <ion-button 
        slot="end" 
        color="light" 
        fill="solid"
        size = "default"
        routerLink="/agenda-trainer">
    <ion-icon slot="start" color="primary" name="layers-outline"></ion-icon>
      Tutti
    </ion-button>  
  </ion-item>
  
  <!-- IMPEGNI TRAINER NON PRESENTI -->
  
  <ion-slides *ngIf="!myListImpegniTrainer || myListImpegniTrainer.length == 0" class="ion-no-padding ion-no-margin">
    <ion-slide 
        class="ion-no-padding ion-no-margin"   
    >   
        <app-button-card 
            class="small-button-card" 
            [smallVersion]="true" 
            [myButtonCard]="getButtonCardTrainer()"
        >
        </app-button-card>
  
      </ion-slide>
  </ion-slides>
  
  <!-- IMPEGNI TRAINER PRESENTI -->
  <ion-slides *ngIf="myListImpegniTrainer && myListImpegniTrainer.length > 0" class="ion-no-padding ion-no-margin">
    <ion-slide 
        class="ion-no-padding ion-no-margin"
        *ngFor="let impegno  of myListImpegniTrainer"> 
        
        <app-button-card 
            class="small-button-card" 
            [smallVersion]="true" 
            [myButtonCard]="getButtonCardTrainer(impegno)"
            (click)="onClickImpegnoTrainer(impegno)">
        </app-button-card>
  
      </ion-slide>
  </ion-slides>
</div>

<!-- <div class="ion-no-padding"> -->

<!-- TITOLO -->
<!-- <ion-item 
    type="header" 
    lines="none" 
    color="primary"
    *ngIf="showAgenda">

    <ion-icon 
        slot="start" 
        name="golf-outline"></ion-icon>
    <ion-label class="ion-text-nowrap">
      <h2>Agenda Struttura</h2>
    </ion-label>
    
    <ion-button 
        slot="end" 
        color="light" 
        fill="solid"
        size = "default"
        (click)="onClickShowAgenda()">
        <ion-icon slot="start" color="primary" name="layers-outline"></ion-icon>
      Elenco
    </ion-button>  
</ion-item> -->

<!-- SLIDES -->
<!-- <ion-grid *ngIf="agendaCards.length > 1 && showAgenda" class="grid-agenda">

  <ion-slides class="ion-no-padding ion-no-margin" [options]="sliderOpts">
  <ion-slide 
      class="ion-no-padding ion-no-margin"
      *ngFor="let btn of agendaCards"> 
      
      <app-button-card 
          class="small-button-card" 
          [smallVersion]="false" 
          [myButtonCard]="btn">
      </app-button-card>

  </ion-slide>
</ion-slides>
</ion-grid>
</div> -->

<!-- NEWS ED EVENTI PROSSIMI-->
<!-- TITOLO -->

  <ion-item 
      type="header" 
      lines="none" 
      color="danger">

      <ion-icon 
          slot="start" 
          name="newspaper-outline"></ion-icon>
      <ion-label class="ion-text-nowrap">
        <h2>News ed Eventi</h2>
      </ion-label>
      
      <ion-button 
          slot="end" 
          color="light" 
          fill="solid"
          size = "default"
          (click)="onClickShowAllNews()">
          <ion-icon slot="start" color="primary" name="layers-outline"></ion-icon>
        Tutti
      </ion-button>  
  </ion-item>
  <!-- NEWS PRESENTI -->
  <ion-grid class="ion-no-padding" *ngIf="listNews.length !== 0">
    <ion-row>
      <ion-col *ngFor="let news of listNews" size ="12" >
        <app-news-eventi [myNews]="news" (clickNews)="onClickNews(news,$event)"></app-news-eventi>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding" *ngIf="listNews.length === 0">
    <ion-row>
      <ion-col>
        <app-news-eventi [myNews]="noNewsCard" size="12"></app-news-eventi>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- FINE NEWS -->



  <!-- SE VOLESSI IL LOGIN CIRCULAR DEVO METTERLO QUA -->
  <!-- <app-circular></app-circular> -->

</ion-content>

<ion-footer>
  <ion-button 
    [color]="btnFooterColor()"
    expand="block" 
    size="large"
    (click)="onClickfooterButton()">
      <ion-icon 
        slot="start" 
        [name]="btnFooterIcon()"></ion-icon>
      {{btnFooterCaption()}}
    </ion-button>
    
</ion-footer>
