<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      {{startConfig?.companyName | titlecase }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button 
          routerLink="/account" 
          routerDirection="forward" 
          *ngIf="userLogged">
        <ion-icon 
          name="person-circle-outline" 
          class="btn-account">
        </ion-icon>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <!-- IMPEGNI -->
  <!-- NESSUN IMPEGNO SCARICATO -->
    
  <ion-grid *ngIf="myListImpegni.length===0" class="grid-impegni">

      <ion-slides class="ion-no-padding ion-no-margin">
      <ion-slide 
          class="ion-no-padding ion-no-margin"
          *ngFor="let btn of listButtonNoEvents"> 
          
          <app-button-card 
              class="small-button-card" 
              (clickElement)="onClickButtonNoEvents($event)" 
              [smallVersion]="true" 
              [myButtonCard]="btn">
          </app-button-card>

      </ion-slide>
    </ion-slides>
  </ion-grid>

  <ion-grid *ngIf="myListImpegni.length===1" >
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">
        <app-impegni [impegno]="myListImpegni[0]"></app-impegni>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div scrollX="true" class="div-impegni" *ngIf="myListImpegni.length>1">
    <app-impegni *ngFor="let item of myListImpegni " [impegno]="item"></app-impegni>
  </div>

  <!-- AREA OPERATIVA -->
  <!-- TITOLO AREA -->
  <ion-item 
      type="header" 
      lines="none" 
      color="danger">

    <ion-icon 
        slot="start" 
        name="location-outline"></ion-icon>
    <ion-label class="ion-text-nowrap">
      <h2>{{ selectedArea.COMUNE | titlecase }}</h2>
    </ion-label>

    <ion-button 
        slot="end" 
        color="light" 
        fill="solid" 
        *ngIf="listAree.length>1" 
        (click)='showSceltaCentro($event)'>
      Cambia
    </ion-button>  
  </ion-item>

  <!-- LOCATION -->
  <div id="div-content">

    <ion-grid *ngIf="listLocation.length===1" >
      <ion-row>
        <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">

          <app-centri 
              (clickPrenota)="onClickPrenota($event)"
              (clickLocation)="onClickLocation($event)"
              [location]="listLocation[0]">
              
          </app-centri>

        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div scrollX="true" *ngIf="listLocation.length>1">
        <app-centri 
          *ngFor="let locationItem of listLocation"
          (clickPrenota)="onClickPrenota($event)"
          (clickLocation)="onClickLocation($event)"
          [location]="locationItem">
          
        </app-centri>    
    </div>

  </div>

  <!-- NEWS ED EVENTI PROSSIMI-->
  <!-- TITOLO -->
  <ion-item 
      type="header" 
      lines="none" 
      color="danger">

      <ion-icon 
          slot="start" 
          name="newspaper-outline"></ion-icon>
      <ion-label class="ion-text-nowrap">
        <h2>News ed Eventi</h2>
      </ion-label>
      
      <ion-button 
          slot="end" 
          color="light" 
          fill="solid"
          (click)="onClickShowAllNews()">
        Tutti
      </ion-button>  
  </ion-item>
  <!-- NEWS PRESENTI -->
  <ion-list class="list-news" *ngIf="listNews.length !== 0">
    <div *ngFor="let news of listNews">
      <app-news-eventi [myNews]="news" (clickNews)="onClickNews(news,$event)"></app-news-eventi>
    </div>
  </ion-list>

  <ion-list class="list-news" *ngIf="listNews.length === 0">
      <app-news-eventi [myNews]="noNewsCard" ></app-news-eventi>
  </ion-list>

  <!-- SE VOLESSI IL LOGIN CIRCULAR DEVO METTERLO QUA -->
  <!-- <app-circular></app-circular> -->

</ion-content>

<ion-footer>
  <ion-button 
    [color]="btnFooterColor()"
    expand="block" 
    size="large"
    (click)="onClickfooterButton()">
      <ion-icon 
        slot="start" 
        [name]="btnFooterIcon()"></ion-icon>
      {{btnFooterCaption()}}
    </ion-button>
    
</ion-footer>
