<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{startConfig?.companyName | titlecase }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/account" routerDirection="forward" *ngIf="userLogged">
        <ion-icon 
          name="contact" 
          [color]="btnFooterColor()">
        </ion-icon>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 2vh"></div>

  <ion-item type="header" color="primary" lines="none" >
    <ion-icon slot="start" name="clipboard" ></ion-icon>
    <ion-label  class="">
      <h2>Prossimi impegni:</h2>
    </ion-label>
  </ion-item>
  
  <ion-grid *ngIf="listImpegni.length===0" >
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">
        <ion-card class="ion-text-center">
          <ion-card-content>
            <ion-card-subtitle>Nessuna attività in programma</ion-card-subtitle>
            <ion-button expand="block" color="primary">
              <ion-icon slot="start" name="create"></ion-icon>
              Prenota ora!
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="listImpegni.length===1" >
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">
        <app-impegni [impegno]="listImpegni[0]"></app-impegni>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div scrollX="true" *ngIf="listImpegni.length>1">
    <app-impegni *ngFor="let item of listImpegni " [impegno]="item"></app-impegni>
  </div>

  <ion-item type="header" lines="none" color="primary">
    <ion-icon slot="start" name="map" ></ion-icon>
    <ion-label class="">
      <h2>{{ selectedArea.COMUNE | titlecase }}</h2>
    </ion-label>
    <ion-button slot="end" color="light" fill="outline" *ngIf="listAree.length>1" (click)='presentActionSheet()' >
      Cambia
    </ion-button>  
  </ion-item>

  <ion-grid *ngIf="listLocation.length===1" >
    <ion-row>
      <ion-col sizeXs="12" sizeSm="6"  offsetSm="3" sizeLg="4" offsetLg="4">
        <app-centri [location]="listLocation[0]" [routerLink]="['/location', listLocation[0].ID]"></app-centri>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div scrollX="true" *ngIf="listLocation.length>1">
      <app-centri *ngFor="let locationItem of listLocation" [location]="locationItem"  [routerLink]="['/location', locationItem.ID]" ></app-centri>    
  </div>

</ion-content>

<ion-footer>
  <ion-button 
    [color]="btnFooterColor()"
    expand="block" 
    size="large"
    (click)="onClickfooterButton()">
      <ion-icon slot="start" name="{{btnFooterIcon()}}"></ion-icon>
      {{btnFooterCaption()}}
    </ion-button>
</ion-footer>
