<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Corsi</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        Filtra
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div *ngIf="spinnerCorsi">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-segment 
      *ngIf="userLogged && !spinnerCorsi" 
      class="ion-padding-top ion-padding-horizontal"
       (ionChange)="onChangeSegmentCorsi($event)"
       color="medium"
       value="corsiall">
    <ion-segment-button value="corsiall">
      <ion-label>Tutti</ion-label>
    </ion-segment-button>

    <ion-segment-button value="corsiforme">
      <ion-label>Mio Livello</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="!spinnerCorsi">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let corso of listCorsi" 
                  sizeXs="12" 
                  sizeSm="6"  
                  offsetSm="3" 
                  sizeLg="4" 
                  offsetLg="4"
                  >
          <app-card-course [myCorso]="corso"></app-card-course>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Skeleton screen -->
<div *ngIf="spinnerCorsi">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>
