<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Corsi</ion-title>

    <ion-buttons slot="primary">
      <ion-button *ngIf="receivedSport" (click)="switchFilter()">
        <ion-icon 
          name="color-wand"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngIf="showFilter" color="secondary">
    <ion-label>Attività</ion-label>
    <ion-select value="all" okText="Conferma" cancelText="Annulla">

      <ion-select-option value="all">Tutti</ion-select-option>
      <ion-select-option *ngFor="let sport of collSport"
      value="sport.ID">
      {{sport.DENOMINAZIONE}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card-course></app-card-course>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
