<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Corsi</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="goToFilter()">
        Filtra
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div *ngIf="spinnerCorsi">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-segment 
      *ngIf="userLogged && !spinnerCorsi" 
      class="ion-padding-top ion-padding-horizontal"
       (ionChange)="onChangeSegmentCorsi($event)"
       color="medium"
       value="corsiall">
    <ion-segment-button value="corsiall">
      <ion-label>Tutti</ion-label>
    </ion-segment-button>

    <ion-segment-button value="corsiforme">
      <ion-label>Mio Livello</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="!spinnerCorsi">
    <ion-grid *ngIf="listCorsi.length !== 0">
      <ion-row>
        <ion-col *ngFor="let corso of listCorsi" 
                  sizeXs="12" 
                  sizeSm="6"  
                  offsetSm="3" 
                  sizeLg="4" 
                  offsetLg="4"
                  >
          <app-card-course [myCorso]="corso"></app-card-course>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-nocorsi" *ngIf="listCorsi.length === 0">
      <ion-row>
        <ion-col>
          <ion-label>Non ho trovato corsi</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>
