
.contentLezioni {
    display: flex;
    justify-content: flex-end;
    
}

.div-giornate {
    padding: 8px 8px 8px 8px;
}



ion-card {
    
    &.version-1 {

        --background: var(--ion-color-light-alpha);
    
        ion-card-header {
            --background: var(--ion-color-light-tint);
        }    
    
        ion-card-header.special {
            --background: var(--ion-color-success-tint);
        } 

        ion-card-title{
            font-size:18px;
        }

        ion-card-content {
            ion-grid {
                padding: 0px 5px 0px 5px;
            }
        }
    
        ion-footer {
            
            background-color: var(--ion-color-light-tint);
    
            padding: 4px 16px 4px 16px;
    
            ion-row {
                ion-col {
                    padding: 0px 5px 0px 5px;
    
                    ion-button, ion-label {
                        --background: var(--ion-color-success-tint); 
                        --color: var(--ion-color-dark);
                        --color-activated: var(--ion-color-dark);
                        font-weight: bold;
                    }
                }
            }
            p{
                text-align: center;
                font-size: 18;
                font-weight: 600;
            }
        }
    }

    &.version-2 {
        /*max-height: 300px;*/

        ion-card-header {
            /*background-image: url(../../../../assets/boysbeach_3_2_small.png);
            background-repeat: no-repeat;
            background-size: cover;*/
            // min-height: 90px;
            // max-height: 90px;
            border-bottom-style: dashed;
            border-bottom-color: var(--ion-color-secondary-tint);  
            
        }

        ion-card-content {

            padding-bottom: 0px; 

            h1 {
                color: var(--ion-color-primary);
            }

            ion-button {
                &.orario {
                    --border-color: var(--ion-color-success);
                    --border-style: solid;
                    --border-width: 2px;
                }
            }


        }

        .overlay {
            position: absolute; 
        }
          
        .overlay_0 {
            right: 5px;
            bottom: 25px;
            padding: 0px;
            margin: 0px;
        }

        ion-footer {
            background-color: var(--ion-color-light);
            // min-height: 45px;
            // max-height: 45px;

            &.success {
                background-color: var(--ion-color-success);
                color: var(--ion-color-success-contrast);
            }
            &.danger {
                background-color: var(--ion-color-danger);
                color: var(--ion-color-danger-contrast);
            }
            &.light {
                background-color: var(--ion-color-light);
                color: var(--ion-color-light-contrast);
            }
        }
    }
    
}



i.icon-sport
{
    font-size: 30px;
    font-weight: 600;
}

