<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Cambio Password</ion-title>

    <ion-buttons slot="end">
      <ion-button 
          fill="clear" 
          (click)="onSubmit()" 
          [disabled]="!form.valid">

        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="titleicon">
    <img [src]="myUrlLogo"/>
  </div> -->
  
  <form [formGroup]="form" class="ion-margin-horizontal">
    <ion-list>
      <!-- VECCHIA PASSWORD -->
      <ion-list-header>
        <ion-label>Password Attuale</ion-label>
      </ion-list-header>
      <ion-item> 
        <ion-icon 
          name="lock-open-outline" 
          slot="start"></ion-icon>
        <ion-input 
            type="password" 
            inputmode="password" 
            formControlName="oldPsw" 
            placeholder="password attuale" 
            id="oldpsw"
            #oldpsw>
        </ion-input>

        <ion-button slot="end" fill="clear" (click)="showHideInput('oldpsw',oldpsw)">
          <ion-icon 
              [name]="showActual ? 'eye-off-outline':'eye-outline'" 
              slot="icon-only">
          </ion-icon>
        </ion-button>

      </ion-item>

      <ion-list-header>
        <ion-label>Nuova Password</ion-label>
      </ion-list-header>
      <!-- NUOVA PASSWORD -->
      <ion-item >
        <ion-icon 
        name="lock-closed-outline" 
        slot="start"></ion-icon>
        <ion-input 
            type="password" 
            inputmode="password" 
            formControlName="newPsw1" 
            placeholder="nuova password" 
            id="newpsw1"
            #newpsw1 ></ion-input>

        <ion-button slot="end" fill="clear" (click)="showHideInput('newpsw1',newpsw1)">
          <ion-icon 
              [name]="showNew ? 'eye-off-outline':'eye-outline'" 
              slot="icon-only">
          </ion-icon>
        </ion-button>

      </ion-item>
    
      <ion-item>
        <ion-icon 
        name="lock-closed-outline" 
        slot="start"></ion-icon>

        <ion-input 
            type="password" 
            inputmode="password" 
            formControlName="newPsw2" 
            placeholder="conferma password" 
            id="newpsw2"
            #newpsw2></ion-input>

        <ion-button slot="end" fill="clear" (click)="showHideInput('newpsw2',newpsw2)">
          <ion-icon 
              [name]="showNewRetype ? 'eye-off-outline':'eye-outline'" 
              slot="icon-only">
          </ion-icon>
        </ion-button>


        </ion-item>
      
      <!-- ERROR MESSAGE -->
      <ion-item 
          lines="none" 
          *ngIf="!form.valid">
          <ion-label color="danger">{{ invalidMessage() }}</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button color="tertiary" expand="block" (click)="onSubmit()" [disabled]="!form.valid">Conferma</ion-button>
</ion-footer>
