<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="index.html">
    <system.webServer>
    <staticContent>
        <clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00" />
    </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="-1" />
            </customHeaders>
        </httpProtocol>  
    </system.webServer>
    </location>

    <system.webServer>
        
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="strict-transport-security" value="max-age=15768000; includeSubdomains" />
            </customHeaders>
        </httpProtocol>
	<rewrite>
    <rules>
        <rule name="HTTP Redirect to HTTPS" enabled="true" stopProcessing="true">
            <match url="(.*)" ignoreCase="false" />
            <conditions>
                <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
		<rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
	  
    </rules>
</rewrite>
    </system.webServer>
</configuration>