<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title 
      class="title-image">
      <div class="logodiv">
        <img class="logo" [src]="this.startConfig.getUrlIcon()">
        {{startConfig?.companyName | titlecase }}
      </div>
    </ion-title>
  </ion-toolbar>

  <!-- SELETTORE DI AREA OPERATIVA -->
  <!-- <ion-grid *ngIf="listAree && listAree.length > 1">
    <ion-row
        class="ion-no-margin"
        >
      <ion-col sizeXs="12" 
                sizeSm="12" 
                sizeMd="12" 
                sizeLg="8" offsetLg="2"
                sizeXl="6" offsetXl="3">
  
            <ion-segment 
            mode="md"
            [value] = "selectedIdArea"
            (ionChange) = "onChangeSegment($event)"
            >
              <ion-segment-button 
                  *ngFor="let item of listAree"
                  value = {{item.ID}}
                  >
                  <ion-label>{{item.DENOMINAZIONE}}</ion-label>
              </ion-segment-button>
            </ion-segment>
  
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-header>

<ion-content>

<!-- SELETTORE SEDE (Cliccabile) -->
<div class="area-selector" *ngIf="listAree && listAree.length > 1" (click)="onClickChangeArea()">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="12" sizeLg="8" offsetLg="2" sizeXl="6" offsetXl="3">
        
        <div class="selector-box">
          <span class="selector-label">Sede:</span>
          <span class="selector-value">{{ selectedArea?.DENOMINAZIONE | titlecase }}</span>
          <ion-icon name="chevron-forward" class="selector-chevron"></ion-icon>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" 
                sizeSm="12" 
                sizeMd="12" 
                sizeLg="8" offsetLg="2"
                sizeXl="8" offsetXl="2">   
                
                <!-- CARD STRUTTURA -->
                <div class="box-struttura ion-no-padding ion-no-margin">                      
                      <ion-grid class="grid-locations">
                        <ion-row
                              class="ion-justify-content-center">
                          <ion-col 
                              class="ion-no-padding"
                              [sizeXs]="getValueIonColSize('xs')" 
                              [sizeSm]="getValueIonColSize('sm')" 
                              [sizeMd]="getValueIonColSize('md')"
                              [sizeLg]="getValueIonColSize('lg')" 
                              [sizeXl]="getValueIonColSize('xl')"
                              *ngFor="let locationItem of listLocation"
                              >   
                              <app-centri 
                                  [area]="selectedArea"
                                  [location]="locationItem"
                                  [showActionButton]="true"
                                  [showLabelButton]="true"
                                  (clickPrenota)="onClickPrenota($event)"
                                  (clickCorsiAnnuali)="onClickCorsiPeriodi($event)"
                                  (clickLezioniGiornata)="onClickCorsiGiornata($event)"
                                  (clickLocation)="onClickLocation($event)"
                                  [myStartConfig]="startConfig">
                              
                            </app-centri> 

                          </ion-col>
                        </ion-row>
                      </ion-grid>
                </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

