<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" 
          (click)="onSubmit()" 
          [disabled]="!form.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Qualcosa su di te</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon 
            name="person-outline" 
            slot="start"
            color="primary"></ion-icon>
          <ion-label>Come ti chiami ?</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cognome</ion-label>
          <ion-input formControlName="cognome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sesso</ion-label>
          <ion-select formControlName="sesso" interface="popover">
            <ion-select-option 
              *ngFor="let sesso of listSesso"
              [value]="sesso.value">
              {{ sesso.description }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Codice fiscale</ion-label>
          <ion-input formControlName="cf"></ion-input>
        </ion-item >
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon 
            name="home-outline" 
            slot="start"
            color="primary"></ion-icon>
          <ion-label>Dove vivi ?</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Indirizzo</ion-label>
          <ion-input formControlName="indResidenza"></ion-input>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col size="4" class="ion-no-padding" >
              <ion-label position="floating">Cap</ion-label>
              <ion-input type="tel" inputmode="tel" maxlength="5" formControlName="capResidenza"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding"  >
              <ion-label position="floating">Provincia</ion-label>
              <ion-input formControlName="provResidenza"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Stato</ion-label>
              <ion-input formControlName="statoResidenza"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comune</ion-label>
          <ion-input formControlName="comResidenza"></ion-input>
        </ion-item>
        
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon 
            name="logo-reddit" 
            slot="start"
            color="primary"></ion-icon>
          <ion-label>Quando sei nato ?</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Data</ion-label>
          <ion-datetime formControlName="nascita" 
                        displayFormat="DD-MM-YYYY"
                        [max]="today"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Cap</ion-label>
              <ion-input formControlName="capNascita" type="tel" inputmode="tel" maxlength="5"></ion-input>              
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Provincia</ion-label>
              <ion-input formControlName="provNascita"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Stato</ion-label>
              <ion-input formControlName="statoNascita"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comune</ion-label>
          <ion-input formControlName="comNascita"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon 
            name="call-outline" 
            slot="start"
            color="primary"></ion-icon>
          <ion-label>Cellulare e Email</ion-label>
        </ion-item-divider>
        <ion-item button>
          <ion-label>{{utente.MOBILENUMBER}}</ion-label>
          <ion-badge color="success">{{utente.getLabelVerificaMobile()}}</ion-badge>
        </ion-item>
        <ion-item button>
          <ion-label>{{utente.EMAIL}}</ion-label>
          <ion-badge color="success">{{utente.getLabelVerificaMail()}}</ion-badge>
        </ion-item>
        
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button 
      color="primary" 
      expand="block" 
      (click)="onSubmit()" 
      [disabled]="!form.valid">
    Conferma
  </ion-button>
</ion-footer>
