<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="onSubmit()" [disabled]="!form.valid" >
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informazioni personali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon name="contact" slot="start"></ion-icon>
          <ion-label>Dati Anagrafici</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cognome</ion-label>
          <ion-input formControlName="cognome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sesso</ion-label>
          <ion-select formControlName="sesso">
            <ion-select-option *ngFor="let sesso of listSesso">{{ sesso.description }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Codice fiscale</ion-label>
          <ion-input formControlName="cf"></ion-input>
        </ion-item >
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Dati Residenza</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Indirizzo</ion-label>
          <ion-input formControlName="indResidenza"></ion-input>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col size="4" class="ion-no-padding" >
              <ion-label position="floating">Cap</ion-label>
              <ion-input type="tel" inputmode="tel" maxlength="5" formControlName="capResidenza"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding"  >
              <ion-label position="floating">Provincia</ion-label>
              <ion-input formControlName="provResidenza"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Stato</ion-label>
              <ion-input formControlName="statoResidenza"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comune</ion-label>
          <ion-input formControlName="comResidenza"></ion-input>
        </ion-item>
        
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon name="logo-reddit" slot="start"></ion-icon>
          <ion-label>Dati Nascita</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">Data</ion-label>
          <ion-datetime formControlName="nascita"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Cap</ion-label>
              <ion-input formControlName="capNascita" type="tel" inputmode="tel" maxlength="5"></ion-input>              
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Provincia</ion-label>
              <ion-input formControlName="provNascita"></ion-input>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-label position="floating">Stato</ion-label>
              <ion-input formControlName="statoNascita"></ion-input>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comune</ion-label>
          <ion-input formControlName="comNascita"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>Dati di contatto</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating" disabled>Cellulare</ion-label>
          <ion-input type="tel" inputmode="tel" formControlName="cell"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input inputMode="email" type="email" formControlName="email"></ion-input>
        </ion-item>
        
      </ion-item-group>
    </ion-list>
  </form>
</ion-content>
