<ion-header #headBook>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Prenota</ion-title>
  </ion-toolbar>

  <div 
    class="custom-toolbar" 
    *ngIf = "ricevuti">
    <!-- MODALITA AUTOMATICA, MANUALE-->
    <!-- <ion-segment 
      class="ion-no-margin ion-no-padding"
      (ionChange)="onChangeVersion($event)" 
      value="manual"
      *ngIf = "ricevuti">

    <ion-segment-button 
      value="manual">
        <ion-label>Manuale</ion-label>
    </ion-segment-button>

    <ion-segment-button 
      value="auto">
        <ion-label>Automatico</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <app-sport-scroll 
        [selectedSport]="selectedSport" 
        [sportList]="listLocationSport" 
        (sportChanged)="onChangeSport($event)" >
    </app-sport-scroll>

  <app-campi-scroll 
      [selectedCampo]="selectedCampo" 
      [campiList]="availableFields" 
      [canChoose]="ricevuti && bookable"
      [selectedLocation]="selectedLocation"
      (campoChanged)="onChangeCampo($event)">
  </app-campi-scroll>



  </div>

</ion-header>

<!-- <ion-content [scrollEvents]="ricevuti && bookable" 
              appHideHeader 
              [header]="headBook" 
              [scrollThreshold]="isOnAppleSystem ? 50 : 0"> -->
<ion-content>
  <!-- SE SIAMO PRONTI A MOSTRARE LA PAGINA -->
  <div *ngIf="ricevuti">
    
    
    <!-- ITEM DEL CALENDARIO POTREI VISUALIZZARLO SEMPRE -->
    <!-- *ngIf="ricevuti && bookable"  -->
    <app-calendarscroll 
      [activeDay]="actualBookDay"
      (onChangeActiveDay)="onChangeBookDay($event)"></app-calendarscroll>
  
    <!-- DIV CON  DTI RICEVUTI E BOOK DISPONIBILE-->      
    <div *ngIf="ricevuti && bookable">
      
      <!-- TITOLO SLOT TIME -->
      <div *ngIf="actualSlotDay.APERTOCHIUSO">
  
        <ion-item class="item-transparent" >
          <ion-label class="ion-padding-horizontal">SCEGLI L'ORARIO:</ion-label>
          <ion-spinner name="circular" color="primary" *ngIf="actualSlotDay._TEMPLATELOCK"></ion-spinner>
        </ion-item>
    
        <!-- VISUALIZZO GLI SLOT TIME SE E' APERTO-->
        
          <ion-grid>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col
                class="ion-no-margin ion-no-padding" 
                *ngFor="let slot of actualSlotDay.SLOTTIMES"
                size="6"
                sizeXl="3"
                sizeLg="4"
                sizeMd="6"
                sizeSm="12"
                sizeXs="12">
              <app-slottime  
                [mySlot]="slot" 
                [readOnly]="actualSlotDay._TEMPLATELOCK" 
                (clickSlot)="myClickSlot($event)"></app-slottime>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
  
      <div class="nofind-cnt" *ngIf="!actualSlotDay.APERTOCHIUSO">
        <ion-card>
          <ion-img alt="giocatori beach" src="assets/boysplaying_small.png">
          </ion-img>
          <ion-card-header>
            <ion-card-title>Spiacenti</ion-card-title>
            <ion-card-subtitle>Prenotazione non effettuabile</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Cercare slot liberi modificando data, attività o struttura
          </ion-card-content>
        </ion-card>
      </div>
  
    </div>

    <!-- PRENOTAZIONE NON POSSIBILE-->
    <div class="nofind-cnt" *ngIf="!bookable">
      <ion-card>
        <ion-img alt="giocatori beach" src="assets/boysplaying_small.png">
        </ion-img>
        <ion-card-header>
          <ion-card-title>Spiacenti</ion-card-title>
          <ion-card-subtitle>Prenotazione non disponibile</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Non è possibile effettuare prenotazioni
        </ion-card-content>
      </ion-card>


    </div>
  </div>


</ion-content>
<!-- PRENOTAZIONE SELEZIONATA -->
<ion-footer *ngIf="visibleFooter()">
  <app-footbooked 
    [myPrenotaPianifica]="actualPlanning" 
    (clickPrenota)="myClickPrenota($event)"></app-footbooked>
</ion-footer>
