ion-content {
    --background: var(--ion-back-booking);
  }

ion-segment {
  --background: white;
}

.item-campo, .item-transparent {
  --background: var(--ion-back-booking);

  h6 {
    color: #999999;
  }
}

ion-slide {
  ion-item {
    width: 100%;
  }
}
.label-header
{
  margin-top: 5px;
  margin-bottom: 5px;
}

app-sport-scroll {
  --background: white;
}

.nofind-cnt{
  padding-top: 15px;
}




