<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Qualcosa su di te</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="6" offsetMd="3"
               sizeLg="6" offsetLg="3"
               sizeXl="6" offsetXl="3">

               <div class="info" >
                 <ion-item color="light" lines="none">
                   <ion-label>
                     <p class="ion-text-wrap">
                       <ion-icon name="information-circle-outline" color="primary"></ion-icon>
                       ti chiediamo alcune informazioni così da poterti consigliare le attività che abbiamo riservato per te.
                   </ion-label>
                 </ion-item>
               </div>
             
               <form [formGroup]="form">
                 <ion-list>
             
                   <!-- DATI ANAGRAFICI -->
                   <ion-item-group>
             
                     <ion-item-divider 
                             sticky="true"
                             color="light">
                       <ion-icon 
                         name="person-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Come ti chiami ?</ion-label>
                     </ion-item-divider>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Nome</ion-label>
                       <ion-input formControlName="nome"></ion-input>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Cognome</ion-label>
                       <ion-input formControlName="cognome"></ion-input>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Sesso</ion-label>
                       <ion-select formControlName="sesso" interface="popover">
                         <ion-select-option 
                           *ngFor="let sesso of listSesso"
                           [value]="sesso.value">
                           {{ sesso.description }}
                         </ion-select-option>
                       </ion-select>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Cod. fiscale</ion-label>
                       <ion-input (ionBlur)="onCfChange()" formControlName="cf"></ion-input>
                     </ion-item >
                   </ion-item-group>
             
                   <!-- DATI INDIRIZZO -->
                   <ion-item-group>
                     <ion-item-divider 
                           sticky="true"
                           color="light">
                       <ion-icon 
                         name="home-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Dove vivi ?</ion-label>
                     </ion-item-divider>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Indirizzo</ion-label>
                       <ion-input formControlName="indResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Comune</ion-label>
                       <ion-input formControlName="comResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Cap</ion-label>
                       <ion-input type="tel" inputmode="tel" maxlength="5" formControlName="capResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Provincia</ion-label>
                       <ion-input formControlName="provResidenza"></ion-input>          
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Stato</ion-label>
                       <ion-input formControlName="statoResidenza"></ion-input>
                     </ion-item>        
                   </ion-item-group>
             
                   <!-- DATI NASCITA -->
                   <ion-item-group>
                     <ion-item-divider 
                       sticky="true"
                       color="light">
                       <ion-icon 
                         name="logo-reddit" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Quando sei nato ?</ion-label>
                     </ion-item-divider>
             
                     <app-dtinput
                           title="Data di nascita"
                           label="Nato il"
                           [(actualDate)]="this.utente.NATOIL">
                     </app-dtinput>
             
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Comune</ion-label>
                       <ion-input formControlName="comNascita"></ion-input>
                     </ion-item>
             
                     <!-- CAP NON VISUALIZZATA -->
                     <ion-item *ngIf="showCapNascita">
                       <ion-label slot="start" position="fixed">Cap</ion-label>
                        <ion-input formControlName="capNascita" type="tel" inputmode="tel" maxlength="5"></ion-input>  
                     </ion-item>
             
                     <ion-item>
                       
                         <ion-label slot="start" position="fixed">Provincia</ion-label>
                         <ion-input formControlName="provNascita"></ion-input>
                       
                     </ion-item>
             
                     <ion-item>
                       <ion-label slot="start" position="fixed">Stato</ion-label>
                       <ion-input formControlName="statoNascita"></ion-input>
                     </ion-item> 
             
                   </ion-item-group>
             
             
                   <!-- CELLULARE ED EMAIL -->
                   <ion-item-group>
                     <ion-item-divider 
                         sticky="true"
                         color="light">
                       <ion-icon 
                         name="call-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Cellulare e Email</ion-label>
                     </ion-item-divider>
             
                     <!-- VERIFICA CELLULARE NECESSARIA -->
                     <ion-item *ngIf="docGruppo.needMobileVerify" button (click)="validateTel()">
                       <ion-label>{{utente.MOBILENUMBER ? utente.MOBILENUMBER : 'Non definito'}}</ion-label>
                       <ion-badge color="success">{{utente.getLabelVerificaMobile()}}</ion-badge>
                     </ion-item>
             
                     <!-- VERIFICA MAIL NECESSARIA -->
                     <ion-item *ngIf="docGruppo.needEmailVerify" button (click)="validateEmail()">
                       <ion-label>{{utente.EMAIL ? utente.EMAIL:'Non definita'}}</ion-label>
                       <ion-badge color="success">{{utente.getLabelVerificaMail()}}</ion-badge>
                     </ion-item>
             
                     <!-- VERIFICA CELLULARE NON NECESSARIA -->
                     <ion-item *ngIf="!docGruppo.needMobileVerify">
                       <ion-label slot="start" position="fixed">Cellulare</ion-label>
                       <ion-input formControlName="mobile"></ion-input>
                     </ion-item>
             
                     <!-- VERIFICA MAIL NON NECESSARIA -->
                     <ion-item *ngIf="!docGruppo.needEmailVerify">
                       <ion-label slot="start" position="fixed">E-Mail</ion-label>
                       <ion-input formControlName="email"></ion-input>
                     </ion-item>
             
             
                   </ion-item-group>
                 </ion-list>
               </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="6" offsetMd="3"
               sizeLg="6" offsetLg="3"
               sizeXl="6" offsetXl="3">

               <ion-button 
                   color="tertiary" 
                   expand="block" 
                   (click)="onSubmit()" 
                  >
                 Conferma
               </ion-button>

    </ion-col>                       
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
</ion-footer>
