<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Qualcosa su di te</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="6" offsetMd="3"
               sizeLg="6" offsetLg="3"
               sizeXl="6" offsetXl="3">

               <div class="info" >
                 <ion-item color="light" lines="none">
                   <ion-label>
                     <p class="ion-text-wrap">
                       <ion-icon name="information-circle-outline" color="primary"></ion-icon>
                       ti chiediamo alcune informazioni così da poterti consigliare le attività che abbiamo riservato per te.
                   </ion-label>
                 </ion-item>
               </div>
             
               <form [formGroup]="formPagePrimary">
                 <ion-list>
             
                   <!-- DATI ANAGRAFICI -->
                   <ion-item-group>
             
                     <ion-item-divider 
                             sticky="true"
                             color="light">
                       <ion-icon 
                         name="person-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Come ti chiami ?</ion-label>
                     </ion-item-divider>
             
                     <ion-item lines="none">
                       <ion-input 
                            label="Nome"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento del nome"
                            [clearInput]="true"
                            formControlName="nome"></ion-input>
                     </ion-item>
             
                     <ion-item lines="none">
                       
                       <ion-input 
                            label="Cognome"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento del cognome"
                            [clearInput]="true"
                            formControlName="cognome"></ion-input>
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-label slot="start" position="fixed">Sesso</ion-label>
                       <ion-select formControlName="sesso" interface="popover">
                         <ion-select-option 
                           *ngFor="let sesso of listSesso"
                           [value]="sesso.value">
                           {{ sesso.description }}
                         </ion-select-option>
                       </ion-select>
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                          label="Cod. fiscale"
                          labelPlacement="fixed"
                          errorText="controlla l\'inserimento del Cod. fiscale"
                          [clearInput]="true"
                          (ionBlur)="onCfChange()" formControlName="cf"></ion-input>
                     </ion-item >
                   </ion-item-group>
             
                   <!-- DATI INDIRIZZO -->
                   <ion-item-group>
                     <ion-item-divider 
                           sticky="true"
                           color="light">
                       <ion-icon 
                         name="home-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Dove vivi ?</ion-label>
                     </ion-item-divider>
             
                     <ion-item lines="none">
                       <ion-input 
                            label="Indirizzo"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento dell'indirizzo"
                            [clearInput]="true"
                            formControlName="indResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                            label="Comune"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento del comune"
                            [clearInput]="true"
                            formControlName="comResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                            label="CAP"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento del CAP"
                            [clearInput]="true"
                            type="tel" inputmode="tel" maxlength="5" formControlName="capResidenza"></ion-input>
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                            label="Provincia"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento della provincia"
                            [clearInput]="true"
                            formControlName="provResidenza"></ion-input>          
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                          label="Stato"
                          labelPlacement="fixed"
                          errorText="controlla l\'inserimento dello stato"
                          [clearInput]="true"
                          formControlName="statoResidenza"></ion-input>
                     </ion-item>        
                   </ion-item-group>
             
                   <!-- DATI NASCITA -->
                   <ion-item-group>
                     <ion-item-divider 
                       sticky="true"
                       color="light">
                       <ion-icon 
                         name="logo-reddit" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Quando sei nato ?</ion-label>
                     </ion-item-divider>
             
                     <app-dtinput
                           title="Data di nascita"
                           label="Nato il"
                           [(actualDate)]="this.utente.NATOIL">
                     </app-dtinput>
             
             
                     <ion-item lines="none">
                       <ion-input 
                          label="Comune"
                          labelPlacement="fixed"
                          errorText="controlla l\'inserimento del comune di nascita"
                          [clearInput]="true"
                          formControlName="comNascita"></ion-input>
                     </ion-item>
             
                     <!-- CAP NON VISUALIZZATA -->
                     <ion-item 
                          lines="none"
                          *ngIf="showCapNascita">
                        <ion-input 
                            label="CAP"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento del CAP"
                            [clearInput]="true"
                            formControlName="capNascita" type="tel" inputmode="tel" maxlength="5"></ion-input>  
                     </ion-item>
             
                     <ion-item lines="none">
                         <ion-input 
                            label="Provincia"
                            labelPlacement="fixed"
                            errorText="controlla l\'inserimento della provincia"
                            [clearInput]="true"
                            formControlName="provNascita"></ion-input>
                       
                     </ion-item>
             
                     <ion-item lines="none">
                       <ion-input 
                          label="Stato"
                          labelPlacement="fixed"
                          errorText="controlla l\'inserimento dello Stato"
                          [clearInput]="true"
                          formControlName="statoNascita"></ion-input>
                     </ion-item> 
             
                   </ion-item-group>
             
             
                   <!-- CELLULARE ED EMAIL -->
                   <ion-item-group>
                     <ion-item-divider 
                         sticky="true"
                         color="light">
                       <ion-icon 
                         name="call-outline" 
                         slot="end"
                         color="primary"></ion-icon>
                       <ion-label>Cellulare e Email</ion-label>
                     </ion-item-divider>
             
                     <!-- NUMERO MOBILE  -->
                     <ion-item 
                          lines="none" 
                          button = "false"
                          detail="false"
                          >
                       <ion-label>{{utente.MOBILENUMBER ? utente.MOBILENUMBER : 'Non definito'}}</ion-label>
                       <ion-badge color="success">{{utente.getLabelVerificaMobile()}}</ion-badge>
                     </ion-item>
             
                     <!-- E-MAIL -->
                     <ion-item 
                            lines="none"
                            button = "false"
                            detail="false"
                            >
                       <ion-label>{{utente.EMAIL ? utente.EMAIL:'Non definita'}}</ion-label>
                       <ion-badge color="success">{{utente.getLabelVerificaMail()}}</ion-badge>
                     </ion-item>            
                   </ion-item-group>
                 </ion-list>
               </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="6" offsetMd="3"
               sizeLg="6" offsetLg="3"
               sizeXl="6" offsetXl="3">

               <ion-button 
                   color="tertiary" 
                   expand="block" 
                   (click)="onSubmit()" 
                  >
                 Conferma
               </ion-button>

    </ion-col>                       
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
</ion-footer>
