<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons 
        slot="secondary">
      <ion-button 
          *ngIf="selectedView == 'personal'"
          (click)="onClickGoToPersonalHistoryList()"
          color="success">
        Storico
        <ion-icon slot="end" name="calendar-number-outline"></ion-icon>
      </ion-button>    

      <ion-button 
          *ngIf="selectedView != 'personal'"
          (click)="goToListCustomer()"
          color="success">
        Clienti
        <ion-icon slot="end" name="people-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
        
    <ion-title>
      {{selectedArea ? selectedArea.DENOMINAZIONE : 'Agenda'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid
      class="ion-margin-bottom"
      >
    <ion-row>
      <ion-col sizeXs="12" 
               sizeSm="12" 
               sizeMd="12" 
               sizeLg="8" offsetLg="2"
               sizeXl="6" offsetXl="3">

          <ion-segment
              *ngIf="showSegmentTop" 
              mode="md"
              [(ngModel)] = "selectedView"
              (ionChange) = "onChangeSegmentTop($event)"
              >

            <ion-segment-button value="personal">
              <ion-label>Personali</ion-label>
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-segment-button>

            <ion-segment-button 
                    *ngIf="showTrainer"
                    value="trainer">
              <ion-label>Trainer</ion-label>
              <ion-icon name="barbell-outline"></ion-icon>
            </ion-segment-button>

            <ion-segment-button 
                    *ngIf="showCustode"
                    value="custode">
              <ion-label>Custode</ion-label>
              <ion-icon name="man-outline"></ion-icon>
            </ion-segment-button>
          </ion-segment>



          <!-- SEGMENTO PERSONALE -->
          <div *ngIf="selectedView == 'personal'">

            <!-- BUTTON CARD CON IL PRIMO IMPEGNO-->
            <ion-list 
                class="ion-padding-bottom"
                *ngIf="listImpegni && listImpegni.length != 0">
              <ion-list-header mode="ios">Prossimo impegno</ion-list-header>
              <app-button-card
                  (clickElement)="onClickImpegnoPersonale(nextImpegno)"
                  [myButtonCard] = "nextImpegnoCard"
                  [smallVersion]="false"
                  >
              </app-button-card>
            </ion-list>

            <!-- NON SONO PRESENTI IMPEGNI -->
            <div *ngIf="listImpegni && listImpegni.length == 0">
              <app-button-card
                  (clickElement)="onClickImpegnoPersonale(nextImpegno)"
                  [myButtonCard] = "noImpegnoCard"
                  [smallVersion]="true"
                  >
              </app-button-card>
            </div>
            

            <!-- SE SONO PRESENTI IMPEGNI LI ELENCO -->
            <div *ngIf="listImpegni && listImpegni.length != 0">
              <app-impegni 
                  (OnClickItem)="onClickImpegnoPersonale(item)"
                  [impegnoDoc]="item"
                  *ngFor="let item of listImpegni">
              </app-impegni>

              <!-- INFINITE SCROLL -->
              <ion-infinite-scroll
                  *ngIf="numRequestImpegniTop != 0"
                  threshold="100px"
                  (ionInfinite)="onActivateInfiniteScrollImpegni($event)"
                >
                <ion-infinite-scroll-content loading-spinner="bubbles" loadingText="Attendere..."></ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </div>


          </div>

          <!-- SEGMENTO TRAINER -->
          <div *ngIf="selectedView == 'trainer'">
            <ion-button 
                  expand="full"
                  (click)="onClickGoToListaValutazioniTrainer()">
              Valutazioni fine corsi
            </ion-button>
            <!-- AREA FILTRO -->
            <ion-card  
                class="ion-no-margin"
                color="light"
                class="filter">
                <ion-grid class="ion-no-margin">
                  <ion-row class="ion-no-margin">
                    <ion-col 
                          [sizeXs]="colBreakpointPeriodi"
                          [sizeSm]="colBreakpointPeriodi"
                          [sizeMd]="colBreakpointPeriodi"
                          [sizeLg]="colBreakpointPeriodi"
                          [sizeXl]="colBreakpointPeriodi"
                          *ngFor="let item of searchListPeriodi">
                        <ion-button
                          size="small"
                          (click)="onChangePeriodoTrainer(item.value)"
                          [color]="item.value==searchTrainerPeriodo ? 'success':'light'"
                          expand="full">
                          {{item.title}}
                        </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <app-dtinput
                        textAlignmentRight="true"
                        title="Filtro"
                        [label]="searchTrainerDateLabel"
                        itemColor="light"
                        itemLines="none"
                        iconName="calendar-outline"
                        iconColor="primary"
                        maskFormat="dddd dd/MM/yyyy"
                        [calendarMode]="searchTrainerCalendarMode"
                        [(actualDate)]="searchTrainerDate"
                        (actualDateChange)="onChangeDataPeriodoTrainer()"
                    >
                    </app-dtinput>
                    </ion-col>

                  </ion-row>
                </ion-grid>
            </ion-card>
              <!-- BUTTON CARD IN ASSENZA IMPEGNO TRAINER -->
              <div 
                class="ion-no-padding ion-no-margin"
                *ngIf="!listImpegniTrainer || listImpegniTrainer.length == 0">
                <app-button-card
                    [myButtonCard] = "emptyImpegnoTrainerCard"
                    smallVersion="true"
                    class="small-button-card">
                </app-button-card>
              </div>

              <!-- SE SONO PRESENTI IMPEGNI TRAINER LI ELENCO -->
              <div *ngIf="listImpegniTrainer && listImpegniTrainer.length != 0">
                <app-impegni-collaboratori
                    [impegnoDoc]="item"
                    (OnClickItem)="onClickImpegnoTrainer(item)" 
                    *ngFor="let item of listImpegniTrainer">
                </app-impegni-collaboratori>

                  <!-- INFINITE SCROLL -->
                  <ion-infinite-scroll
                      *ngIf="numRequestImpegniTrainerTop != 0"
                      threshold="100px"
                      (ionInfinite)="onActivateInfiniteScrollImpegniTrainer($event)"
                      >
                      <ion-infinite-scroll-content oading-spinner="bubbles" loadingText="Attendere..."></ion-infinite-scroll-content>
                  </ion-infinite-scroll>                
              </div>


          </div>

          <!-- SEGMENTO CUSTODE -->
          <div *ngIf="selectedView == 'custode'">
            <ion-button 
                *ngIf="!platformDesktop"
                expand="full"
                (click)="onClickQrCodeCustode()">
                <ion-icon slot="start" name="qr-code-outline"></ion-icon>
                Scansiona Codice
            </ion-button>

            <!-- UTILIZZATO IN TEST PER INSERIRE MANUALMENTE QRCODE-->
            <!-- <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row 
                  *ngIf="platformDesktop && developerMode"
                  class="ion-no-margin ion-no-padding">
                <ion-col size="8">
                  <ion-searchbar
                      mode="ios"
                      [debounce]="1000" 
                      [(ngModel)]="inputManualCode"
                      show-cancel-button="never"
                      show-clear-button="never"
                      search-icon="search-outline"
                      placeholder="inserisci codice a barre">
                  </ion-searchbar>
                </ion-col>
                <ion-col size="4">
                  <ion-button
                    (click)="onClickSearchManualCode()"
                    fill="outline"
                    >
                    Cerca
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid> -->


            
            <!-- AREA FILTRO -->
            <ion-card 
                class="ion-margin-horizontal"
                color="light"
                class="filter">
                <ion-grid class="ion-no-margin">
                  <ion-row class="ion-no-margin">
                    <ion-col 
                          [sizeXs]="colBreakpointPeriodi"
                          [sizeSm]="colBreakpointPeriodi"
                          [sizeMd]="colBreakpointPeriodi"
                          [sizeLg]="colBreakpointPeriodi"
                          [sizeXl]="colBreakpointPeriodi"

                          *ngFor="let item of searchListPeriodi">
                        <ion-button
                          size="small"
                          (click)="onChangePeriodoCustode(item.value)"
                          [color]="item.value==searchCustodePeriodo ? 'success':'light'"
                          expand="full">
                          {{item.title}}
                        </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <app-dtinput
                        textAlignmentRight="true"
                        title="Filtro"
                        [label]="searchCustodeDateLabel"
                        itemColor="light"
                        itemLines="none"
                        iconName="calendar-outline"
                        iconColor="primary"
                        maskFormat="dddd dd/MM/yyyy"
                        [calendarMode]="searchCustodeCalendarMode"
                        [(actualDate)]="searchCustodeDate"
                        (actualDateChange)="onChangeDataPeriodoCustode()"
                    >
                    </app-dtinput>
                    </ion-col>

                  </ion-row>
                  <!-- SE AVESSI PIU LOCATION MOSTRO UNA SCELTA -->
                    <!-- metto maggiore 2 perchè c'e Tutte + 1 Location sempre presente -->
                  <ion-row 
                      *ngIf="listLocation && listLocation.length > 2"
                      class="ion-no-margin">
                      <ion-col>
                        <ion-accordion-group>
                          <ion-accordion value = "location">
  
                            <ion-item slot="header" color="light">
                              <ion-label 
                                    class="ion-text-wrap">
                                <p class="ion-text-small ion-text-bold">{{selectedLocation.DENOMINAZIONE}}</p>
                              </ion-label>
                            </ion-item>
                            <div class="ion-padding" slot="content">
                              <ion-list lines="none">
      
                                <ion-radio-group
                                    (ngModelChange)="onChangeLocationCustode($event)"
                                    [(ngModel)]="idSelectedLocation">
                                    <ion-item
                                        *ngFor="let itemLocation of listLocation">
                                      <ion-radio [value]="itemLocation.ID">
                                        <h6>{{itemLocation.DENOMINAZIONE}}</h6>
                                      </ion-radio>
                                    </ion-item>
                               </ion-radio-group>
  
                              </ion-list>
                            </div>
  
                          </ion-accordion>
                        </ion-accordion-group>
                      </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card>
              <!-- BUTTON CARD IN ASSENZA IMPEGNO CUSTODI -->
              <div 
                class="ion-no-padding ion-no-margin"
                *ngIf="!listImpegniCustode || listImpegniCustode.length == 0">
                <app-button-card
                    [myButtonCard] = "emptyImpegnoCustodeCard"
                    smallVersion="true"
                    class="small-button-card">
                </app-button-card>
              </div>

              <!-- SE SONO PRESENTI IMPEGNI CUSTODE LI ELENCO -->
              <div *ngIf="listImpegniCustode && listImpegniCustode.length != 0">
                <app-impegni-custodi
                    [impegnoDoc]="item"
                    (OnClickItem)="onClickImpegnoCustode(item)" 
                    *ngFor="let item of listImpegniCustode">
                </app-impegni-custodi>

                  <!-- INFINITE SCROLL -->
                  <ion-infinite-scroll
                      *ngIf="numRequestImpegniCustodeTop != 0"
                      threshold="100px"
                      (ionInfinite)="onActivateInfiniteScrollImpegniCustode($event)"
                      >
                      <ion-infinite-scroll-content oading-spinner="bubbles" loadingText="Attendere..."></ion-infinite-scroll-content>
                  </ion-infinite-scroll>                  
              </div>


          </div>
      </ion-col>  
    </ion-row>  
  </ion-grid>                
</ion-content>
