<ion-content  class="contentPrinc">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col sizeSm="8" offsetSm="2" sizeLg="4" offsetLg="4">
        <form [formGroup]="form">
          <ion-card class="cardPrincipale">

            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>
                  <!-- {{startConfig?.companyName | titlecase }} -->
                  Gioca con noi
                </ion-title>
              </ion-toolbar>
            </ion-header>

            <img src="assets/img/sport2_mini.png" alt="ion">

            <ion-card-content >
              <ion-item>
                <ion-icon slot="start" name="person" ></ion-icon>
                <ion-input inputmode="email" type="email" placeholder="Username" formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="key" ></ion-icon>
                <ion-input inputmode="text" type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>
              <ion-button class="btnLogin"  color="primary" fill="outline" expand="block" [disabled]="!form.valid" (click)="onClickLogin()">
                Login
              </ion-button>
            </ion-card-content>

            <ion-footer>

              <ion-row>
                <ion-col class="ion-text-center">
                  Non hai un account?
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-text-center">
                  <a routerLink="/auth/register" routerDirection="forward">Registrati</a>
                </ion-col>
              </ion-row>


            </ion-footer>

          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>

<!-- <ion-content  class="contentPrinc">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col sizeSm="8" offsetSm="2" sizeLg="4" offsetLg="4">
        <form [formGroup]="form">
          <ion-card class="cardPrincipale">


            <ion-card-header color="light">
              <div class="img-header">
                <img [src]="startConfig?.urlLogo" class="logo">
              </div>
            </ion-card-header>

            <ion-card-content >
              <ion-segment class="ion-margin-vertical">
                <ion-avatar class="avatar">
                  <img src="assets/img/avatar.svg">
                </ion-avatar>
              </ion-segment>
              <ion-item>
                <ion-icon slot="start" name="person" ></ion-icon>
                <ion-input inputmode="email" type="email" placeholder="Username" formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="key" ></ion-icon>
                <ion-input inputmode="text" type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>
              <ion-button class="btnLogin"  color="primary" fill="outline" expand="block" [disabled]="!form.valid" (click)="onClickLogin()">
                Login
              </ion-button>
              <ion-label>
                <div class="ion-text-center">Non hai un account? <a routerLink="/auth/register" routerDirection="forward">Registrati</a></div>
                <div class="ion-text-center"><ion-text color="medium">oppure</ion-text></div>
                <div class="ion-text-center"><a routerLink="/home" routerDirection="back">Continua senza registrazione</a></div>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content> -->


