.contentPrinc {
    --background: var(--ion-back-auth);
}

a {
    text-decoration: none;
}

.btn-login
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.img-header {
  max-height: 50px;
  width: 100%;
  text-align: center;
}

ion-card {
    img {
        width: 100%;
    }
}




  
  