<ion-content  class="contentPrinc">
  <ion-grid style="height: 100%;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col sizeSm="8" offsetSm="2" sizeLg="4" offsetLg="4">
        <form [formGroup]="form">

          <ion-card color="light">
            <ion-header>
              <ion-toolbar color="warning">
                <ion-buttons slot="start">
                  <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>
                  <!-- {{startConfig?.companyName | titlecase }} -->
                  Gioca con noi
                </ion-title>
              </ion-toolbar>
            </ion-header>

            <img src="assets/img/sport2_mini.png" alt="ion">

            <ion-card-content >
              
              <ion-item color="light">
                <ion-icon slot="start" name="person" color="warning"></ion-icon>
                <ion-input inputmode="email" type="email" placeholder="Username" formControlName="username" ></ion-input>
              </ion-item>

              <ion-item color="light">
                <ion-icon slot="start" name="key" color="warning"></ion-icon>
                <ion-input inputmode="text" type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>


              <ion-button 
                  class="btn-login"  
                  color="primary" 
                  fill="outline" 
                  expand="block" 
                  [disabled]="!form.valid" 
                  (click)="onClickLogin()">
                Login
              </ion-button>
            </ion-card-content>

            <ion-footer class="ion-padding-vertical">
              <ion-row>
                <ion-col class="ion-text-center">
                  Non hai un account?
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="ion-text-center">
                  <a routerLink="/auth/register" routerDirection="root">Registrati</a>
                </ion-col> 
              </ion-row>

            </ion-footer>

          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>



