

h3{
    color: grey;
    font-size: 12px;
    font-weight: 480;
}

h4{
    font-size: 14px;
}

div.custom-element{

    cursor: pointer;
    padding: 8px;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(181, 181, 181);

    ion-col.col-left{
        padding-right: 10px;
    }

    ion-col.col-center{

        padding-left: 5px;
        border-left: 2px;
        border-left-style: solid;

        

    }
    ion-col.col-center.past{
        border-left-color: var(--ion-color-danger);
    }
    ion-col.col-center.future{
        border-left-color: var(--ion-color-primary);
    }


    ion-col.col-right{
        text-align: end;
    }



    ion-badge.badge-icon-only{
        font-size: 30px;

        ion-icon{
            padding-top: 4px;
        }
    }

    ion-badge.badge-icon-text{
    }

}