  <div class="custom-element">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-padding col-left" size="auto">
          <ion-label class="left-label">
            <h4>{{params.oraInizio | date: 'HH.mm'}}</h4>
            <h4>{{params.oraFine | date: 'HH.mm'}}</h4>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding col-center" [ngClass]="params.isPast? 'past' : 'future'">
          <ion-label >
            <h2>{{params.riga1Text}}</h2>
            <h3>{{params.riga2Text}}</h3>
            <h3>{{params.riga3Text}}</h3>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding col-right">
          <ion-badge 
            *ngIf="tipoBadge != TipoBadge.noBadge"
            [color]="params.badgeColor"
            [class]="badgeClass"
          >
            <ion-icon *ngIf="tipoBadge == TipoBadge.iconAndText || tipoBadge == TipoBadge.onlyIcon" [name]="params.badgeIcon"></ion-icon>
            <span *ngIf="tipoBadge == TipoBadge.iconAndText || tipoBadge == TipoBadge.onlyText">
              {{params.badgeText}}
            </span>
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
