<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="backButtonHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  
  <ion-grid *ngIf="actualUtente">
    <ion-row>
      <ion-col sizeXs="12" 
      sizeSm="12" 
      sizeMd="12" 
      sizeLg="6" offsetLg="3"
      sizeXl="6" offsetXl="3">
      
      <ion-grid class="ion-no-margin ion-no-padding">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col>
            
            <ion-item color="light" lines="none">
              <ion-label>
                <p class="ion-text-wrap">
                  <ion-icon name="information-circle-outline" color="primary"></ion-icon>
                  utilizza il badge per accedere al centro o presentandolo in reception per agevolare il riconoscimento
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>{{actualUtente.NOMINATIVO}}</ion-card-title>
                <ion-card-subtitle *ngIf="actualUtente.NATOIL">
                  <ion-item color="light" lines="none">
                    <ion-label>
                      Data di Nascita {{actualUtente.NATOIL | date : 'dd/MM/yyyy'}}
                    </ion-label>
                    <ion-badge color="success">
                      {{actualUtente.getEtaAsInteger()}} anni
                    </ion-badge>
                  </ion-item>
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <qrcode [qrdata]="actualUtente.getQrCode()" scale="6"></qrcode>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
        

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
