<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Badge</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <div class="info" >
    <ion-item color="light" lines="none">
      <ion-label>
        <p class="ion-text-wrap">
          <ion-icon name="information-circle-outline" color="primary"></ion-icon>
          utilizza il badge per accedere al centro o presentandolo in reception per agevolare il riconoscimento
      </ion-label>
    </ion-item>
  </div> 


  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
        
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>{{actualUtente.NOMINATIVO}}</ion-card-title>
            <ion-card-subtitle *ngIf="actualUtente.NATOIL">
              <ion-item color="light" lines="none">
                <ion-label>
                  {{actualUtente.NATOIL | date : 'dd/MM/yyyy'}}
                </ion-label>
                <ion-badge>
                  {{actualUtente.getEtaAsInteger()}}
                </ion-badge>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <qrcode [qrdata]="actualUtente.ID" scale="6"></qrcode>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
