<ion-grid
      [class]="'ion-no-margin' + ' ' + 'ion-padding-horizontal' + ' ' + _classGrid + ' ion-activatable ripple-parent'">
      <ion-ripple-effect></ion-ripple-effect>      
  <!-- NOMINATIVO E PRESENZA -->
  <ion-row
      class="ion-no-margin ion-no-padding ion-align-items-center">
    <ion-col 
        size="10">
      <h5 class="ion-no-margin">{{_itemPresenza?.NOMINATIVO | uppercase}}</h5>
    </ion-col>

    <ion-col
        class ="ion-text-end"
        size="2">
      <ion-icon [name]="iconPresenza" [color]="colorPresenza" size="large"></ion-icon>
    </ion-col>
  </ion-row>

  <!-- RIGO OPERAZIONE AGGIORNAMENTO -->
  <!-- OPERAZIONE AGGIORNAMENTO CON SUCCESSO -->
  <ion-item 
      lines="none"
      (click)="onClickCloseMsgUpdate()" 
      color = "success"
      *ngIf="_itemPresenza.FLAGUPDATEMOB == true">
    
    <ion-icon 
        size="large"
        slot="start"
        name="thumbs-up-outline">
      </ion-icon>
    <ion-label 
        class="ion-text-wrap" >
        Presenza aggiornata
    </ion-label>

    <ion-icon 
      size="large"
      slot="end"
      name="close-outline">
    </ion-icon>
    
  </ion-item>

<!-- OPERAZIONE AGGIORNAMENTO FALLITA -->
  <ion-item
      lines="none"
      (click)="onClickCloseMsgUpdate()" 
      color = "danger"
      *ngIf="_itemPresenza.FLAGUPDATEMOB == false">
    
    <ion-icon 
        size="large"
        slot="start"
        name="thumbs-down-outline">
     </ion-icon>
    <ion-label 
        class="ion-text-wrap" >
        {{_itemPresenza.MSGUPDATEMOB}}
    </ion-label>
    <ion-icon 
      size="large"
      slot="end"
      name="close-outline">
    </ion-icon>
  </ion-item>



  <!-- RIGO CERTIFICATO MEDICO -->
  <ion-row
      class="ion-margin-top ion-no-padding ion-align-items-center">
    <ion-col 
        class="ion-text-start"
        size="2">
      <ion-icon 
        name="heart-circle-outline" 
        [color]="coloreCertificato" 
        [size]="_sizeIcons"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p 
         [class]="'ion-no-margin' + ' ' + 'ion-text-small' + ' ' + 'ion-text-' + coloreCertificato">
         <span>Certificato Medico&nbsp;</span>
         <span *ngIf="_itemPresenza.existDataCertificato()">{{_itemPresenza.DATACERTIFICATOMEDICO | date: 'dd/MM/yyyy'}}</span>
         <span *ngIf="!_itemPresenza.existDataCertificato()" class="ion-text-bold">NON CONSEGNATO</span>
      </p>
    </ion-col>
  </ion-row>

  <!-- RIGO SCADENZE NON SALDATE -->
  <ion-row
      *ngIf="_itemPresenza.ALERTPAGAMENTI"
      class="ion-margin-top ion-no-padding ion-align-items-center">
      <ion-col 
          class="ion-text-start"
          size="2">
        <ion-icon name="card-outline" color="danger" [size]="_sizeIcons"></ion-icon>
      </ion-col>
      <ion-col
        size="10">
        <p class="ion-text-small ion-text-danger">Scadenze <strong>NON SALDATE</strong></p>
      </ion-col>
  </ion-row>

  <!-- RIGO PACCHETTI MINUTI -->
  <ion-row
      *ngIf="_showPacchetti"
      class="ion-margin-top ion-no-padding ion-align-items-center">

      <ion-col 
        class="ion-text-start"
        size="2">
        <ion-icon name="wallet-outline" [color]="colorPacchettiMinuti" [size]="_sizeIcons"></ion-icon>
      </ion-col>

      <ion-col
        size="10">
        <p 
            *ngIf="_totMinutiPacchetto != 0" 
            class="ion-text-small ion-no-margin">
            Pacchetto allenamenti <strong>{{_totMinutiPacchetto}} {{_totMinutiPacchetto == 1 ? 'Minuto' : 'Minuti'}} </strong> 
        </p>
        <p 
            *ngIf="_totMinutiPacchetto == 0" 
            class="ion-text-small ion-no-margin">
            Pacchetto allenamenti <strong>VUOTO</strong>
        </p>
      </ion-col>




  </ion-row>  
</ion-grid>
