.div-qr
{
    background-color:#CEE9E7 ;
    padding-top:6vh;
    padding-bottom:6vh;
}

.div-btns
{
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-width:1px;
}
.btn-pay
{
    margin-top:4vh;
}
