<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/historylist">    </ion-back-button>
    </ion-buttons>
    <ion-title>Prenotazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- IN ATTESA DATI  -->
  <!-- DATI  NON RICEVUTI -->
  <div *ngIf="showSpinner" id="crs-spinner">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

<div *ngIf="!showSpinner">
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let docPianificazione of activePrenotazione.PRENOTAZIONEPIANIFICAZIONE; index as i">
      <div style="width: 100%;">
        <div class="ion-text-center div-qr">
            <qrcode [qrdata]="docPianificazione.ID"></qrcode>
        </div>
    
        <div class="ion-text-center div-btns">
          <ion-button layout="icon-top" fill="clear" size="large" disabled>
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="large" href="mailto:">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="large">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </div>
    
        <ion-list lines="none">
          <ion-item lines="full" *ngIf="activePrenotazione.PRENOTAZIONEPIANIFICAZIONE.length>1">
            <ion-icon *ngIf="i!=0" color="primary" class="no-margin-vertical" slot="start" name="chevron-back"></ion-icon>
            <ion-label class="no-margin-vertical">DATA {{i+1}} DI {{activePrenotazione.PRENOTAZIONEPIANIFICAZIONE.length}}</ion-label>
            <ion-icon *ngIf="i<activePrenotazione.PRENOTAZIONEPIANIFICAZIONE.length-1" color="primary" class="no-margin-vertical" slot="end" name="chevron-forward"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              <!-- #TODO manca lo sport -->
              <h4>{{docPianificazione._DESCRSPORT}}</h4>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>{{docPianificazione.DATAORAINIZIO| date : 'EEEE dd/LL/yyyy'|titlecase}}</h2>
              <p>dalle {{docPianificazione.DATAORAINIZIO | date : 'HH:mm'}} alle {{docPianificazione.DATAORAFINE | date : 'HH:mm'}} </p>
            </ion-label>
            <ion-chip color="primary">
              {{docPianificazione.DURATAORE}} {{docPianificazione.DURATAORE>1? 'Ore':'Ora'}} 
            </ion-chip>
          </ion-item>
          <ion-item>
            <ion-label>
              <h1>Campo {{docPianificazione._DESCRCAMPO}}</h1>
              <!-- TODO manca l'indirizzo
                <p>{{}}</p> -->
            </ion-label>
            <ion-chip color="primary">
              {{docPianificazione.NUMPARTECIPANTI}}
              <ion-icon name="person"></ion-icon>
            </ion-chip>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
    <ion-item color="light">
      PAGAMENTO:
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start">
        Importo:
      </ion-label>
      <ion-label style="text-align: right;">
        {{activePrenotazione.TOTALE | currency : 'EUR'}}
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block">
    Paga Ora
  </ion-button>
</ion-footer>