<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="actualStatePage==pageState.REGISTRATION||actualStatePage==pageState.VERIFY">

            <ion-button fill="clear" (click)="backStepRegistration()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-title>{{getCaptionTitle()}}</ion-title>



        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>




<!-- CONTENT PAGES -->
<ion-content>
    <div *ngIf="isSegmentLogin"
        [ngClass]="this.isDesktop?'ion-text-center div-logo desktop':'ion-text-center div-logo'">
        <img [src]="startConfig.getUrlLogo()">
    </div>

    <!-- STEP ONE: ACCEDI O REGISTRATI -->
    <div class="ion-padding" *ngIf="actualStatePage !== pageState.WELCOME">
        <ion-segment [(ngModel)]="actualStateSegment" color="primary" mode="md" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button [value]="pageState.LOGIN">
                Accedi
            </ion-segment-button>

            <ion-segment-button [value]="pageState.REGISTRATION" *ngIf="registrationInApp">
                Registrati
            </ion-segment-button>

        </ion-segment>
    </div>

    <!-- PORZIONE LOGIN -->
    <div *ngIf="actualStatePage==pageState.LOGIN" class="ion-padding-horizontal">

        <form [formGroup]="formLogin">
            <ion-list>
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>per accedere al proprio account utilizzare indirizzo email e password impostate in fase di
                            registrazone</i>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" name="at-outline" color="primary"></ion-icon>
                    <ion-input inputmode="email" type="email" placeholder="E-mail" formControlName="username"
                        autocomplete="on"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                    <ion-input inputmode="text" type="password" placeholder="Password" formControlName="password"
                        autocomplete="current-password"></ion-input>
                </ion-item>

                <ion-item detail="true" button="true" (click)="onClickReimpostaPsw()" class="ion-text-end" lines="none">
                    <ion-label class="ion-text-wrap">
                        non ricordo la password
                    </ion-label>
                    <!-- <ion-icon slot="end" name="help-buoy-outline"></ion-icon> -->
                </ion-item>
            </ion-list>
        </form>


    </div>

    <!-- PORZIONE REGISTRATI -->
    <div *ngIf="actualStatePage==pageState.CONTACT" class="ion-padding-horizontal">

        <form [formGroup]="formContact">
            <ion-list>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>per iniziare la registrazione è necessario impostare un indirizzo email valido ed un numero
                            cellulare</i>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon name="at-outline" slot="start" color="primary"></ion-icon>
                    <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
                    <ion-input type="tel" inputmode="tel" placeholder="+39 Cellulare" formControlName="telephone">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="isPolicyLink()" detail="true" button="true" (click)="openPolicyLink()"
                    class="ion-text-end" lines="none">
                    <ion-label class="ion-text-wrap">
                        condizioni di registrazione
                    </ion-label>
                </ion-item>

                <!-- AVVISO SU COSA SUCCEDE -->
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>{{labelFooterRegistrazione}}</i>
                    </ion-label>
                </ion-item>


            </ion-list>

        </form>

    </div>



    <!-- PAGINA PER INSERIMENTO DELLA VERIFICA -->
    <div *ngIf="actualStatePage==pageState.VERIFY" class="step-verifica">

        <!-- IMMAGINE DI TESTATA PER LA VERIFICA CODICI -->
        <ion-grid>
            <ion-row class="row-img">
                <ion-col sizeXs="8" offsetXs="2">
                    <img class="height-viewport" src="assets/img/otpverif.png" alt="" />
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- VERIFICA EMAIL -->
        <ion-list *ngIf="canVerify(tipoVerifica.verificaemail)">
            <ion-item lines="none">
                <ion-label class="ion-text-wrap ion-text-center">
                    <i>abbiamo inviato una mail a {{formContact.value.email}}</i>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-input [(ngModel)]="codeVerificationMail" placeholder="inserisci codice mail"
                    [maxlength]="codeLength" [minlength]="codeLength" class="code-input" type="tel" inputmode="numeric">
                </ion-input>
            </ion-item>

            <ion-item detail="true" button="true" (click)="onClickReinviaCodice(tipoVerifica.verificaemail)"
                class="ion-text-end" lines="none">
                <ion-label class="ion-text-wrap">
                    <i>reinvia mail</i>
                </ion-label>
            </ion-item>
        </ion-list>

        <!-- VERIFICA SMS -->
        <ion-list *ngIf="canVerify(tipoVerifica.verificasms)">
            <ion-item lines="none">
                <ion-label class="ion-text-wrap ion-text-center">
                    <i>abbiamo inviato un SMS a {{formContact.value.telephone}}</i>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-input [(ngModel)]="codeVerificationSms" placeholder="inserisci codice sms" [maxlength]="codeLength"
                    [minlength]="codeLength" class="code-input" type="tel" inputmode="numeric"></ion-input>
            </ion-item>

            <ion-item detail="true" button="true" (click)="onClickReinviaCodice(tipoVerifica.verificasms)"
                class="ion-text-end" lines="none">
                <ion-label class="ion-text-wrap">
                    <i>reinvia sms</i>
                </ion-label>
            </ion-item>

        </ion-list>

    </div>

    <!-- PAGINA PER NOMINATIVO E CREDENZIALI -->
    <div *ngIf="actualStatePage==pageState.REGISTRATION">

        <form [formGroup]="formRegister">
            <ion-list>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>ancora qualche informazione per concludere la registrazione</i>
                    </ion-label>
                </ion-item>

                <!-- CREDENZIALI  -->

                <ion-item-group>

                    <ion-item-divider sticky="true" color="light">
                        <ion-icon name="key-outline" slot="end" color="primary"></ion-icon>
                        <ion-label>Credenziali accesso</ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-icon name="at-outline" slot="start" color="primary"></ion-icon>
                        <ion-label><i>{{formContact.value.email}}</i></ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                        <ion-input type="text" placeholder="immetti una password " formControlName="psw"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                        <ion-input type="text" placeholder="ripeti la password" formControlName="verifyPsw"></ion-input>
                    </ion-item>
                </ion-item-group>

                <!-- NOMINATIVO -->
                <ion-item-group>
                    <ion-item-divider sticky="true" color="light">
                        <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
                        <ion-label>Qualche tua info</ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Nome</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Cognome</ion-label>
                        <ion-input type="text" formControlName="surname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Cod. Fiscale</ion-label>
                        <ion-input type="text" formControlName="codFisc"></ion-input>
                    </ion-item>

                    <ion-item lines="none" *ngIf="isPolicyLink()">

                        <ion-label>Accetto la <a (click)="openPolicyLink()">privacy policy</a></ion-label>
                        <ion-checkbox mode="md" slot="start" color="primary" formControlName="chkPrivacy">
                        </ion-checkbox>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label>voglio ricevere la newsletter</ion-label>
                        <ion-checkbox mode="md" slot="start" color="primary" formControlName="chkNewsletter">
                        </ion-checkbox>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap ion-text-center">
                            <i>se vuoi rimanere aggiornato sulle nostre attività ti invitiamo a spuntare la voce
                                newsletter</i>
                        </ion-label>
                    </ion-item>

                </ion-item-group>


            </ion-list>
        </form>


    </div>


    <!-- REGISTRAZIONE COMPLETATA -->
    <div *ngIf="actualStatePage==pageState.WELCOME">

        <!-- IMMAGINE DI TESTATA PER LA VERIFICA CODICI -->
        <ion-grid>
            <ion-row class="row-img">
                <ion-col sizeXs="8" offsetXs="2">
                    <img class="height-viewport" src="assets/img/teamvolley.png" alt="" />
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-list>
            <ion-list-header>Benvenuto</ion-list-header>

            <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                    <h6>adesso anche tu fai parte del nostro team</h6>
                    <p>offriamo divertimento e il miglior modo per rimanere in forma</p>
                </ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="checkmark-outline" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">scopri i corsi che abbiamo pensato per te</ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="checkmark-outline" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">organizza un incontro e prenota uno dei nostri campi</ion-label>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="checkmark-outline" color="primary"></ion-icon>
                <ion-label class="ion-text-wrap">rimani aggiornato su tutti i nostri eventi</ion-label>
            </ion-item>

        </ion-list>
    </div>

</ion-content>

<!-- FOOTER PAGES-->
<ion-footer>

    <div id="footer-login" *ngIf="actualStatePage==pageState.LOGIN">
        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()"
            [disabled]="!formLogin.valid">
            ACCEDI
        </ion-button>
    </div>

    <div id="footer-contact" *ngIf="actualStatePage==pageState.CONTACT">
        <ion-button [color]="colorButton" class="btn-confirm" expand="block" [disabled]="!this.formContact.valid"
            (click)="onClickFooterAvanti()">Avanti</ion-button>
    </div>

    <div id="footer-verify" *ngIf="actualStatePage==pageState.VERIFY">

        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()"
            [disabled]="!isEnableAvantiOnVerify()">
            Verifica
        </ion-button>


    </div>

    <div id="footer-registration" *ngIf="actualStatePage==pageState.REGISTRATION">


        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()">
            Registrati
        </ion-button>

    </div>

    <div id="footer-welcome" *ngIf="actualStatePage==pageState.WELCOME">
        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="closeModal()">
            Inizia
        </ion-button>
    </div>

</ion-footer>