<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="actualStatePage==pageState.REGISTRATION||actualStatePage==pageState.VERIFY">

            <ion-button fill="clear" (click)="backStepRegistration()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>

        </ion-buttons>

        <ion-title>{{getCaptionTitle()}}</ion-title>



        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>




<!-- CONTENT PAGES -->
<ion-content>
    <div
        *ngIf="isSegmentLogin" 
        [ngClass]="this.isDesktop?'ion-text-center div-logo desktop':'ion-text-center div-logo'">
        <img [src]="startConfig.getUrlLogo()">
    </div>

    <!-- STEP ONE: ACCEDI O REGISTRATI -->
    <div class="ion-padding" *ngIf="actualStatePage !== pageState.WELCOME">
        <ion-segment [(ngModel)]="actualStateSegment" color="primary" mode="md" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button [value]="pageState.LOGIN">
                Accedi
            </ion-segment-button>

            <ion-segment-button [value]="pageState.REGISTRATION" *ngIf="registrationInApp">
                Registrati
            </ion-segment-button>

        </ion-segment>
    </div>

    <!-- PORZIONE LOGIN -->
    <div *ngIf="actualStatePage==pageState.LOGIN" class="ion-padding-horizontal">

        <form [formGroup]="formLogin">
            <ion-list>
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>per accedere al proprio account utilizzare indirizzo email e password impostate in fase di registrazone</i>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" name="at-outline" color="primary"></ion-icon>
                    <ion-input inputmode="email" type="email" placeholder="E-mail" formControlName="username"
                        autocomplete="on"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                    <ion-input inputmode="text" type="password" placeholder="Password" formControlName="password"
                        autocomplete="current-password"></ion-input>
                </ion-item>

                <ion-item 
                    detail="true" 
                    button="true" 
                    (click)="onClickReimpostaPsw()" class="ion-text-end" lines="none">
                    <ion-label class="ion-text-wrap">
                        non ricordo la password
                    </ion-label>                    
                    <!-- <ion-icon slot="end" name="help-buoy-outline"></ion-icon> -->
                </ion-item>                
            </ion-list>
        </form>


    </div>

    <!-- PORZIONE REGISTRATI -->
    <div *ngIf="actualStatePage==pageState.CONTACT" class="ion-padding-horizontal">

        <form [formGroup]="formContact">
            <ion-list>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>per iniziare la registrazione è necessario impostare un indirizzo email valido ed un numero
                            cellulare</i>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-icon name="at-outline" slot="start" color="primary"></ion-icon>
                    <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
                    <ion-input type="tel" inputmode="tel" placeholder="+39 Cellulare" formControlName="telephone">
                    </ion-input>
                </ion-item>

                <ion-item 
                    *ngIf="isPolicyLink()"
                    detail="true" 
                    button="true" 
                    (click)="openPolicyLink()" class="ion-text-end" lines="none">
                    <ion-label class="ion-text-wrap">
                        condizioni di registrazione
                    </ion-label>
                </ion-item>

                <!-- AVVISO SU COSA SUCCEDE -->
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>{{labelFooterRegistrazione}}</i>
                    </ion-label>
                </ion-item>


            </ion-list>

        </form>

    </div>



    <!-- PAGINA PER INSERIMENTO DELLA VERIFICA -->
    <div *ngIf="actualStatePage==pageState.VERIFY">
        <div class="ion-no-padding div-message"
            *ngIf="docGruppo.APPTIPOVERIFICA == tipoVerifica.verificaemail || docGruppo.APPTIPOVERIFICA == tipoVerifica.verificaemailsms">


            <ion-item lines="none">
                <ion-button slot="start" fill="clear" color="danger"
                    (click)="onClickReinviaCodice(tipoVerifica.verificaemail)">
                    <ion-icon name="refresh-outline"></ion-icon>
                </ion-button>

                <ion-label color="default">Inserisci il pincode ricevuto tramite email</ion-label>
            </ion-item>

            <form [formGroup]="formVerifyMail">
                <div [ngClass]="this.isDesktop?'form-verifica desktop':'form-verifica'">
                    <ion-segment>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c1" #c1 (ionInput)="changeFocus($event)" id="1"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c2" #c2 (ionInput)="changeFocus($event)" id="2"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c3" #c3 (ionInput)="changeFocus($event)" id="3"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c4" #c4 (ionInput)="changeFocus($event)" id="4"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c5" #c5 (ionInput)="changeFocus($event)" id="5"></ion-input>
                    </ion-segment>
                </div>
            </form>

        </div>

        <div class="ion-no-padding div-message"
            *ngIf="docGruppo.APPTIPOVERIFICA == tipoVerifica.verificasms || docGruppo.APPTIPOVERIFICA == tipoVerifica.verificaemailsms">

            <ion-item lines="none">
                <ion-button slot="start" fill="clear" color="danger"
                    (click)="onClickReinviaCodice(tipoVerifica.verificasms)">
                    <ion-icon name="refresh-outline"></ion-icon>
                </ion-button>
                <ion-label color="default">
                    Inserisci il pincode ricevuto tramite SMS</ion-label>
            </ion-item>

            <form [formGroup]="formVerifyTel">
                <div [ngClass]="this.isDesktop?'form-verifica desktop':'form-verifica'">
                    <ion-segment>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c6" #c6 (ionInput)="changeFocus($event)" id="6"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c7" #c7 (ionInput)="changeFocus($event)" id="7"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c8" #c8 (ionInput)="changeFocus($event)" id="8"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c9" #c9 (ionInput)="changeFocus($event)" id="9"></ion-input>
                        <ion-input clearOnEdit type="tel" inputmode="numeric"
                            class="ion-no-padding ion-align-self-center" minlength="1" maxlength="1"
                            formControlName="c10" #c10 (ionInput)="changeFocus($event)" id="10"></ion-input>
                    </ion-segment>
                </div>
            </form>

        </div>

    </div>

    <!-- PAGINA PER NOMINATIVO E CREDENZIALI -->
    <div *ngIf="actualStatePage==pageState.REGISTRATION">

        <form [formGroup]="formRegister">
            <ion-list>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap ion-text-center">
                        <i>ancora qualche informazione per concludere la registrazione</i>
                    </ion-label>
                </ion-item>

                <!-- CREDENZIALI  -->

                <ion-item-group>

                    <ion-item-divider sticky="true" color="light">
                        <ion-icon name="key-outline" slot="end" color="primary"></ion-icon>
                        <ion-label>Credenziali accesso</ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-icon name="at-outline" slot="start" color="primary"></ion-icon>
                        <ion-label><i>{{formContact.value.email}}</i></ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>
                        <ion-input type="text" placeholder ="immetti una password " formControlName="psw"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon slot="start" name="key-outline" color="primary"></ion-icon>                        
                        <ion-input type="text" placeholder="ripeti la password" formControlName="verifyPsw"></ion-input>
                    </ion-item>
                </ion-item-group>                

                <!-- NOMINATIVO -->
                <ion-item-group>
                    <ion-item-divider sticky="true" color="light">
                        <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
                        <ion-label>Qualche tua info</ion-label>
                    </ion-item-divider>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Nome</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Cognome</ion-label>
                        <ion-input type="text" formControlName="surname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label slot="start" position="fixed">Cod. Fiscale</ion-label>
                        <ion-input type="text" formControlName="codFisc"></ion-input>
                    </ion-item>

                    <ion-item 
                            lines="none" 
                            *ngIf="isPolicyLink()">

                        <ion-label>Accetto la <a (click)="openPolicyLink()">privacy policy</a></ion-label>
                        <ion-checkbox 
                            mode="md"
                            slot="start" 
                            color="primary" 
                            formControlName="chkPrivacy">
                        </ion-checkbox>
                    </ion-item>
    
                    <ion-item lines="none">
                        <ion-label>voglio ricevere la newsletter</ion-label>
                        <ion-checkbox mode="md" slot="start" color="primary" formControlName="chkNewsletter"></ion-checkbox>
                    </ion-item>
                    
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap ion-text-center">
                            <i>se vuoi rimanere aggiornato sulle nostre attività ti invitiamo a spuntare la voce newsletter</i>
                        </ion-label>
                    </ion-item>

                </ion-item-group>


            </ion-list>
        </form>


    </div>


    <!-- REGISTRAZIONE COMPLETATA -->
    <div *ngIf="actualStatePage==pageState.WELCOME">
        <h1 class="ion-text-center">Benvenuto</h1>
        <h3 class="ion-text-center">sei uno dei nostri!</h3>

        <div class="ion-text-center">
            <img src="assets/img/handshake_b.gif">
        </div>
    </div>

    <div>

    </div>

</ion-content>

<!-- FOOTER PAGES-->
<ion-footer>

    <div id="footer-login" *ngIf="actualStatePage==pageState.LOGIN">
        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()"
            [disabled]="!formLogin.valid">
            ACCEDI
        </ion-button>
    </div>

    <div id="footer-contact" *ngIf="actualStatePage==pageState.CONTACT">
        <ion-button [color]="colorButton" class="btn-confirm" expand="block" [disabled]="!this.formContact.valid"
            (click)="onClickFooterAvanti()">Avanti</ion-button>
    </div>

    <div id="footer-verify" *ngIf="actualStatePage==pageState.VERIFY">

        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()"
            [disabled]="!isEnableAvantiOnVerify()">
            Verifica
        </ion-button>


    </div>

    <div id="footer-registration" *ngIf="actualStatePage==pageState.REGISTRATION">


        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="onClickFooterAvanti()"
            >
            Registrati
        </ion-button>

    </div>

    <div id="footer-welcome" *ngIf="actualStatePage==pageState.WELCOME">
        <ion-button class="btn-confirm" [color]="colorButton" expand="block" (click)="closeModal()">
            Inizia
        </ion-button>
    </div>

</ion-footer>