<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ myCorso.TIPO | tipoCorso }}</ion-title>
    <ion-buttons slot="end">
      <ion-button> </ion-button>
      <ion-button> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [class]="getClassHeader()">
    <ion-card-header class="ion-no-padding">
      <!-- FAB CON LA VOCE PROVA -->
      <ion-fab *ngIf="showFabProva()" vertical="top" horizontal="end">
        <ion-fab-button color="danger">Prova</ion-fab-button>
      </ion-fab>

      <ion-item [color]="getColorHeader()" button="false" lines="none">
        <i class="icon-sport" slot="start"><span [innerHTML]="getIcon(myCorso)"></span></i>

        <ion-label>
          <h1 class="ion-text-wrap">{{ myCorso.DENOMINAZIONE }}</h1>
          <h3 class="ion-text-wrap">{{ myCorso['_DENOMINAZIONE_Sport'] }}</h3>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="ion-padding-horizontal" style="display: flex" *ngIf="myCorso?.existProgrammaCorso()">
      <ion-label class="ion-text-wrap">
        <span [innerHTML]="myCorso.getFullProgrammaHTML()"></span>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-grid class="links">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="solid" color="light" (click)="onClickCardCalendar()">
          <ion-icon name="calendar" slot="start"></ion-icon>
          Calendario
        </ion-button>
      </ion-col>

      <ion-col>
        
        <ion-button
              (click)="onClickAllegati()" 
              expand="block" 
              fill="solid" 
              color="light">

          <ion-icon slot="start" name="document-attach-outline"></ion-icon>
          Allegati
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list class="ion-no-padding">
    <!-- GIORNATE -->
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label>
          <h2>Quando</h2>
        </ion-label>

        <ion-label slot="end" *ngIf="myCorso.NUMEROLEZIONI">
          <p class="num-lezioni">
            {{myCorso.NUMEROLEZIONI}} {{myCorso.NUMEROLEZIONI > 1 ?'Incontri
            ':'Incontro '}}
          </p>
        </ion-label>
      </ion-item-divider>

      <ion-item button="false" lines="none">
        <ion-label color="primary">
          <p *ngIf="myCorso.tempoCorso()==tempoCorso.FUTURO">
            da {{myCorso.DATAINIZIO|date:'EEEE dd/MM/yyyy'}} a
            {{myCorso.DATAFINE|date:'EEEE dd/MM/yyyy'}}
          </p>
          <p *ngIf="myCorso.tempoCorso()==tempoCorso.IN_CORSO">
            Termina {{myCorso.DATAFINE|date:'EEEE dd/MM/yyyy'}}
          </p>
          <p *ngIf="myCorso.tempoCorso()==tempoCorso.PASSATO">
            Concluso {{myCorso.DATAFINE|date:'EEEE dd/MM/yyyy'}}
          </p>
        </ion-label>
      </ion-item>

      <!-- ORA E DURATA -->
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm="6">
            <ion-button size="small" color="primary" expand="block" fill="outline">
              <ion-icon name="time" slot="start"></ion-icon>
              {{myCorso.ORAINIZIO | date:'HH:mm'}}
            </ion-button>
          </ion-col>

          <ion-col size="6" size-sm="6">
            <ion-button size="small" color="primary" expand="block" fill="outline">
              <ion-icon name="infinite" slot="start"></ion-icon>
              {{myCorso.ORELEZIONE}} {{myCorso.ORELEZIONE > 1 ?'Ore':'Ora'}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- GIORNATA SETTIMANA -->
      <app-settimana-block [listDays]="myCorso._SETTIMANA">
      </app-settimana-block>
    </ion-item-group>

    <!-- INFO ISCRIZIONI -->
    <ion-item-group *ngIf="myCorso?.ISCRIZIONEDAL || myCorso?.ISCRIZIONEAL">
      <ion-item-divider color="light">
        <ion-label>
          <h2>Iscrizioni</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item *ngIf="myCorso?.ISCRIZIONEDAL">
        <ion-icon [color]="iconColor" slot="start" name="timer-outline">
        </ion-icon>

        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{myCorso.ISCRIZIONEDAL | date : 'EEEE dd/MM/yyyy hh:mm'}}</h3>
          </ion-text>

          <ion-text color="secondary">
            <p>Iscrizione aperte da</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="myCorso?.ISCRIZIONEAL">
        <ion-icon [color]="iconColor" slot="start" name="stopwatch-outline">
        </ion-icon>

        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{myCorso.ISCRIZIONEAL | date : 'EEEE dd/MM/yyyy hh:mm'}}</h3>
          </ion-text>

          <ion-text color="danger">
            <p>Chiusura Iscrizioni</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <!-- ADATTO A -->
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label>
          <h2>Rivolto a</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-icon name="stats-chart-outline" slot="start" [color]="iconColor"></ion-icon>
        <ion-label>{{myCorso['_DENOMINAZIONE_Livello']?myCorso['_DENOMINAZIONE_Livello']:'Tutti
          i Livelli'}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="bookmark-outline" slot="start" [color]="iconColor"></ion-icon>
        <ion-label>{{myCorso['_DESCTOOLTIP_CategoriaEta']?myCorso['_DESCTOOLTIP_CategoriaEta']:'Per
          tutte le età'}}</ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="myCorso.TARGETSESSO">
        <ion-icon name="transgender-outline" slot="start" [color]="iconColor"></ion-icon>
        <ion-label>{{myCorso.TARGETSESSO | targetSesso}}</ion-label>
      </ion-item>
    </ion-item-group>

    <!-- LOCATION -->

    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label>
          <h2>Dove</h2>
        </ion-label>
      </ion-item-divider>

      <!-- COMUNE -->
      <ion-item *ngIf="myLocation?.COMUNE">
        <ion-icon name="home-outline" slot="start" [color]="iconColor"></ion-icon>
        <ion-label>{{myLocation?.COMUNE}}</ion-label>
      </ion-item>

      <!-- INDIRIZZO -->
      <ion-item *ngIf="myLocation?.INDIRIZZO">
        <ion-icon name="navigate-outline" slot="start" [color]="iconColor">
        </ion-icon>

        <ion-label> {{myLocation?.INDIRIZZO}} </ion-label>
      </ion-item>

      <ion-item *ngIf="myLocation?.TELEFONO">
        <ion-icon name="call-outline" slot="start" [color]="iconColor"></ion-icon>
        <ion-label>{{myLocation?.TELEFONO}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <!-- END LOCATION -->
</ion-content>

<ion-footer>
  <ion-button color="success" fill="solid" expand="block" *ngIf="showIscrizioniButton()" (click)="onClickIscrizione()">
    Iscriviti adesso
  </ion-button>

  <ion-text color="danger" class="ion-text-center" *ngIf="!showIscrizioniButton()">
    <h6>Contatta la struttura per iscriverti al corso</h6>
  </ion-text>
</ion-footer>