<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" ios="close" md="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Finalizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color:#EFF1F8" >
    <ion-grid class="griglia-principale">
      <ion-row>
        <ion-col>
          <ion-button 
              color="danger" 
              expand="block" 
              class="full-buttons" 
              (click)="closeModal()">
            Aspetta, voglio modificare
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3" class="ion-text-center  left-col">
                  <h6 class="ion-no-margin">{{ docPianificazione.DATAORAINIZIO | date: "EEE" | uppercase}}</h6>
                  <h4 class="ion-no-margin" style="margin-top: 0px; margin-bottom: 0px;">{{docPianificazione.DATAORAINIZIO | date: "dd"}}</h4>
                  <h6 class="ion-no-margin">{{ docPianificazione.DATAORAINIZIO | date: "MMMM" | titlecase}}</h6>
                </ion-col>
                <ion-col size="9">
                  <h6>{{docPianificazione._DESCRSPORT}}</h6>
                  <h4>{{selectedCampo!.DENOMINAZIONE}}</h4>
                  <h6>{{getAddressLocation()|titlecase}}</h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3" class="ion-text-center left-col">
                  <h6 class="ion-no-margin">{{docPianificazione.DATAORAINIZIO | date: "HH:mm" | uppercase}}</h6>
                  <h6 class="ion-no-margin">{{docPianificazione.DATAORAFINE | date: "HH:mm"}}</h6>
                </ion-col>
                <ion-col size="9">
                  <h5 class="ion-no-margin">{{docPianificazione.DURATAORE}} {{docPianificazione.DURATAORE!=1? "Ore":"Ora"}}</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-player-number [numPlayer]="docPianificazione.NUMPARTECIPANTI" (changeNumPlayer)="onChangedNumPlayer($event)" ></app-player-number>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>



</ion-content>
<ion-footer>

  <ion-grid>
    <ion-list>
      <ion-item button (click)="disclaimer=!disclaimer; " >
        <ion-checkbox 
              [(ngModel)]="disclaimer" 
              slot="start"
              (click)="$event.stopPropagation();">
        </ion-checkbox>
        <ion-label class="ion-text-wrap">
          <p>Lette e approvate le
          <a (click)="$event.stopPropagation(); openLink('https://www.openbeachvolley.com')">condizioni di vendita</a>
        </p>
        </ion-label>
      </ion-item>

      <!-- Componente scelta Pagamento -->  
        <app-payment-choose 
            [arPayment]="arPaymentConfig"
            [selectedPayment]=""
            (onPaymentChoosed)="onPaymentSelected($event)"></app-payment-choose>

        <ion-item lines="none" id="item-totale">
          <ion-label slot="start">Totale</ion-label>
          <ion-label style="text-align:right;">
          {{activePrenotazione.TOTALE | currency: "EUR"}}
          </ion-label>
        </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button 
            color="primary" 
            expand="block" 
            class="full-buttons" 
            [disabled]="!disclaimer || !activePrenotazione.ISVALID || !selectedPayment " 
            (click)="onConfirm()">
          Conferma Prenotazione
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

