/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
//AAA

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



//questa serve a creare lo scrolling orizzontale

div[scrollX=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
  }

  .icon-sport{
    font-family: "sports";
    font-size: 18px;
    
    //padding-left: 20px;
}

  /* Classe usata per impostare scritte a tutto schermo in centro*/
  /* Esempio 
  <div class="nofind-cnt">
    <ion-label>Nessun documento</ion-label>
    <ion-label>disponibile</ion-label>
  </div>
  */ 
  .nofind-cnt  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 100%;
   padding: 0;
   margin: 0;
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   background-color: var(--ion-color-light);
   color: var(--ion-color-medium);

   ion-label {
     font-weight: bold;
     color: rgb(57, 102, 135);
   }
   ion-spinner{
     color: var(--ion-color-primary);
   }
  }

  .small-button-card {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }


  .sport-icon  {
    font-family: "sports";
  }

  //questa la uso per passare gli stili quando apro il componente auth in modale
  .modal-login{
    >div{
      overflow:auto !important;
    }
      app-auth{
        min-height: 650px;
        background: var(--ion-color-light);
      }
  }

  /*
  Per aggiungere una icona sport usare il tag i
  <i class="sport-icon">&#xe804;</i> Valore Esadecimale dell'icona
  */