<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agenda-trainer"></ion-back-button>
    </ion-buttons>
    <ion-title>Presenze</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 1vh" ></div>
  <div class="ion-no-padding div-header">
    <ion-item lines="none" color="light">
      <ion-icon slot="start" name="school-outline" color="primary">
      </ion-icon>
      <ion-label class="ion-text-wrap">
        <h1>SettembreVolley</h1>
        <p>Via Washington - Campo 1</p>
        <h2>18.00-19.30</h2>
      </ion-label>
    </ion-item>

  </div>


  <ion-list>
    <ion-item-divider>
        <ion-label>
          Partecipanti
        </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let presenza of listPresenze" button (click)="onClickElement(presenza)">
      <ion-icon *ngIf="presenza.PRESENTE==true" slot="start" name="thumbs-up-outline" color="primary"></ion-icon>
      <ion-icon *ngIf="presenza.PRESENTE==false" slot="start" name="thumbs-down-outline" color="danger"></ion-icon>
      <ion-label>
        <h2>{{presenza.NOMINATIVO}}</h2>
        <h4>Scad. c. medico: </h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="primary" expand="block" (click)="onSubmit()">
    Conferma
  </ion-button>
</ion-footer>
