<div class="campi-compact-container">
  <!-- Messaggio vuoto -->
  <div class="empty-message" *ngIf="!_flagAvailableCampi">
    <ion-icon name="location-outline"></ion-icon>
    <span>Nessun campo disponibile</span>
  </div>

  <!-- Campi scrollabili -->
  <div class="campi-scroll" *ngIf="_flagAvailableCampi">
    <button
      *ngFor="let campo of _listAvailableCampi"
      class="campo-btn"
      [class.campo-btn--active]="isSelected(campo)"
      [class.campo-btn--disabled]="!canChoose"
      [disabled]="!canChoose"
      (click)="onChangeCampo(campo)">
      
      <!-- Icona location -->
      <div class="campo-icon-circle">
        <ion-icon name="location"></ion-icon>
      </div>

      <!-- Info campo -->
      <div class="campo-info">
        <h3 class="campo-name">{{ campo.DENOMINAZIONE }}</h3>
        <p class="campo-location" *ngIf="selectedLocation">
          {{ selectedLocation.DENOMINAZIONE }}
        </p>
      </div>
    </button>
  </div>
</div>