<div class="slideCampi">
  <ion-slides 
      *ngIf="campiList.length!=0" 
      [options]="getSliderOptions()" 
      class="ion-text-center"
      #sliderCampi>
    <ion-slide *ngFor="let campo of campiList" >

      <ion-button 
        expand = "block"
        [fill] = "getFill(campo)"
        size = "large"
        shape = "round"
        [color]="getColor(campo)" 
        (click)="onChangeCampo(campo)"
        [disabled]="!canChoose">
        <ion-icon 
              slot = "start"
              *ngIf="isSelected(campo)"    
              name="location">
        </ion-icon>

        <ion-label class="ion-text-nowrap">
          <p>{{campo.DENOMINAZIONE}}</p>
        </ion-label>

      </ion-button>

    </ion-slide>
  </ion-slides>
</div>

<div *ngIf="selectedCampo && selectedLocation">
  <ion-list class="list-nopadding">
    <ion-item 
    lines="none"
    color="tertiary"
    type="header"
    >
    <ion-icon slot="end" name="location">

    </ion-icon>
    <ion-label class="ion-text-wrap ion-padding-start">
      <p>Stai visualizzando le disponibilità di</p>
      <h4><strong>{{selectedCampo?.DENOMINAZIONE}}</strong> presso <strong>{{selectedLocation?.DENOMINAZIONE}}.</strong></h4>
      <p style="font-size: x-small;">in caso di slot occupati ricerca su altre giornate/struttura</p>
    </ion-label>
  </ion-item>
  </ion-list>

</div>




