<ion-card [ngClass]="{'card-small-version': smallVersion, 'card-home-custode': homeCustodeVersion}">
  <ion-item 
      [button]="myButtonCard.iconLink" 
      (click)="onClickElement(myButtonCard)" 
      lines="none"
      [detail] = "myButtonCard.iconLink"
      [disabled] = "myButtonCard.disabled"
      >

    <ion-icon 
        [slot]="myButtonCard.sloticon" 
        [name]="myButtonCard.nameicon" 
        [color]="myButtonCard.color"></ion-icon>

    <ion-label *ngIf="!smallVersion">
      <h2 class="ion-text-wrap">
        {{ myButtonCard.title }}
      </h2>
      <h3 class="ion-text-wrap">
        {{ myButtonCard.subtitle }}
      </h3>
    </ion-label>

    <ion-label *ngIf="smallVersion">
      <h3 class="ion-text-wrap">
        {{ myButtonCard.title }}
      </h3>
      <p class="ion-text-wrap">
        {{ myButtonCard.subtitle }}
      </p>
    </ion-label>

  </ion-item>
</ion-card>