

.card-small-version {
    margin: 8px 0px 8px 0px;
    width: 100%;
}

.card-home-custode{
    width: 100%;
    margin: 0px;
}

p{
    font-size: 12px;
}


ion-icon{
    font-size: 35px ;
    margin-right: 15px ;
}