<ion-item 
    lines="none"
    *ngIf="description">
  <ion-icon 
    slot="start" name="information-circle-outline" color="primary"></ion-icon>
  <ion-label class="ion-text-wrap">
    <h3>{{description}}</h3>
  </ion-label>
</ion-item>
<ion-item class="input-row">
  <ion-input
      #inputDom
      class="custom"
      [maskito]="optionMask"
      [maskitoElement]="maskPredicate"
     (ionChange) = "_onChangeValue()"
     fill="solid"  
     clearInput="false" 
     inputmode="numeric"  
    [placeholder]="placeholder" 
    [(ngModel)]="_numberValue">
  </ion-input>
</ion-item>

  <ion-button
      *ngIf="showButtonCommand"
      slot="end" 
      color="success"
      (click) = "onClickButton()"
      expand="full">
        {{textButton}}
  </ion-button> 

