<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Lezione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="onRefreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid 
        #gridcontainer>

        <!-- PAGINA IN ERRORE -->
        <ion-row 
            *ngIf="loadedData && errorLoadingData">
          <ion-col 
            sizeXs="12" 
            sizeSm="12" 
            sizeMd="12"
            sizeLg="12"
            sizeXl="12">

            <!-- ERRORE CARICAMENTO -->
            <app-card-image
              src="assets/boysplaying_small.png"
              title="Spiacenti, qualcosa non va"
              [subtitle]="messageErrorPage"
            >
            </app-card-image>    
          </ion-col>
        </ion-row>

        <!-- DATI CARICATI CORRETTAMENTE -->
        <ion-row 
          *ngIf="loadedData && !errorLoadingData">
          <ion-col>

          <!-- GRID CONTENT -->
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-col class="header">

                <ion-item lines="none" color="light">
                  <ion-icon 
                      slot="start" 
                      [name]="iconHeader" 
                      color="success">
                  </ion-icon>

                  <ion-label class="ion-text-wrap">
                    <h2>{{_corsoDoc.DATAORAINIZIO | date: 'EEEE dd/MM/yyyy '}}</h2>
                    <h2 class="ion-text-bold">{{_corsoDoc.DATAORAINIZIO | date: 'H.mm'}} - {{_corsoDoc.DATAORAFINE | date: 'H.mm'}}</h2>
                    <h1>{{_corsoDoc.DENOMINAZIONE}}</h1>
                    <p class="ion-text-bold">{{(_corsoDoc.DENOMINAZIONECAMPO | titlecase)}}</p>
                    <p class="ion-text-bold">{{_corsoDoc.DENOMINAZIONESPORT}}</p>
                  </ion-label>
                  </ion-item>

              </ion-col>
              
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-list>
                  <!-- ADATTO A -->
                  <ion-item-group class="ion-padding-bottom">
                    <ion-item-divider color="success">
                      <ion-label>
                        <h2>Rivolto a</h2>
                      </ion-label>
                    </ion-item-divider>
      
                    <ion-item>
                      <ion-icon name="stats-chart-outline" slot="start" color="danger"></ion-icon>
                      <ion-label>{{labelLivello | titlecase}}</ion-label>
                    </ion-item>
      
                    <ion-item>
                      <ion-icon name="transgender-outline" slot="start" color="warning"></ion-icon>
                      <ion-label>{{labelSesso | titlecase}}</ion-label>
                    </ion-item>

                  </ion-item-group>              
                </ion-list>

                <ion-list class="ion-margin-top">
                  <ion-item-group class="ion-padding-bottom">
                    <ion-item-divider color="success">
                      <ion-label>
                        <h2>Lezione</h2>
                      </ion-label>
                    </ion-item-divider>
      
                    <ion-item *ngIf="_corsoDoc.LISTTRAINERS && _corsoDoc.LISTTRAINERS.length != 0">                      
                      <ion-icon name="barbell-outline" slot="start" color="primary"></ion-icon>
                      <ion-label class="ion-text-wrap">
                        <h6>{{_corsoDoc.LISTTRAINERS}}</h6>
                        <p>chi troveremo al corso</p>
                      </ion-label>
                    </ion-item>
      
                    <ion-item *ngIf="flagIscrizioneAttiva">
                      <ion-icon name="person-circle-outline" slot="start" color="warning"></ion-icon>
                      <ion-label>
                        <h6>Posti disponibili</h6>
                        <p class="ion-text-bold ion-text-danger" *ngIf="numPostiResidui != 0">affrettati a iscriverti</p>
                        <p class="ion-text-bold ion-text-primary" *ngIf="numPostiResidui == 0">i posti sono esauriti</p>
                      </ion-label>
                      <ion-badge class="ion-padding-horizontal" [color]="numPostiResidui == 0 ? 'danger' : 'success'">{{numPostiResidui}}</ion-badge>
                    </ion-item>

                  </ion-item-group>    
                </ion-list>
              </ion-col>
            </ion-row> 

            <ion-row 
                *ngIf="numPostiResidui != 0 && flagFuture"
                class="ion-margin-top">
              <ion-col class="ion-text-center">
                <ion-note 
                    color="medium" 
                    class="ion-margin-horizontal">
                  Per poter partecipare alla lezione &egrave; necessario aver un residuo positivo di pacchetti ore
                </ion-note>
              </ion-col>
            </ion-row>  

            <ion-row 
              *ngIf="numPostiResidui != 0 && flagFuture"
              class="ion-margin-top">
              <ion-col class="ion-text-center">
                <ion-note 
                    *ngIf="!flagUserLogged"
                    color="medium" 
                    class="ion-margin-horizontal">
                    Accedere con le proprie credenziali, oppure registrarsi come utente per poter acquistare pacchetti ore ed iscriversi alla lezione
                </ion-note>

                <ion-note 
                    *ngIf="flagUserLogged && minutiValue != 0"
                    color="medium" 
                    class="ion-margin-horizontal">
                    Il tuo residuo disponibile è di <ion-text color="danger" class="ion-text-bold">{{minutiValue | labelNumeroOre: 'long':'minuti'}}</ion-text>
                </ion-note>

                <ion-note 
                  *ngIf="flagUserLogged && minutiValue == 0"
                  color="medium" 
                  class="ion-margin-horizontal">
                 Non hai disponibile <ion-text color="danger" class="ion-text-bold">nessuna ora</ion-text> per potersi iscrivere; effettua un nuovo acruisto per proseguire
                </ion-note> 
                               
              </ion-col>
            </ion-row>  

            <!-- ISCRIZIONE ATTIVA -->          
            <ion-row
                *ngIf="flagUserLogged && minutiValue != 0 && flagIscrizioneAttiva"
                  >
              <ion-col>
                <ion-button 
                    color="success"
                    size="large"
                    expand="full">ISCRIVITI</ion-button>
              </ion-col>
            </ion-row>

            <ion-row
                *ngIf="flagUserLogged && minutiValue != 0 && !flagIscrizioneAttiva"
                  >
              <ion-col>
                <ion-note                   
                  color="danger" 
                  class="ion-margin-horizontal">
                 Non è possibile effettuare l'iscrizione alla lezione direttamente dall'applicazione.
                 <br/>Contattare la segreteria del centro.
                </ion-note>                   
              </ion-col>
            </ion-row>            

          </ion-grid>
          </ion-col>
        </ion-row>
  </ion-grid>

        
</ion-content>
