<ion-card>
  <ion-row class="ion-align-items-center ion-no-padding">
    <!-- COLONNA ORARI -->
    <ion-col size="3" sizeXs="3" id="col-orari">
      <div class="orario-black">
        {{ mySlot.START | date : "HH:mm" }}
      </div>
      <div class="orario-light">
        {{ mySlot.END | date : "HH:mm" }}
      </div>
    </ion-col>

    <!-- COLONNA BOTTONE SLOT -->
    <ion-col size="9" sizeXs="9" id="col-slot">
      <ion-button 
        expand="block" 
        [ngClass]="getClassButton()"
        [disabled]="getDisableButton()"
        (click)="chooseSlot()">
        <ion-icon 
          [name]="getIconButton()" 
          slot="start" 
          *ngIf="showIconButton()">
        </ion-icon>
        {{ getCaptionButton() }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>