<ion-row class="ion-padding-start">
  <ion-col size="6" >
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ myApertura.getLabel() | titlecase}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>

  <ion-col size="6" >
    <ion-grid>
      <ion-row *ngIf="myApertura.DALLE1">
        <ion-col class="ion-text-end">
          {{ myApertura.DALLE1 | date:'h:mm a'}} - {{ myApertura.ALLE1 | date:'h:mm a'}}
        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="myApertura.DALLE2">
        <ion-col class="ion-text-end">
          {{ myApertura.DALLE2 | date:'h:mm a'}} - {{ myApertura.ALLE2 | date:'h:mm a'}}
        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="!myApertura.isOpen()">
        <ion-col class="ion-text-center">
          <ion-button 
            size="small" 
            color="danger" 
            expand="full"
            class="ion-no-margin">CHIUSO</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-col>

</ion-row>


