<ion-row class="ion-padding-start ion-align-items-center row-border">
  <ion-col size="6">
    {{ myApertura.getLabel() | titlecase}}
  </ion-col>

  <ion-col size="6" class="ion-no-padding">
    
      <ion-row *ngIf="myApertura.DALLE1" class="ion-no-padding">
        <ion-col class="ion-text-center ion-no-padding">

          <ion-chip [color]="colorChip">
            <ion-icon 
                name="time-outline"></ion-icon>
            <ion-label>{{ myApertura.DALLE1 | date:'HH:mm'}} - {{ myApertura.ALLE1 | date:'HH:mm'}}</ion-label>
          </ion-chip>
        </ion-col>

      </ion-row>
  
      <ion-row *ngIf="myApertura.DALLE2" class="ion-no-padding">
        <ion-col class="ion-text-center ion-no-padding">

          <ion-chip [color]="colorChip">
            <ion-icon 
                name="time-outline"></ion-icon>
            <ion-label>{{ myApertura.DALLE2 | date:'HH:mm'}} - {{ myApertura.ALLE2 | date:'HH:mm'}}</ion-label>
          </ion-chip>

        </ion-col>
      </ion-row>

      <ion-row *ngIf=" myApertura.isAlwaysOpen" class="ion-no-padding">
        <ion-col class="ion-text-center ion-no-padding">

          <ion-chip color="success">
            <ion-label class="ion-text-bold">
              SEMPRE APERTO
            </ion-label>
          </ion-chip>

        </ion-col>
      </ion-row>
  
      <ion-row *ngIf="!myApertura.isOpen()" class="ion-no-padding">
        <ion-col class="ion-text-center ion-no-padding">
          <ion-chip color="danger">
            <ion-label class="ion-text-bold">
              OGGI CHIUSO
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    

  </ion-col>

</ion-row>




