<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="onCancelPayment()" >
        <ion-icon slot="icon-only" ios="close" md="close" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button 
      color="danger" 
      expand="block" 
      class="full-buttons" 
      (click)="onCancelPayment()">
      Aspetta, voglio modificare
  </ion-button>

  <div *ngIf="showProgressBar">
    <ion-card mode="ios">
      <ion-card-content>
        <p>Connessione con servizi di pagamento...</p>  
        <ion-progress-bar type="indeterminate"></ion-progress-bar> 
      </ion-card-content>
    </ion-card>
  </div> 

  <!-- PORZIONE CON ERRORI RILEVATI SULLA PIATTAFORMA DI PAGAMENTO -->
  <ion-accordion-group *ngIf="showErrorAccordion">
    <ion-accordion value="first">
      <ion-item slot="header" color="danger">
        <ion-label>Errori rilevati</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let item of listErrorMessage">
            <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
            <ion-label
              class="ion-no-wrap"
              >{{item}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>



  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{paymentData.amount | currency: paymentData.currency}}</ion-card-title>
      <ion-card-subtitle>{{paymentData.description}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Effettua il pagamento scegliendo la modalità preferita.
    </ion-card-content>
  </ion-card>   -->

   <ion-card class="ion-margin-horizontal">
      <ion-grid>
        <!-- IMPORTO PRENOTAZIONI -->
        <ion-row class="ion-align-items-center">
          <ion-col size="5" class="ion-text-center left-col">
            <h6 class="ion-no-margin ion-text-bold">Totale</h6>
          </ion-col>
          <ion-col size="7">
            <h5 class="ion-no-margin ion-text-right ion-text-bold">{{paymentData.amount | currency: paymentData.currency}}</h5>
          </ion-col>
        </ion-row>
      </ion-grid>

      </ion-card>

  <!-- AREA PAYPAL -->
  <div class="cart-items" *ngIf = "showPaypal">
    <ion-card mode="ios">

      <!-- INIZIO PULSANTE PAYPAL -->
      <ion-card-content>
        <!-- AREA BUTTON -->
        <div id="customBtnPaypal">
    
        </div>
      </ion-card-content>

    </ion-card>
  </div>

  <!-- AREA STRIPE -->
  <div *ngIf="showStripe">
    <ion-button
      (click)="onPrepareStripePaymentSheet()"
      color="success"
      expand="full">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      Paga con carta di credito
    </ion-button>
  </div>


 
</ion-content>
